﻿<!--<header id="header" data-ng-include="'template/header.html'"></header>-->
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <!--aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside-->

        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="saveapmcCtrl">
                <form ng-submit="questionnaireForm.$valid && saveApmc()" class="questionnaireForm" name="questionnaireForm" novalidate>
                   
                    
                       
                            <h3>Save APMC - {{apmc.apmcName}}</h3>
                    <div class="white-box">

                        <div class="row">
                            <div class="form-group fg-float col-md-6 m-b-30 top-half-buffer">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || apmc.title)}">
                                    <label class="fg-label">APMC Name</label>
                                    <textarea ng-model="apmc.apmcName" ng-change="CheckUniqueIfExists(apmc.apmcName,'APMC_NAME')" name="title" id="title" rows="2" style="resize: vertical;" class="form-control fg-input" required></textarea>
                                    <!--<input type="text" ng-model="apmc.apmcName" name="title" id="title" class="form-control fg-input titleinput" required />-->
                                    <label ng-if="isExists" class="fg-label text-danger">APMC Name already exists.</label>

                                    
                                </div>
                                <div ng-show="questionnaireForm.$submitted || questionnaireForm.title.$touched">
                                    <div class="help-block error logininput text-danger" ng-show="questionnaireForm.title.$error.required">Please enter Title</div>
                                </div>
                            </div>
                            <div class="form-group fg-float col-md-6 m-b-30 top-half-buffer">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || apmc.apmcDescription)}">
                                    <label class="fg-label">Description</label>
                                    <textarea ng-model="apmc.apmcDescription" id="apmcDescription" name="apmcDescription" rows="2" style="resize: vertical;" class="form-control fg-input" required></textarea>
                                    
                                </div>
                                <div ng-show="questionnaireForm.$submitted || questionnaireForm.apmcDescription.$touched">
                                    <div class="help-block error logininput text-danger" ng-show="questionnaireForm.apmcDescription.$error.required">Please enter Description.</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    
                       
                            <h3>APMC Expense</h3>
                        
                        <div class="white-box">
                            <div class="row">
                                <div class="form-group fg-float col-md-6 m-b-30">
                                    <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || apmc.apmcSettings.relatedCess)}">
                                        
                                        <label class="fg-label">Related Cess (%)</label>
                                        <input type="number" ng-model="apmc.apmcSettings.relatedCess" name="relatedCess" id="relatedCess" class="form-control fg-input titleinput" required />
                                    </div>
                                    <div ng-show="questionnaireForm.$submitted || questionnaireForm.relatedCess.$touched">
                                        <div class="help-block error logininput text-danger" ng-show="questionnaireForm.relatedCess.$error.required">Please enter Related Cess</div>
                                    </div>
                                </div>
                                <div class="form-group fg-float col-md-6 m-b-30">
                                    <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || apmc.apmcSettings.hamali)}">
                                        
                                        <label class="fg-label">Hamali</label>
                                        <input type="number" ng-model="apmc.apmcSettings.hamali" name="hamali" id="hamali" class="form-control fg-input titleinput" required />
                                    </div>
                                    <div ng-show="questionnaireForm.$submitted || questionnaireForm.hamali.$touched">
                                        <div class="help-block error logininput text-danger" ng-show="questionnaireForm.relatedCess.$error.required">Please enter Hamali.</div>
                                    </div>
                                </div>
                                <div class="form-group fg-float col-md-6 m-b-30">
                                    <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || apmc.apmcSettings.freight)}">
                                        
                                        <label class="fg-label">Freight</label>
                                        <input type="number" ng-model="apmc.apmcSettings.freight" name="freight" id="freight" class="form-control fg-input titleinput" required />
                                    </div>
                                    <div ng-show="questionnaireForm.$submitted || questionnaireForm.freight.$touched">
                                        <div class="help-block error logininput text-danger" ng-show="questionnaireForm.freight.$error.required">Please enter Freight</div>
                                    </div>
                                </div>
                                <div class="form-group fg-float col-md-6 m-b-30">
                                    <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || apmc.apmcSettings.sutli)}">
                                        <label class="fg-label">Sutli</label>
                                        <input type="number" ng-model="apmc.apmcSettings.sutli" name="sutli" id="sutli" class="form-control fg-input titleinput" required />
                                        
                                    </div>
                                    <div ng-show="questionnaireForm.$submitted || questionnaireForm.sutli.$touched">
                                        <div class="help-block error logininput text-danger" ng-show="questionnaireForm.sutli.$error.required">Please enter Sutli.</div>
                                    </div>
                                </div>
                                <div class="form-group fg-float col-md-6 m-b-30">
                                    <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || apmc.apmcSettings.scBrokerage)}">
                                        <label class="fg-label">SC (%)</label>
                                        <input type="number" ng-model="apmc.apmcSettings.sc" name="scBrokerage" id="scBrokerage" class="form-control fg-input titleinput" required />
                                       
                                    </div>
                                    <div ng-show="questionnaireForm.$submitted || questionnaireForm.scBrokerage.$touched">
                                        <div class="help-block error logininput text-danger" ng-show="questionnaireForm.scBrokerage.$error.required">Please enter SC</div>
                                    </div>
                                </div>
                                <div class="form-group fg-float col-md-6 m-b-30">
                                    <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || apmc.apmcSettings.brokerage)}">
                                        <label class="fg-label">Brokerage</label>
                                        <input type="number" ng-model="apmc.apmcSettings.brokerage" name="brokerage" id="brokerage" class="form-control fg-input titleinput" required />
                                       
                                    </div>
                                    <div ng-show="questionnaireForm.$submitted || questionnaireForm.brokerage.$touched">
                                        <div class="help-block error logininput text-danger" ng-show="questionnaireForm.brokerage.$error.required">Please enter Brokerage</div>
                                    </div>
                                </div>
                                <div class="form-group fg-float col-md-6 m-b-30">
                                    <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || apmc.apmcSettings.adat)}">
                                        <label class="fg-label">Adat (%)</label>
                                        <input type="number" ng-model="apmc.apmcSettings.adat" name="adat" id="adat" class="form-control fg-input titleinput" required />
                                       
                                    </div>
                                    <div ng-show="questionnaireForm.$submitted || questionnaireForm.adat.$touched">
                                        <div class="help-block error logininput text-danger" ng-show="questionnaireForm.adat.$error.required">Please enter Adat.</div>
                                    </div>
                                </div>
                                <!--<div class="form-group fg-float col-md-6 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || apmc.apmcSettings.packing)}">
                                    <input type="number" ng-model="apmc.apmcSettings.packing" name="packing" id="packing" class="form-control fg-input titleinput" required />
                                    <label class="fg-label">Packing</label>
                                </div>
                                <div ng-show="questionnaireForm.$submitted || questionnaireForm.packing.$touched">
                                    <div class="help-block error logininput" ng-show="questionnaireForm.packing.$error.required">Please enter Packing.</div>
                                </div>
                            </div>-->
                            </div>
                        </div>
                    
                   
                       
                            <h3>APMC Vendors</h3>
                        
                        <div class="white-box">
                            <div class="row">
                                <div class="row col-md-12">
                                    <div class="form-group col-sm-6 fg-float">
                                        <div class="fg-line input-field" ng-class="{'fg-toggled': true}">
                                            <label class="selectfield fg-label" for="category">Select a category...</label>
                                            <select ng-model="apmc.category" name="category" class="form-control" ng-change="changeCategory()" ng-options="category for category in categories" data-placeholder="Select a category..."></select>
                                           
                                        </div>
                                        <div ng-show="questionnaireForm.$submitted || questionnaireForm.category.$touched">
                                            <div class="help-block error logininput" ng-show="questionnaireForm.category.$error.required">Please select category.</div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6 m-b-30  fg-float top-half-buffer">
                                        <div class="top-half-buffer">
                                            <div class="row col-md-12 top-half-buffer">
                                                <div style="padding: 0px;margin-top: -4px;"
                                                     isteven-multi-select
                                                     class="col-md-12"
                                                     input-model="subcategories"
                                                     output-model="sub.selectedSubcategories"
                                                     button-label="subcategory"
                                                     item-label="subcategory"
                                                     tick-property="ticked"
                                                     max-labels="1"
                                                     max-height="150px"
                                                     on-item-click="selectSubcat(data)"
                                                     on-select-none="changeCategory()"
                                                     on-reset="selectSubcat(data)"
                                                     on-select-all="selectSubcat(data)">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-12">
                                    <!--<div class="col-md-3">
                                    </div>-->
                                    <div style="height:400px;max-height: 400px;overflow-y: auto;">
                                        <div class="table-responsive">
                                            <!-- <table class="table table-striped table-bordered"> -->
                                            <table class="table max-height-400">
                                                <thead>
                                                    <tr>
                                                        <th style="width:6px"></th>
                                                        <th>Company Name</th>
                                                        <th>Vendor Name</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="vendor in apmc.apmcVendors">
                                                        <td style="text-align:center;">
                                                            <div>
                                                                <input type="checkbox" id="{{vendor.vendorID}}" ng-click="selectForB(vendor)" value="{{vendor.vendorID}}" checked>
                                                                <label for="checkbox"></label>
                                                            </div>
                                                        </td>
                                                        <td><a class="selected-row" target="_blank" href="prm360.html#/viewprofile/{{vendor.vendorID}}"><span>{{vendor.companyName}}</span></a></td>
                                                        <td><strong class="selected-row">{{vendor.vendorName}}</strong></td>
                                                    </tr>
                                                    <tr ng-if="vendorsLoaded" ng-repeat="vendor in Vendors">
                                                        <td style="text-align:center">
                                                            <div class="checkbox m-t-0 m-b-0">
                                                                <input style="height:100px;width:200px;" type="checkbox" id="{{vendor.vendorID}}" ng-click="selectForA(vendor)" value="{{vendor.vendorID}}">
                                                                <label for="checkbox"></label>
                                                            </div>
                                                        </td>
                                                        <td><a target="_blank" href="prm360.html#/viewprofile/{{vendor.vendorID}}">{{vendor.companyName}}</a></td>
                                                        <td>{{vendor.vendorName}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                                <!--<div class="col-md-3"></div>-->
                            </div>
                            <br />
                            <div class="row text-center">
                                
                                <button class="btn btn-info btn-file btn-new-look" ng-click="saveApmc()" ng-if="isUserEntitled(360364)" ng-disabled="disableSaveAPMC || isExists">Save APMC</button>
                                <!--<button ng-click="saveApmc()" class="btn btn-info btn-file btn-new-look">save apmc</button>-->
                                <button class="btn btn-info btn-file btn-new-look" data-ui-sref="manageapmc">Cancel</button>
                            </div>
                        </div>
                    
                </form>
            </div>
          </div>
        </div>
    </div>

        <footer id="footer" data-ng-include="'template/footer.html'"></footer>
