﻿<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <!--<aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>-->
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="listPendingPOCtrl">
                <div class="white-box">

                    <div class="row">


                        <!--<div class="col-md-2">
            <h5><strong>Category</strong></h5>
            <multiselect class="input-xlarge" multiple="true"
                         ng-model="filters.categoryid"
                         options="item.name for item in filtersList.categoryidList"
                         change="setFilters(currentPage-1)"></multiselect>
        </div>


        <div class="col-md-2">
            <h5><strong>Product Name</strong></h5>
            <multiselect class="input-xlarge" multiple="true"
                         ng-model="filters.productid"
                         options="item.name for item in filtersList.productidList"
                         change="setFilters(currentPage-1)"></multiselect>
        </div>-->
                        <div class="col-md-2" ng-if="isCustomer">
                            <h5><strong>Supplier Name</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.supplier"
                                         options="item.name for item in filtersList.supplierList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>

                        <div class="col-md-2">
                            <h5><strong>PO Status</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.poStatus"
                                         options="item.name for item in filtersList.poStatusList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                        <!--<div class="col-md-2">
            <h5><strong>Delivery Status</strong></h5>
            <multiselect class="input-xlarge" multiple="true"
                         ng-model="filters.deliveryStatus"
                         options="item.name for item in filtersList.deliveryStatusList"
                         change="setFilters(currentPage-1)"></multiselect>
        </div>-->
                        <!--<div class="col-md-2" ng-if="isCustomer">
                            <h5><strong>Plant</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.plant"
                                         options="item.name for item in filtersList.plantList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>-->
                        <!--<div class="col-md-2" ng-if="isCustomer">
            <h5><strong>Purchase Group</strong></h5>
            <multiselect class="input-xlarge" multiple="true"
                         ng-model="filters.purchaseGroup"
                         options="item.name for item in filtersList.purchaseGroupList"
                         change="setFilters(currentPage-1)"></multiselect>
        </div>-->

                        <div class="col-md-2">
                            <h5><strong>From date</strong></h5>
                            <div class="col-md-12" moment-picker="filters.pendingPOFromDate" format="YYYY-MM-DD">
                                <input class="form-control" placeholder="Select a date" ng-model="filters.pendingPOFromDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>To date</strong></h5>
                            <div class="col-md-12" moment-picker="filters.pendingPOToDate" format="YYYY-MM-DD">
                                <input class="form-control" placeholder="Select a date" ng-model="filters.pendingPOToDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                        <div class="col-md-1"><button class="btn btn-info pull-right m-t-20 waves-effect waves-light" ng-click="filterByDate(currentPage-1);">Apply</button></div>

                    </div>
                    <div class="row">
                        <div class="col-md-12 pull-left" style="margin:15px">
                            <div class="col-md-2">
                                <!--<h5><strong>Search</strong></h5>-->
                                <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="setFilters(currentPage-1);" ng-model="filters.searchKeyword"
                                       ng-model-options="{debounce:1000}" type="text" placeholder="Search">
                            </div>
                            <div class="col-md-2">
                                <div style="border:1px solid #ccc">
                                    <h5 class="text-center" style="margin-top:5px;">No.of PO's ::  {{ pendingPOStats.totalPOs }}</h5>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div style="border:1px solid #ccc">

                                    <h5 class="text-center" style="margin-top:5px;">Awaiting Receipt ::  {{ pendingPOStats.totalAwaitingRecipt }}</h5>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div style="border:1px solid #ccc">
                                    <h5 class="text-center" style="margin-top:5px;">PO's not Initiated ::  {{ pendingPOStats.totalPOsNotInitiated}}</h5>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div style="border:1px solid #ccc">
                                    <h5 class="text-center" style="margin-top:5px;">No.of Partial Deliverables ::  {{pendingPOStats.totalPartialDeliverbles}}</h5>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row" ng-if="isCustomer">
                        <div class="col-md-12  table-responsive" double-scroll-bar-horizontal>
                            <table class="table-striped table">
                                <thead>
                                    <tr style="font-weight: bold">
                                        <th></th>
                                        <th>PRM PO Number</th>
                                        <th>PO Number</th>
                                        <!--<th style="min-width:100px;">PO Delivery Date</th>-->
                                        <!--<th style="min-width:100px;">Expected Receipt Date</th>-->
                                        <th>Supplier Name</th>
                                        <th>PO Status</th>
                                        <!--<th>Delivery Status</th>-->
                                        <!--<th>Plant</th>-->
                                        <!--<th>Purchase Group</th>-->
                                        <th>Vendor Code</th>
                                        <th>PO creator</th>
                                        <th style="min-width:100px;">PO Release Date</th>
                                        <!--<th>Net Prices</th>-->
                                        <th>Value</th>
                                        <th>Bill to Location</th>
                                        <th>Ship to Location</th>
                                        <!--<th>Currency</th>-->
                                        <th style="min-width:100px;">Actions</th>
                                        <!--<th>attach</th>-->
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr ng-repeat-start="pendingPODetails in filteredPendingPOsList">

                                        <td>
                                            <a role="button" ng-hide="pendingPODetails.expanded" ng-click="pendingPODetails.expanded = true;getPendingPOItems(pendingPODetails)" " title="More Details"><i class="fa fa-angle-right fa-2x"></i></a>
                                            <a role="button" ng-hide="!pendingPODetails.expanded" ng-click="pendingPODetails.expanded = false" title="Hide Details"><i class="fa fa-angle-down fa-2x"></i></a>&nbsp;
                                        </td>

                                        <td>{{pendingPODetails.PRM_PO_NUMBER}}</td>
                                        <td>{{pendingPODetails.PO_NUMBER}}</td>
                                        <!--<td style="min-width:100px;">{{pendingPODetails.DELIVERY_DATE}}</td>-->
                                        <!--<td style="min-width:100px;">{{pendingPODetails.PO_RECEIPT_DATE}}</td>-->
                                        <td>{{pendingPODetails.VENDOR_COMPANY}}</td>
                                        <td>{{pendingPODetails.PO_STATUS}}</td>
                                        <!--<td>{{pendingPODetails.DELIVERY_STATUS}}</td>-->
                                        <!--<td>{{pendingPODetails.PLANT_NAME}}</td>-->
                                        <!--<td>Purchase Group</td>-->
                                        <td>{{pendingPODetails.VENDOR_CODE}}</td>
                                        <td>{{pendingPODetails.PO_CREATOR}}</td>
                                        <td style="min-width:100px;">{{pendingPODetails.PO_RELEASE_DATE}}</td>
                                        <!--<td>{{pendingPODetails.NET_PRICE}}</td>-->
                                        <td>{{pendingPODetails.TOTAL_VALUE}}</td>
                                        <!--<td>{{pendingPODetails.CURRENCY}}</td>-->
                                        <td>{{pendingPODetails.BILL_TO_LOCATION_CODE}}</td>
                                        <td>{{pendingPODetails.SHIP_TO_LOCATION_CODE}}</td>
                                        <td style="min-width:100px;">
                                            <a title="View PO" role="button" ng-click="viewPO(pendingPODetails.PO_ID)"><i class="fa fa-info" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                            <!--<a title="Notify To Vendors" role="button"><i class="fa fa-bell" aria-hidden="true"></i></a>
                                            <button style="margin-top: 22px;" class="btn btn-info" ng-click="getPendingPOItems(pendingPODetails,'PO_PDF');" value="Export to PDF"><i class="fa fa-download" aria-hidden="true"></i></button>-->
                                        </td>
                                        <!--<td>
                            <div class="fileupload btn btn-sm btn-info waves-effect waves-light">
                                <span><i class="fa fa-upload  m-r-5"></i></span>
                                <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="{{$index}}" itemid="{{$index}}" multiple ng-file-select-items="onFileSelect($files)">
                            </div>
                            <label ng-if="attch.fileID > 0" ng-repeat="attch in pendingPODetails.multipleAttachments">
                                {{$index + 1}}.<a target="_blank" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionid}}">Download</a>
                                <strong ng-click="removeAttach($index)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br />
                            </label>
                            <label ng-if="attch.fileID <= 0" ng-repeat="attch in pendingPODetails.multipleAttachments">{{$index + 1}}.{{attch.fileName}}  <strong ng-click="removeAttach($index)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br /></label>

                            <a title="Save" role="button" ng-click="savePOInvoice(pendingPODetails,$index)"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>&nbsp;&nbsp;
                        </td>-->

                                    </tr>
                                    <tr ng-repeat-end ng-if="pendingPODetails.expanded">
                                        <td colspan="16">
                                            <table class="table-striped table">
                                                <thead>
                                                    <tr>
                                                        <th>PO Line Item</th>
                                                        <th>Item Name</th>
                                                        <th>Material Code</th>
                                                        <th>PO Delivery Date</th>
                                                        <th>Category</th>
                                                        <th>Ordered Qty</th>
                                                        <th>Unit Price</th>
                                                        <th>Item Value</th>
                                                        <th>Ship to Org.</th>
                                                        <th>Ship to Location</th>
                                                    </tr>

                                                </thead>
                                                <tr ng-repeat="item in pendingPODetails.pendingPOItems">
                                                    <td>{{item.PO_LINE_ITEM}}</td>
                                                    <td>{{item.PRODUCT_NAME}}</td>
                                                    <td>{{item.PRODUCT_CODE}}</td>
                                                    <td>{{item.DELIVERY_DATE}}</td>
                                                    <td>{{item.CATEGORY_CODE}}</td>
                                                    <td>{{item.ORDER_QTY}}</td>
                                                    <td>{{item.UNIT_PRICE}}</td>
                                                    <td>{{item.UNIT_PRICE * item.ORDER_QTY}}</td>
                                                    <td>{{item.SHIP_TO_ORGANIZATION_CODE}}</td>
                                                    <td>{{item.SHIP_TO_LOCATION_CODE}}</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <strong>Displaying: {{ pageSizeTemp }} - {{ ((pageSizeTemp +9)>pendingPOStats.totalPendingPOs)?(pendingPOStats.totalPendingPOs):(pageSizeTemp+9) }} of {{ pendingPOStats.totalPendingPOs }}</strong>
                            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-click="setPage(currentPage);" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>

                        </div>
                    </div>


                    <div class="row" ng-if="!isCustomer">
                        <div class="col-md-12  table-responsive" double-scroll-bar-horizontal>
                            <table class="table-striped table">
                                <thead>
                                    <tr style="font-weight: bold">
                                        <th></th>
                                        <th>PO Number</th>
                                        <th style="min-width:110px;">PO Release Date</th>
                                        <th>Bill to Location</th>
                                        <th>Ship to Location</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr ng-repeat-start="pendingPODetails in filteredPendingPOsList">

                                        <td>
                                            <a role="button" ng-hide="pendingPODetails.expanded" ng-click="pendingPODetails.expanded = true;getPendingPOItems(pendingPODetails)" " title="More Details"><i class="fa fa-angle-right fa-2x"></i></a>
                                            <a role="button" ng-hide="!pendingPODetails.expanded" ng-click="pendingPODetails.expanded = false" title="Hide Details"><i class="fa fa-angle-down fa-2x"></i></a>&nbsp;
                                        </td>
                                        <td>{{pendingPODetails.PO_NUMBER}}</td>
                                        <td style="min-width:100px;">{{pendingPODetails.PO_RELEASE_DATE}}</td>
                                        <td>{{pendingPODetails.BILL_TO_LOCATION_CODE}}</td>
                                        <td>{{pendingPODetails.SHIP_TO_LOCATION_CODE}}</td>
                                        <td>
                                            <a title="View PO" role="button" ng-click="viewPO(pendingPODetails.PO_ID)"><i class="fa fa-info" aria-hidden="true"></i></a>
                                        </td>

                                    </tr>
                                    <tr ng-repeat-end ng-if="pendingPODetails.expanded">
                                        <td colspan="16">
                                            <table class="table-striped table">
                                                <thead>
                                                    <tr>
                                                        <th>PO Line Item</th>
                                                        <th>Item Name</th>
                                                        <th>Material Code</th>
                                                        <th>PO Delivery Date</th>
                                                        <th>Category</th>
                                                        <th>Ordered Qty</th>
                                                        <th>Unit Price</th>
                                                        <th>Item Value</th>
                                                    </tr>
                                                </thead>

                                                <tr ng-repeat="item in pendingPODetails.pendingPOItems">
                                                    <td>{{item.PO_LINE_ITEM}}</td>
                                                    <td>{{item.PRODUCT_NAME}}</td>
                                                    <td>{{item.PRODUCT_CODE}}</td>
                                                    <td>{{item.DELIVERY_DATE}}</td>
                                                    <td>{{item.CATEGORY_CODE}}</td>
                                                    <td>{{item.ORDER_QTY}}</td>
                                                    <td>{{item.UNIT_PRICE}}</td>
                                                    <td>{{item.UNIT_PRICE * item.ORDER_QTY}}</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <strong>Displaying: {{ pageSizeTemp }} - {{ ((pageSizeTemp +9)>pendingPOStats.totalPendingPOs)?(pendingPOStats.totalPendingPOs):(pageSizeTemp+9) }} of {{ pendingPOStats.totalPendingPOs }}</strong>
                            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-click="setPage(currentPage);" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>

                        </div>
                    </div>





                    <div class="modal fade" id="returnQuantityModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="exampleModalLabel"><strong>Return Quantity Schedule</strong></h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <div class="col-md-6">
                                                <label>PO Number</label>
                                                <div>
                                                    <input placeholder="PO Number" type="text" class="form-control" ng-model="pendingPODetails.PURCHASE_ORDER_ID" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label>PO Line Item</label>
                                                <div>
                                                    <input placeholder="PO Line Item" type="text" class="form-control" ng-model="pendingPODetails.poLineItem" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 form-group">
                                            <div class="col-md-6">
                                                <label>Returned Quantity</label>
                                                <div>
                                                    <input placeholder="Returned Quantity" type="number" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Expected Delivery Date</label>
                                                <div class="col-md-12" moment-picker="" format="YYYY-MM-DD">
                                                    <input class="form-control" placeholder="Select a date" ng-model-options="{ updateOn: 'blur' }">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-info">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="removeQuantityModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="exampleModalLabel"><strong>Remove Quantity Schedule</strong></h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <div class="col-md-6">
                                                <label>PO Number</label>
                                                <div>
                                                    <input placeholder="PO Number" type="text" class="form-control" ng-model="pendingPODetails.PURCHASE_ORDER_ID" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label>PO Line Item</label>
                                                <div>
                                                    <input placeholder="PO Line Item" type="text" class="form-control" ng-model="pendingPODetails.poLineItem" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 form-group">
                                            <div class="col-md-6">
                                                <label>PO Quantity</label>
                                                <div>
                                                    <input placeholder="Returned Quantity" type="number" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label>GRN Quantity</label>
                                                <div>
                                                    <input placeholder="Returned Quantity" type="number" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <label>Comments</label>
                                            <div>
                                                <textarea class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-info">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="cancelOrderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="exampleModalLabel"><strong>Cancel Order</strong></h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <div class="col-md-6">
                                                <label>PO Number</label>
                                                <div>
                                                    <input placeholder="PO Number" type="text" class="form-control" ng-model="pendingPODetails.PURCHASE_ORDER_ID" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label>PO Line Item</label>
                                                <div>
                                                    <input placeholder="PO Line Item" type="text" class="form-control" ng-model="pendingPODetails.poLineItem" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 form-group">
                                            <div class="col-md-6">
                                                <label>PO Quantity</label>
                                                <div>
                                                    <input placeholder="Returned Quantity" type="number" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label>GRN Quantity</label>
                                                <div>
                                                    <input placeholder="Returned Quantity" type="number" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <label>Comments</label>
                                            <div>
                                                <textarea class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-info">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="viewGRNModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="exampleModalLabel"><strong>GRN Details</strong></h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12 table-responsive">
                                            <table class="table tablesaw table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr style="font-weight: bold">
                                                        <th style="text-align:center">PO Number</th>
                                                        <th style="text-align:center">PO Line Item</th>
                                                        <th style="text-align:center">Item Last Received Date</th>
                                                        <th style="text-align:center">Received Quantity</th>
                                                        <th style="text-align:center">Rejected Quantity</th>
                                                        <th style="text-align:center">Vendor Name</th>
                                                        <!--<th style="text-align:center">GRN Item</th>
                                        <th style="text-align:center">GRN No</th>
                                        <th style="text-align:center">View GRN</th>-->
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr>
                                                        <td style="text-align:center">PO Number</td>
                                                        <td style="text-align:center">PO Line Item</td>
                                                        <td style="text-align:center">Item Last Received Date</td>
                                                        <td style="text-align:center">Received Quantity</td>
                                                        <td style="text-align:center">Rejected Quantity</td>
                                                        <td style="text-align:center">Vendor Name</td>
                                                        <!--<td style="text-align:center">GRN Item</td>
                                        <td style="text-align:center">GRN No</td>
                                        <td style="text-align:center">View GRN</td>-->
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!--</div>-->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <!--<div class="modal fade" id="uploadInvoiceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel"><strong>Invoice Details</strong></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 table-responsive">
                        <table class="table tablesaw table-striped table-bordered table-hover">
                            <thead>
                                <tr style="font-weight: bold">
                                    <th style="text-align:center">PO Number</th>
                                    <th style="text-align:center">Invoice number</th>
                                    <th>Upload-del Invoice</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="item in invoiceList">
                                    <td style="text-align:center">{{item.PO_NUMBER}}</td>
                                    <td style="text-align:center">{{item.INVOICE_NUMBER}}</td>


                                    <td>
                                        <label ng-if="attch.fileID > 0" ng-repeat="attch in item.multipleAttachments">
                                            {{$index + 1}}.<a target="_blank" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionID}}">{{attch.fileID}}</a>
                                        </label>&nbsp;&nbsp;
                                        <a title="Delete Invoice" role="button" ng-click="deletePOInvoice(item.PO_NUMBER,item.INVOICE_NUMBER,$index)"><i class="fa fa-trash" aria-hidden="true"></i></a>

                                    </td>
                                </tr>
                            </tbody>
                        </table>-->
                    <!--</div>-->
                    <!--</div>
                    </div>
                </div>

            </div>
        </div>
    </div>-->


                    <div class="modal fade" id="uploadInvoiceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content" style="width:950px;">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="exampleModalLabel"><strong>Invoice Details</strong></h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" ng-click="cancelInvoice(selectedPODetails,selectedIndex)">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group fg-float col-md-6 top-half-buffer">
                                                <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.INVOICE_NUMBER)}">
                                                    <label class="fg-label"><strong>Invoice Number</strong></label>
                                                    <input type="text" ng-model="selectedPODetails.INVOICE_NUMBER" name="invoiceNo" id="invoiceNo" class="form-control fg-input" />
                                                    <span style="color:red" ng-show="!selectedPODetails.INVOICE_NUMBER">
                                                        Invoice Number is required.
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group fg-float col-md-6 top-half-buffer">
                                                <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.INVOICE_AMOUNT)}">
                                                    <label class="fg-label"><strong>Invoice Amount</strong></label>
                                                    <input type="text" ng-model="selectedPODetails.INVOICE_AMOUNT" name="invoiceAmount" id="invoiceAmount" class="form-control fg-input" />

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group fg-float col-md-7">
                                                <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.COMMENTS)}">
                                                    <label class="fg-label"><strong>Comments</strong></label>
                                                    <textarea type="text" ng-model="selectedPODetails.COMMENTS" name="comments" id="comments" rows="2" style="resize: vertical;" class="form-control fg-input" />

                                                </div>
                                            </div>
                                            <div class="form-group fg-float col-md-5">
                                                <div class="fileupload btn btn-sm btn-info waves-effect waves-light">
                                                    <span><i class="fa fa-upload  m-r-5"></i></span>
                                                    <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="{{selectedIndex}}" itemid="{{selectedIndex}}" multiple ng-file-select-items="onFileSelect($files)">
                                                </div>
                                                <label ng-if="attch.fileID <= 0" ng-repeat="attch in selectedPODetails.multipleAttachments">{{selectedIndex + 1}}.{{attch.fileName}}  <strong ng-click="removeAttach(selectedIndex,selectedPODetails)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br /></label>
                                            </div>
                                        </div>
                                        <div class="col-md-12 m-b-10 text-center">
                                            <button class="btn btn-info btn-file btn-new-look" ng-click="savePOInvoice(selectedPODetails,selectedIndex)">Save Invoice</button>
                                            <button class="btn btn-link btn-file btn-new-look" ng-click="cancelInvoice(selectedPODetails,selectedIndex)" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 table-responsive">
                                            <table class="table tablesaw table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:center">PO Number</th>
                                                        <th style="text-align:center">Invoice number</th>
                                                        <th>Dowload Invoice</th>
                                                        <th>Delete</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr ng-repeat="item in invoiceList">
                                                        <td style="text-align:center">{{item.PO_NUMBER}}</td>
                                                        <td style="text-align:center">{{item.INVOICE_NUMBER}}</td>
                                                        <td>
                                                            <label ng-if="attch.fileID > 0" ng-repeat="attch in item.attachmentsArray">
                                                                <a target="_blank" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionID}}">{{attch.fileName}}</a>
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <a title="Delete Invoice" role="button" ng-click="deletePOInvoice(item.PO_NUMBER,item.INVOICE_NUMBER,$index)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!--</div>-->
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="modal fade" id="ASNList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content" style="width:950px;">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="exampleModalLabel"><strong>ASN List</strong></h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12 table-responsive">
                                            <table class="table tablesaw table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:center">PO Number</th>
                                                        <th style="text-align:center">ASN Code</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr ng-repeat="item in asnList">
                                                        <td style="text-align:center">{{item.PO_NUMBER}}</td>
                                                        <td style="text-align:center">
                                                            <a title="Edit ASN/Delivery" role="button" ng-click="goToDispatchTrackForm(item.PO_NUMBER,item.ASN_CODE)">
                                                                {{item.ASN_CODE}}
                                                            </a>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>

                    
                    <table class="table" style="border:1px solid black;width:100%" id="pdfTable" ng-show="false">
                        <tr>
                            <td colspan="2" style="text-align:left;border-top: 1px solid black;border-bottom:1px solid black;">
                                <img ng-if="pendingPOItems[0].BRANCH_LOCATION != 'Francistown Academic Hospital'" src="js/resources/images/indus_logo.jpg" style="width:120px;height:120px;">
                                <img ng-if="pendingPOItems[0].BRANCH_LOCATION === 'Francistown Academic Hospital'" src="js/resources/images/FAH Logo.png" style="width:200px;height: 120px;">
                            </td>
                            <td colspan="7" style="text-align:center;vertical-align:bottom;border-top: 1px solid black;border-bottom: 1px solid black;padding-right:160px;">
                                <strong style="font-size: 20px;">{{pendingPOItems[0].BRANCH_LOCATION}}</strong>
                                <br />
                                <span style="font-size: 11px;white-space: pre-line" ng-bind-html="pendingPOItems[0].BRANCH_LOCATION_ADDR_1"></span>
                                <br />
                                <h4 style="text-align:center">Purchase Order [Supplier Copy]</h4>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="3">
                                <table style="border-collapse:collapse">
                                    <tr><td><strong>M/S.</strong></td><td>{{pendingPOList1[0].VENDOR_COMPANY ? pendingPOList1[0].VENDOR_COMPANY : '-'}}</td></tr>
                                    <tr><td></td><td>{{pendingPOList1[0].ADDRESS ? pendingPOList1[0].ADDRESS : '-'}}</td></tr>
                                    <tr><td></td><td>{{pendingPOList1[0].VENDOR_PRIMARY_PHONE_NUMBER ? pendingPOList1[0].VENDOR_PRIMARY_PHONE_NUMBER : '-'}}</td></tr>
                                    <tr><td></td><td>{{pendingPOList1[0].VENDOR_PRIMARY_EMAIL ? pendingPOList1[0].VENDOR_PRIMARY_EMAIL : '-'}}</td></tr>
                                </table>
                            </td>
                            <td colspan="4">
                                <table style="border-collapse:collapse">
                                    <tr><td><strong>Order No : </strong></td><td>{{pendingPOList1[0].PO_NUMBER ? pendingPOList1[0].PO_NUMBER: '-'}}</td></tr>
                                    <tr><td><strong>Order Date : </strong></td><td>{{pendingPOList1[0].DATE_CREATED ? pendingPOList1[0].DATE_CREATED : '-'}}</td></tr>
                                    <tr><td><strong>Delivery Date : </strong></td><td>{{pendingPOList1[0].DELIVERY_DATE ? pendingPOList1[0].DELIVERY_DATE : '-'}}</td></tr>
                                    <!--<tr><td><strong>Through carrier : </strong></td><td>{{pendingPOList1[0].PO_NUMBER ? pendingPOList1[0].PO_NUMBER : '-'}}</td></tr>-->
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center;border-top:1px solid black;border-right: 1px solid black;"><strong>Description of goods</strong></td>
                            <td style="text-align:center;border-top:1px solid black;border-right: 1px solid black;"><strong>Order Qty</strong></td>
                            <td style="text-align:center;border-top:1px solid black;border-right: 1px solid black;"><strong>Rate</strong></td>
                            <td style="text-align:center;border-top:1px solid black;border-right: 1px solid black;"><strong>Amount</strong></td>
                            <td style="text-align:center;border-top:1px solid black;border-right: 1px solid black;"><strong>Discount</strong></td>
                            <td style="text-align:center;border-top:1px solid black;border-right: 1px solid black;"><strong>Vat Tax</strong></td>
                            <td style="text-align:center;border-top:1px solid black;"><strong>Net Amount</strong></td>
                        </tr>
                        <tr ng-repeat="item in pendingPOItems">
                            <td style="text-align: center; border-top: 1px solid black; border-right: 1px solid black; ">
                                {{item.PRODUCT_NAME}}
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                            </td>
                            <td style="text-align: center; border-top: 1px solid black; border-right: 1px solid black; ">
                                {{item.ORDER_QTY}}
                            </td>
                            <td style="text-align: center; border-top: 1px solid black; border-right: 1px solid black; ">
                                {{item.NET_PRICE / item.ORDER_QTY}}
                            </td>
                            <td style="text-align: center; border-top: 1px solid black; border-right: 1px solid black; ">
                                {{item.ORDER_QTY * (item.NET_PRICE / item.ORDER_QTY)}}
                            </td>
                            <td style="text-align: center; border-top: 1px solid black; border-right: 1px solid black; ">
                                {{item.ITEM_DISCOUNT_VALUE}}
                            </td>
                            <td style="text-align: center; border-top: 1px solid black; border-right: 1px solid black; ">
                                {{item.CGST}}
                            </td>
                            <td style="text-align: center; border-top: 1px solid black;">
                                {{item.TOTAL_VALUE}}
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center; border-top: 1px solid black; border-bottom: 1px solid black;border-right: 1px solid black;"><strong>Totals</strong></td>
                            <td style="text-align:center;border-top: 1px solid black;border-bottom: 1px solid black;border-right: 1px solid black;"><strong>Qty</strong></td>
                            <td style="text-align:center;border-top: 1px solid black;border-bottom: 1px solid black;border-right: 1px solid black;"></td>
                            <td style="text-align:center;border-top: 1px solid black;border-bottom: 1px solid black;border-right: 1px solid black;"><strong>Gross Amount</strong></td>
                            <td style="text-align:center;border-top: 1px solid black;border-bottom: 1px solid black;border-right: 1px solid black;"><strong>Discount</strong></td>
                            <td style="text-align:center;border-top: 1px solid black;border-bottom: 1px solid black;border-right: 1px solid black;"><strong>Tax Amount</strong></td>
                            <td style="text-align:center;border-top: 1px solid black;border-bottom: 1px solid black;"><strong>Other Charges</strong></td>
                        </tr>
                        <tr>
                            <td style="text-align: center;border-bottom: 1px solid black;border-right: 1px solid black;">
                            </td>
                            <td style="text-align:center;border-bottom: 1px solid black;border-right: 1px solid black;">
                                {{totalQty}}
                            </td>
                            <td style="text-align:center;border-bottom: 1px solid black;border-right: 1px solid black;">
                            </td>
                            <td style="text-align:center;border-bottom: 1px solid black;border-right: 1px solid black;">
                                {{grossAmount}}
                            </td>
                            <td style="text-align:center;border-bottom: 1px solid black;border-right: 1px solid black;">
                                {{discount}}
                            </td>
                            <td style="text-align:center;border-bottom: 1px solid black;border-right: 1px solid black;">
                                {{taxAmount}}
                            </td>
                            <td style="text-align:center;border-bottom: 1px solid black;">
                                {{otherCharges}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" style="text-align:right;border: none;"><strong>Approximate Order Value:-</strong></td>
                            <td style="border: none;"></td>
                            <td colspan="2" style="text-align:center;border: none;"><strong>{{appOverallValue}}</strong></td>
                        </tr>
                        <tr>
                            <td colspan="7" style="text-align: right; border: none;">E.& O.E.</td>
                        </tr>
                        <tr>
                            <td colspan="7" style="border: none;"><strong>Ordered Amount(in words):</strong></td>
                        </tr>
                        <tr>
                            <td colspan="7" style="border: none;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{appOverallValue ? toWords(appOverallValue) : '-'}}</td>
                        </tr>
                        <tr>
                            <td colspan="7" style="border: none;"><strong>Terms & Conditions:</strong></td>
                        </tr>
                        <tr>
                            <td colspan="7" style="border: none;"><div class="col-md-4 pull-left" style="word-wrap:break-word;padding: 0;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{pendingPOList1[0].PAYMENT_TERMS}}</div></td>
                        </tr>
                        <tr>&nbsp;</tr>
                        <tr>&nbsp;</tr>
                        <tr>&nbsp;</tr>
                        <tr>
                            <td colspan="7" style="text-align: right; border: none;">For {{pendingPOItems[0].BRANCH_LOCATION}}</td>
                        </tr>
                        <tr>
                            <td colspan="7" style="text-align:right;border-top:none;border-bottom:1px solid black;">
                                <label style="color:lightgreen">{{pendingPOList1[0].PO_CREATOR}}</label>
                                <br />
                                Authorised Signatory
                            </td>
                        </tr>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>

    <footer id="footer" data-ng-include="'template/footer.html'"></footer>
