﻿<style>
    .col-sm-12 strong span {
        color: grey
    }
</style>


<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <!--<aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>-->
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="listPendingPOOverallCtrl">
                <div class="white-box">
                    <div class="col-md-12">
                        <h3><strong>PO Number :{{filteredPendingPOsList.PO_NUMBER}}</strong></h3>
                    </div><br /><br />

                    <div class="row">

                        <div class="col-md-12">
                            <div class="col-md-3" style="text-align:left">
                                <h4 class="text-primary"><strong>PO Details</strong></h4>
                                <hr style="border:1px solid black">
                                <div class="col-sm-12">
                                    <div><strong><span>PRM PO Number: </span>{{filteredPendingPOsList.PRM_PO_NUMBER}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>PO Number: </span>{{filteredPendingPOsList.PO_NUMBER}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Ordered Qty: </span>{{billedQty | roundedDecimalDisplay : companyRoundingDecimalSetting}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>PO creator: </span>{{filteredPendingPOsList.PO_CREATOR}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>PO Value: </span>{{filteredPendingPOsList.TOTAL_VALUE | roundedDecimalDisplay : companyRoundingDecimalSetting}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>PO closed Date: </span>{{filteredPendingPOsList.PO_CLOSED_DATE}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>PO Release Date: </span>{{filteredPendingPOsList.PO_RELEASE_DATE}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Bill To Location: </span>{{filteredPendingPOsList.BILL_TO_LOCATION_CODE}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Ship To Location: </span>{{filteredPendingPOsList.SHIP_TO_LOCATION_CODE}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Deparment Code: </span>{{filteredPendingPOsList.DEPARTMENT_CODE}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Org. Code: </span>{{filteredPendingPOsList.ORG_ID}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>PO Status: </span>{{filteredPendingPOsList.PO_STATUS}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Delivery Status: </span>{{filteredPendingPOsList.DELIVERY_STATUS}}</strong></div>
                                </div><br /><br />
                            </div>
                            <div class="col-md-3" style="text-align:left">
                                <h4 class="text-danger"><strong>Vendor Details</strong></h4>
                                <hr style="border:1px solid black">
                                <div class="col-sm-12">
                                    <div><strong><span>Vendor Name: </span>{{filteredPendingPOsList.VENDOR_COMPANY}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Vendor Code: </span>{{filteredPendingPOsList.VENDOR_CODE}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Vendor Site Code: </span>{{filteredPendingPOsList.VENDOR_SITE_CODE}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Vendor Primary Email: </span>{{filteredPendingPOsList.VENDOR_PRIMARY_EMAIL}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Vendor Primary Phone Number: </span>{{filteredPendingPOsList.VENDOR_PRIMARY_PHONE_NUMBER}}</strong></div>
                                </div><br /><br />
                                <!--<div class="col-sm-12">
                    <div><strong><span>Purchase Group: </span>{{filteredPendingPOsList.PURCHASE_GROUP}}</strong></div>
                </div><br /><br />-->
                            </div>

                            <div class="col-md-3" style="text-align:left" ng-if="isCustomer">
                                <h4 class="text-danger"><strong>PR Details</strong></h4>
                                <hr style="border:1px solid black">
                                <div class="col-sm-12">
                                    <div><strong><span>PR Number: </span>{{filteredPendingPOsList.PR_NUMBER}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Is Budgeted: </span>{{filteredPendingPOsList.IS_BUDGETED ? filteredPendingPOsList.IS_BUDGETED : 'NO'}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Budget Allocated: </span>{{filteredPendingPOsList.BUDGET_ALLOCATED}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Budget Available: </span>{{filteredPendingPOsList.BUDGET_AVAILABLE}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Budget Used: </span>{{filteredPendingPOsList.BUDGET_USED}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Tentative Value: </span>{{filteredPendingPOsList.TENTATIVE_VALUE}}</strong></div>
                                </div><br /><br />

                            </div>

                        </div>
                        <h4><strong>Item Level</strong></h4>

                        <hr style="border:1px solid black">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-lg-12 table-responsive" double-scroll-bar-horizontal>
                                <table class="table">
                                    <thead>
                                        <tr style="font-weight: bold">

                                            <th>Item Name</th>
                                            <th>Material Code</th>
                                            <th style="min-width:100px;">PO Line Item</th>
                                            <th>Delivery Date</th>
                                            <th>Order Quantity</th>
                                            <th>UOM</th>
                                            <!--<th>Item Text PO</th>-->
                                            <th>CGST</th>
                                            <th>SGST</th>
                                            <th>IGST</th>
                                            <th>Unit Price</th>
                                            <th>Total Price</th>
                                            <th>Ship to Org.</th>
                                            <th>Ship to Location</th>
                                            <th>PR Number(s)</th>
                                            <th>PR Line Item(s)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in pendingPOItems">
                                            <td>{{item.PRODUCT_NAME}}</td>
                                            <td>{{item.PRODUCT_CODE}}</td>
                                            <td style="min-width:100px;">{{item.PO_LINE_ITEM}}</td>
                                            <td>{{item.DELIVERY_DATE}}</td>
                                            <td>{{item.ORDER_QTY | roundedDecimalDisplay : companyRoundingDecimalSetting}}</td>
                                            <td>{{item.UOM}}</td>
                                            <!--<td style="min-width:100px;">{{item.ITEM_TEXT_PO}}</td>-->
                                            <td>{{item.CGST | roundedDecimalDisplay : companyRoundingDecimalSetting}}</td>
                                            <td>{{item.SGST | roundedDecimalDisplay : companyRoundingDecimalSetting}}</td>
                                            <td>{{item.IGST | roundedDecimalDisplay : companyRoundingDecimalSetting}}</td>
                                            <td>{{item.UNIT_PRICE | roundedDecimalDisplay : companyRoundingDecimalSetting}}</td>
                                            <td>{{(item.TOTAL_VAL_WITH_TAX)  | roundedDecimalDisplay : companyRoundingDecimalSetting}}</td>
                                            <td>{{item.SHIP_TO_ORGANIZATION_CODE}}</td>
                                            <td>{{item.SHIP_TO_LOCATION_CODE}}</td>
                                            <td>{{item.PR_NUMBERS}}</td>
                                            <td>{{item.PR_ITEM_IDS}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>

                    <fieldset ng-if="isCustomer">
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-12">
                                <h3>PO Comments: {{filteredPendingPOsList.PO_COMMENTS}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6" ng-repeat="step in itemWorkflow[0].WorkflowTracks track by $index">
                                        <br />
                                        <br />
                                        <div class="row approvalRowHeight">
                                            <div class="col-md-12">
                                                <P ng-show="step.status == 'PENDING'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                    <strong> <label style="color:darkorange">{{step.status + ' By ' + ' - ' + step.approverDetails.firstName}}</label>({{step.approver.desigCode + ' ' + step.department.deptCode}}) </strong>
                                                </P>
                                                <span ng-show="step.status == 'APPROVED' || step.status == 'REJECTED' || step.status == 'HOLD'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                    <strong>{{step.status + ' By '+' - ' + step.approverDetails.approvedBy}}</strong>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 list-group-item" href="#"
                                                 ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}"
                                                 style="min-height:90px;">
                                                <div class="row">
                                                    <div class="col-md-1 col-xs-1">
                                                        <h5>{{$index + 1}}. </h5>
                                                    </div>
                                                    <div ng-class="(isApproverDisable($index) == true?'col-md-10 col-xs-11':'col-md-5 col-xs-5')" title="{{step.comments}}">
                                                        <textarea rows="2" cols="50" xss-sanitizer ng-model="step.comments" ng-disabled="isApproverDisable($index);" placeholder="Comments" type="text" class="form-control fg-input" style="resize: vertical;"></textarea>
                                                        <lable ng-hide="isApproverDisable($index);" class="text-danger">  {{commentsError}} </lable>
                                                    </div>
                                                    <div class="col-md-5 col-xs-5" ng-show="!isApproverDisable($index);">
                                                        <div class="row">
                                                            <div class="col-md-4 col-xs-4">
                                                                <i role="button" ng-click="updateTrack(step, 'HOLD')"><i class="fa fa-stop-circle fa-2x" style="color:brown;" title="Hold" aria-hidden="true"></i></i>
                                                                <small>Hold</small>
                                                            </div>
                                                            <div class="col-md-4 col-xs-4">
                                                                <i role="button" ng-click="updateTrack(step, 'APPROVED')"><i class="fa fa-thumbs-up fa-2x" style="color:#266A2D;" title="Approve" aria-hidden="true"></i></i>
                                                                <small>Approve</small>
                                                            </div>
                                                            <div class="col-md-4 col-xs-4">
                                                                <i role="button" ng-click="updateTrack(step, 'REJECTED')"><i class="fa fa-thumbs-down fa-2x" style="color:red;" title="Reject" aria-hidden="true"></i></i>
                                                                <small>Reject</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    &nbsp;
                                                </div>
                                                <div class="row" style="margin-top:0px;text-align:center">
                                                    <div>
                                                        <b ng-if="$index == 0">Received On: {{dateFormat(step.dateCreated)}}</b>
                                                        <b class="" ng-if="$index == 0 && (step.status == 'APPROVED' || step.status == 'REJECTED')"> / {{step.status}} On: {{dateFormat(step.dateModified)}}</b>
                                                        <b class="" ng-if="$index > 0 && itemWorkflow[0].WorkflowTracks[$index-1].status == 'APPROVED'">Received On: {{dateFormat(itemWorkflow[0].WorkflowTracks[$index-1].dateModified)}}</b>
                                                        <b class="" ng-if="$index > 0 && (step.status == 'APPROVED' || step.status == 'REJECTED')"> / {{step.status}} On: {{dateFormat(step.dateModified)}}</b>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div style='border-bottom:1px solid #ccc;'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            &nbsp;
                        </div>
                    </fieldset>

                </div>

            </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
