﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div ng-controller="savePODetailsCtrl">
                    <h4>Purchase Order</h4>
                    <fieldset>
                        <div class="row white-box">
                            <div class="col-md-6">
                                <label>Select Vendor</label>
                                <select data-placeholder="Select a vendor..." name="selectVendor" ng-model="currentUIVendor"
                                        ng-options="value.vendorCompany for value in selectedVendors"
                                        ng-change="filterSelectionChange()" class="form-control p-0">
                                </select>
                            </div>
                        </div>

                        <div class="row white-box">
                            <div class="col-md-3">
                                <label>PO NO<span class="text-danger"> *</span></label>
                                <input ng-disabled="true" type="text" ng-model="poDetails.PO_NUMBER" name="prno" id="prno" class="form-control" />
                            </div>

                            <div class="col-md-3">
                                <label>PRM PO NO<span class="text-danger"> *</span></label>
                                <input ng-disabled="true" type="text" ng-model="poDetails.PO_NUMBER" name="prno" id="prno" class="form-control" />
                            </div>
                            <div class="col-md-3">
                                <label for="urgency">PO Type<span class="text-danger"> *</span></label>
                                <input ng-disabled="true" type="text" ng-model="poDetails.PO_TYPE" name="prno" id="prno" class="form-control" />
                            </div>
                            <div class="col-md-3">
                                <label for="urgency">PO Release Date</label>
                                <input ng-disabled="true" type="text" ng-model="poDetails.PO_RELEASE_DATE" name="prno" id="prno" class="form-control" />
                            </div>
                            <div class="col-md-3">
                                <label for="urgency">Vendor Code</label>
                                <input ng-disabled="true" type="text" ng-model="poDetails.VENDOR_CODE" name="prno" id="prno" class="form-control" />
                            </div>
                            <div class="col-md-3">
                                <label for="urgency">Vendor Site Code</label>
                                <input ng-disabled="true" type="text" ng-model="poDetails.VENDOR_SITE_CODE" name="prno" id="prno" class="form-control" />
                            </div>
                            <div class="col-md-3">
                                <label for="urgency">Department Code</label>
                                <input ng-disabled="true" type="text" ng-model="poDetails.DEPARTMENT_CODE" name="prno" id="prno" class="form-control" />
                            </div>
                            <div class="col-md-3">
                                <label for="urgency">Org. Id</label>
                                <!--<input ng-disabled="true" type="text" ng-model="poDetails.ORG_ID" name="prno" id="prno" class="form-control" />-->
                                <select ng-model="poDetails.ORG_ID" class="form-control p-0" id="ORG_ID" required="">
                                    <option value="141">141</option>
                                    <option value="142">142</option>
                                    <option value="143">143</option>
                                    <option value="144">144</option>
                                    <option value="145">145</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="urgency">Total Value</label>
                                <input ng-disabled="true" type="text" ng-model="poDetails.TOTAL_VALUE" name="prno" id="prno" class="form-control" valid-number allow-decimal="true" allow-negative="false"/>
                            </div>
                            <div class="col-md-3">
                                <label for="urgency">Bill to location<span class="text-danger"> *</span></label>
                                <select data-placeholder="Select location..." name="selectedLocation" ng-model="poDetails.BILL_TO_LOCATION_ID" ng-options="location.LOCATION_ID as location.LOCATION_CODE for location in billTolocationCodes" class="form-control p-0"></select>
                                <div>
                                    <div class="help-block error logininput text-danger" ng-show="poBillToLocationError">Please select bill to location</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="urgency">Ship to location<span class="text-danger"> *</span></label>
                                <select data-placeholder="Select location..." name="selectedLocation" ng-model="poDetails.SHIP_TO_LOCATION_ID" ng-options="location.LOCATION_ID as location.LOCATION_CODE for location in shipTolocationCodes" class="form-control p-0"></select>
                                <div>
                                    <div class="help-block error logininput text-danger" ng-show="poShipToLocationError">Please select ship to location</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="urgency">PO Comments</label>
                                <textarea cols="100" rows="2" type="text" ng-model="poDetails.PO_COMMENTS" class="form-control fg-input" />
                            </div>
                        </div>
                        <div class="row white-box ">
                            <h5 ng-show="tableValidation" style="color:red;">{{tableValidationMsg}}</h5>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="min-width:100px;">
                                                SNO
                                            </th>
                                            <th class="text-center" style="min-width:200px;">
                                                Line Item
                                            </th>
                                            <th class="text-center" style="min-width:200px;">
                                                Item Name
                                            </th>
                                            <th class="text-center" style="min-width:150px;">
                                                Order Qty.
                                            </th>
                                            <th class="text-center" style="min-width:150px;">
                                                UOM
                                            </th>
                                            <th class="text-center" style="min-width:150px;">
                                                Unit Price
                                            </th>
                                            <th class="text-center" style="min-width:150px;">
                                                GST
                                            </th>
                                            <th class="text-center" style="min-width:150px;">
                                                Total Amount
                                            </th>
                                            <th class="text-center" style="min-width:150px;">
                                                Delivery Date<span class="text-danger"> *</span>
                                            </th>
                                            <th class="text-center" style="min-width:150px;">
                                                Ship to Org. Code<span class="text-danger"> *</span>
                                            </th>
                                            <th class="text-center" style="min-width:150px;">
                                                Ship to Location Code<span class="text-danger"> *</span>
                                            </th>
                                            <th class="text-center" style="min-width:150px;">
                                                PR Number
                                            </th>
                                            <th class="text-center" style="min-width:150px;">
                                                PR items
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="po in poDetails.PO_ITEMS" ng-init="parentIdx = $index">
                                        <tr>
                                            <td class="text-center" style="min-width:100px;">
                                                {{$index+1}}
                                            </td>
                                            <td class="text-center">
                                                <input type="text" class="form-control" ng-model="po.PO_LINE_ITEM" ng-disabled="true" />
                                            </td>
                                            <td class="text-center">
                                                <input type="text" class="form-control" ng-model="po.PRODUCT_CODE" ng-disabled="true" />
                                            </td>
                                            <td class="text-center" style="min-width:150px;">
                                                <input type="text" class="form-control" ng-model="po.ORDER_QTY" ng-disabled="true"  valid-number allow-decimal="true" allow-negative="false"/>
                                            </td>
                                            <td class="text-center" style="min-width:150px;">
                                                <input type="text" class="form-control" ng-model="po.UOM" ng-disabled="true" />
                                            </td>
                                            <td class="text-center" style="min-width:80px;">
                                                <input type="text" class="form-control" ng-model="po.UNIT_PRICE" ng-disabled="true"  valid-number allow-decimal="true" allow-negative="false"/>
                                            </td>
                                            <td class="text-center" style="min-width:100px;">
                                                <input type="text" class="form-control" ng-model="po.GST" ng-disabled="true"  valid-number allow-decimal="true" allow-negative="false"/>
                                            </td>
                                            <td class="text-center" style="min-width:100px;">
                                                <input type="text" class="form-control" ng-model="po.TOTAL_ITEM_AMOUNT_WITH_GST" ng-disabled="true"  valid-number allow-decimal="true" allow-negative="false"/>
                                            </td>
                                            <td class="text-center" style="min-width:150px;">
                                                <div class="col-md-12" moment-picker="po.DELIVERY_DATE" format="DD-MM-YYYY" min-date="minDateMoment">
                                                    <input class="form-control" placeholder="Select a date" ng-model="po.DELIVERY_DATE" ng-model-options="{ updateOn: 'blur' }">
                                                </div>
                                            </td>
                                            <td class="text-center" style="min-width:150px;">
                                                <!--<select data-placeholder="Select location..." name="selectedLocation" ng-model="po.SHIP_TO_ORGANIZATION_ID" ng-options="location.LOCATION_ID as location.LOCATION_CODE for location in deliveryTolocationCodes" class="form-control p-0"></select>-->
                                                <select ng-model="po.SHIP_TO_ORGANIZATION_CODE" class="form-control p-0" id="SHIP_TO_ORGANIZATION_CODE" required="">
                                                    <option value="USFB South Regional Office">USFB South Regional Office</option>
                                                    <option value="USFB North Regional Office">USFB North Regional Office</option>
                                                    <option value="USFB East Regional Office">USFB East Regional Office</option>
                                                    <option value="USFUSFB West Regional Office">USFB West Regional Office</option>
                                                </select>
                                            </td>
                                            <td class="text-center" style="min-width:150px;">
                                                <select data-placeholder="Select location..." name="selectedLocation" ng-model="po.SHIP_TO_LOCATION_ID" ng-options="location.LOCATION_ID as location.LOCATION_CODE for location in shipTolocationCodes" class="form-control p-0"></select>
                                            </td>
                                            <td class="text-center" style="min-width:100px;">
                                                <input type="text" class="form-control" ng-model="po.PR_NUMBERS" ng-disabled="true" />
                                            </td>
                                            <td class="text-center" style="min-width:100px;">
                                                <input type="text" class="form-control" ng-model="po.PR_LINE_ITEMS" ng-disabled="true" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                           
                            <div class="row">
                                <div class="col-md-12" style="font-size:18px;">
                                    <div class="row" ng-if="itemWorkflow.length <= 0 || (itemWorkflow[0].WorkflowTracks && itemWorkflow[0].WorkflowTracks.length <= 0)">
                                        <select ng-style="isErrorworkflowIDStyle" chosen name="workflowType" ng-model="workflowObj.workflowID"
                                                ng-options="wf.workflowID as wf.workflowTitle for wf in workflowList" required class="form-control-dropdown" ng-change="workflowChange()">
                                            <option value="">Select Workflow</option>
                                        </select>
                                        <div ng-show="workFlowValidation">
                                            <div class="help-block error logininput text-danger" ng-show="workFlowValidation">Please Select Workflow</div>
                                        </div>
                                        <strong ng-if="!isErrorworkflowID"> Approval workflow </strong><strong ng-if="isErrorworkflowID"
                                                                                                               class="text-danger">Approval workflow*</strong>
                                        <a role="button" ng-click="getWorkflows();" title="Reload workflows">
                                            <i class="fa fa-sync"></i>
                                        </a>
                                    </div>
                                    <div class="row" ng-show="itemWorkflow.length > 0 || itemWorkflow[0].WorkflowTracks || itemWorkflow[0].WorkflowTracks.length > 0">
                                        <select ng-style="isErrorworkflowIDStyle" chosen name="workflowType" ng-model="workflowObj.workflowID"
                                                ng-options="wf.workflowID as wf.workflowTitle for wf in workflowListTemp" required class="form-control-dropdown"
                                                ng-disabled="true">
                                            <option value="">Select Workflow</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center">
                            <button type="submit" class="btn btn-info btn-file btn-new-look" ng-if="poDetails.PO_ITEMS && poDetails.PO_ITEMS.length > 0" ng-click="submitPO()">Submit</button>
                            <button class="btn btn-info btn-file btn-new-look" ng-click="goToPrList();">Cancel</button>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6" ng-repeat="step in itemWorkflow[0].WorkflowTracks track by $index">
                                        <br />
                                        <br />
                                        <div class="row approvalRowHeight">
                                            <div class="col-md-12">
                                                <P ng-show="step.status == 'PENDING'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                    <!--<strong> {{step.status + ' By '+' - ' + step.approver.desigCode + ' ' + step.department.deptCode }}</strong>
                </br>-->
                                                    <strong> <label style="color:darkorange">{{step.status + ' By ' + ' - ' + step.approverDetails.firstName}}</label>({{step.approver.desigCode + ' ' + step.department.deptCode}}) </strong>
                                                </P>
                                                <span ng-show="step.status == 'APPROVED' || step.status == 'REJECTED' || step.status == 'HOLD'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                    <strong>{{step.status + ' By '+' - ' + step.approverDetails.approvedBy}}</strong>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 list-group-item" href="#"
                                                 ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}"
                                                 style="min-height:90px;">
                                                <div class="row">
                                                    <div class="col-md-1 col-xs-1">
                                                        <h5>{{$index + 1}}. </h5>
                                                    </div>
                                                    <div ng-class="(isApproverDisable($index) == true?'col-md-10 col-xs-11':'col-md-5 col-xs-5')" title="{{step.comments}}">
                                                        <textarea rows="2" cols="50" ng-model="step.comments" ng-disabled="isApproverDisable($index);" placeholder="Comments" type="text" class="form-control fg-input" style="resize: vertical;"></textarea>
                                                        <lable ng-hide="isApproverDisable($index);" class="text-danger">  {{commentsError}} </lable>
                                                    </div>
                                                    <div class="col-md-5 col-xs-5" ng-show="!isApproverDisable($index);">
                                                        <div class="row">
                                                            <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                <i role="button" ng-click="updateTrack(step, 'HOLD')"><i class="fa fa-stop-circle fa-2x" style="color:brown;" title="Hold" aria-hidden="true"></i></i>
                                                                <small>Hold</small>
                                                            </div>
                                                            <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                <i role="button" ng-click="updateTrack(step, 'APPROVED')"><i class="fa fa-thumbs-up fa-2x" style="color:#266A2D;" title="Approve" aria-hidden="true"></i></i>
                                                                <small>Approve</small>
                                                            </div>
                                                            <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                <i role="button" ng-click="updateTrack(step, 'REJECTED')"><i class="fa fa-thumbs-down fa-2x" style="color:red;" title="Reject" aria-hidden="true"></i></i>
                                                                <small>Reject</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    &nbsp;
                                                </div>
                                                <div class="row" style="margin-top:0px;text-align:center">
                                                    <div>
                                                        <b ng-if="$index == 0">Received On: {{dateFormat(step.dateCreated)}}</b>
                                                        <b class="" ng-if="$index == 0 && (step.status == 'APPROVED' || step.status == 'REJECTED')"> / {{step.status}} On: {{dateFormat(step.dateModified)}}</b>
                                                        <b class="" ng-if="$index > 0 && itemWorkflow[0].WorkflowTracks[$index-1].status == 'APPROVED'">Received On: {{dateFormat(itemWorkflow[0].WorkflowTracks[$index-1].dateModified)}}</b>
                                                        <b class="" ng-if="$index > 0 && (step.status == 'APPROVED' || step.status == 'REJECTED')"> / {{step.status}} On: {{dateFormat(step.dateModified)}}</b>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div style='border-bottom:1px solid #ccc;'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            &nbsp;
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>
