﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">

                <div ng-controller="IncoConfigurationCtrl">

                    <div class="white-box" ng-show="displayCard == 1 || displayCard == 0">
                        <div class="row">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>Company Configuration</h3>
                                </div>

                                <div class="form-group fg-float col-md-4 m-b-30">
                                    <button ng-if="!addnewconfigView" ng-click="editConfiguration(configuration,'INCO')" class="btn btn-info pull-right add-new-btn">Add New IncoTerm</button>
                                </div>
                            </div>
                            <div class="row">
                                <form name="companyConfigurationForm">
                                    <div ng-if="addnewconfigView">
                                        <div class="col-md-12">
                                            <div class="form-group fg-float col-md-3 m-b-30 top-half-buffer">
                                                <label class="fg-label">Inco Term<span style="color:red;">*</span></label>
                                                <div class="fg-line" ng-class="{'fg-toggled': (configuration.configValue)}">
                                                    <input type="text" ng-model="configuration.configValue" name="configValue" class="form-control fg-input" required />
                                                    <div ng-show="companyConfigurationForm.configValue.$touched">
                                                        <small class="help-block error logininput text-danger" ng-show="companyConfigurationForm.configValue.$error.required">Please Enter Incoterm Name.</small>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group fg-float col-md-3 m-b-30 top-half-buffer">
                                                <label class="fg-label">Inco Term Desc<span style="color:red;">*</span></label>
                                                <div class="fg-line" ng-class="{'fg-toggled': (configuration. configText)}">
                                                    <textarea type="text" ng-model="configuration.configText" name="configText" rows="1" style="resize: vertical;" class="form-control fg-input" required />
                                                    <div ng-show="companyConfigurationForm.configText.$touched">
                                                        <small class="help-block error logininput text-danger" ng-show="companyConfigurationForm.configText.$error.required">Please Enter Incoterm Discription.</small>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-md-12 text-center">
                                                <button class="btn btn-info btn-file btn-new-look" ng-click="SaveCompanyConfiguration()" ng-disabled="!companyConfigurationForm.$valid">Save Inco</button>
                                                <button class="btn btn-link btn-file btn-new-look" ng-click="closeEditConfiguration()">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <br />
                            <div class="col-md-12">&nbsp;</div>

                            <div class="col-md-12 table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr style="font-weight: bold">
                                            <th style="width:15%">Inco Term</th>
                                            <th style="width:15%">Inco Term Description</th>
                                            <th style="width:15%">Created By Name</th>
                                            <th style="width:15%">Modified By Name</th>
                                            <th style="width:15%">Created On</th>
                                            <th style="width:15%">Modified On</th>
                                            <th style="width:15%; text-align:center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="IncoConfiguration in companyConfiguration.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                            <td>{{IncoConfiguration.configValue}}</td>
                                            <td>{{IncoConfiguration.configText}}</td>
                                            <td>{{IncoConfiguration.createdByName}}</td>
                                            <td>{{IncoConfiguration.modifiedByName}}</td>
                                            <td>{{IncoConfiguration.dateCreate}}</td>
                                            <td>{{IncoConfiguration.dateModified}}</td>
                                            <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                                                <a title="Edit Configuration" role="button" ng-click="editConfiguration(IncoConfiguration,'INCO')" class="fa-edit fa" style="width:30px; height:30px"></a>
                                                <a title="Delete Configuration" role="button" ng-click="deleteIncoConfiguration(IncoConfiguration, 0)" class="fa fa-trash-alt" style="width:30px; height:30px"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                            </div>
                        </div>


                        <div class="row">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>Inco Term Configuration</h3>
                                </div>


                                <div class="form-group fg-float col-md-4 m-b-30">
                                    <button ng-if="!addnewincoprodView" ng-click="editIncoConfiguration(product)" class="btn btn-info pull-right add-new-btn"> IncoTerm Configuration </button>
                                </div>
                            </div>
                            <div class="row">

                                <div ng-if="addnewincoprodView">
                                    <div class="col-md-12">
                                        <form name="incotermConfigurationForm">
                                            <div class="form-group fg-float col-md-4 m-b-30 ">
                                                <label>INCO_TERM<span style="color:red;">*</span></label>
                                                <select data-placeholder="Select Type" name="incoterm" id="inco" ng-model="product.config_ID" ng-options="term.compConfigID as (term.configValue +  ' (' + term.configText + ')') for term in companyConfiguration" class="form-control" required></select>
                                                <div ng-show="incotermConfigurationForm.incoterm.$touched">
                                                    <small class="help-block error logininput text-danger" ng-show="incotermConfigurationForm.incoterm.$error.required">Please select a Incoterm.</small>
                                                </div>
                                            </div>

                                            <div class="form-group fg-float col-md-4 m-b-30 ">
                                                <label>NON_CORE_PRODUCT<span style="color:red;">*</span></label>
                                                <select data-placeholder="Select Type" ng-model="product.prodID" name="noncoreproducts" ng-options="noncoreproduct.prodId as noncoreproduct.prodName for noncoreproduct in nonCoreproductsList" class="form-control" required>
                                                </select>
                                                <div ng-show="incotermConfigurationForm.noncoreproducts.$touched">
                                                    <small class="help-block error logininput text-danger" ng-show="incotermConfigurationForm.noncoreproducts.$error.required">Please select a product.</small>
                                                </div>
                                            </div>
                                            <div class="form-group fg-float col-md-4 m-b-30">
                                                <label class="fg-label">IS_EDIT<span style="color:red;">*</span></label>
                                                <select data-placeholder="Select Type" ng-model="product.isedit" ng-change="isValid(product)" name="isedit" class="form-control" required>
                                                    <option disabled selected>--select--</option>
                                                    <option value="0">Vendor</option>
                                                    <option value="1">Customer</option>
                                                </select>
                                                <div ng-if="incotermConfigurationForm.isedit.$touched">
                                                    <small class="help-block error logininput text-danger" ng-show="incotermConfigurationForm.isedit.$error.required">Please select.</small>
                                                </div>
                                            </div>
                                        </form>
                                    </div>



                                    <div class="col-md-12 text-center">
                                        <button class="btn btn-info btn-file btn-new-look" ng-click="SaveProductConfiguration()" ng-disabled="!incotermConfigurationForm.$valid">Save</button>
                                        <button class="btn btn-link btn-file btn-new-look" ng-click="closeEditIncoConfiguration()">Cancel</button>
                                    </div>
                                </div>
                            </div>


                            <br />
                            <div class="col-md-12">&nbsp;</div>

                            <div class="col-md-12 table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr style="font-weight: bold" >
                                            <th style="width:15%">Inco Term</th>
                                            <th style="width:15%">Product Name</th>
                                            <th style="width:15%">Is Edit</th>
                                            <th style="width:15%">Created By Name</th>
                                            <th style="width:15%">Created On</th>
                                            <!--<th style="width:20%; text-align:center">Actions</th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="products in productConfiguration.slice(((currentPage1-1)*itemsPerPage1), ((currentPage1)*itemsPerPage1))">
                                        <td>{{products.configText}}</td>
                                        <td>{{products.productName}}</td>
                                        <td ng-if="products.isCustomerEdit==1">Customer</td>
                                        <td ng-if="products.isVendorEdit==1">Vendor</td>
                                        <td>{{products.createdByName}}</td>
                                        <td>{{products.dateCreate}}</td>
                                        <!--<td data-title="'Actions'" sortable="'Actions'" style="text-align:center">
        <a title="Edit Department" role="button" ng-click="editDepartment(companyDepartment)" class="fa-edit fa" style="width:30px; height:30px"></a>
        <a title="Delete Department" role="button" ng-click="DeleteDepartment(companyDepartment)" class="fa fa-trash-alt" style="width:30px; height:30px"></a>
    </td>-->
                                        </tr>
                                    </tbody>
                                </table>
                                <ul uib-pagination total-items="totalItems1" ng-model="currentPage1" items-per-page="itemsPerPage1" max-size="maxSize1" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>
