﻿<style>
    ::-webkit-scrollbar {
        width: 0.9em;
        height: 1.5em !important;
    }

    .header-col {
        background-color: lightblue;
        border: 1px solid black;
        vertical-align: middle;
        min-height: 55px;
        max-height: 55px;
    }

    .body-col {
        background-color: white;
        text-align: left;
        vertical-align: top;
        border: 1px solid black;
        vertical-align: middle;
        padding-top: 10px;
        min-height: 100px;
        max-height: 100px;
        overflow-y: auto;
    }

    .header1-col {
        text-align: center;
        vertical-align: top;
        padding: 0;
        border-right: 1px solid black;
        min-height: 52px;
    }

    .sub-header-col {
        background-color: darkseagreen;
        border: 1px solid black;
        text-align: center;
        padding-top: 5px;
        min-height: 50px;
    }

    .sub-header-col-white {
        background-color: white;
        border: 1px solid black;
        text-align: center;
        padding-top: 5px;
        min-height: 40px;
    }

    .sub-body-col {
        background-color: lightblue;
        border: 1px solid black;
        text-align: center;
        padding-top: 5px;
        min-height: 50px;
        max-height: 50px;
        overflow-y: auto;
    }

    .sub-body-col-white {
        background-color: white;
        border: 1px solid black;
        text-align: center;
        padding-top: 5px;
        min-height: 40px;
    }
</style>

<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluidmin-width: 700px; background-color: lightblue; border: 1px solid black; text-align: center;">
                <div id="widget">
                    <div class="white-box" data-ng-controller="costComparisionsQcsCtrl">
                        <div class="white-box">
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-2">
                                        <img src="js/resources/images/client_logo.png" class="dark-logo" style="width:100px;height:44px;" />
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <span><input type="checkbox" ng-model="requirementDetails.includeGstInCal" /> Include Taxes &nbsp; &nbsp; &nbsp;</span>
                                        <button class="btn btn-info btn-sm" ng-show="editForm" ng-click="editFormPage()">View QCS</button>
                                        <button class="btn btn-info btn-sm" ng-show="!editForm && requirementDetails.status != 'STARTED' && isQCSFormdisabled && QCSDetails.IS_VALID == 1" ng-click="editFormPage()">Edit QCS</button>
                                        <button class="btn btn-info btn-sm"
                                                ng-click="routeToExcelView()"
                                                value="Export to Excel"
                                                ng-show="!editForm">
                                            <i class="fa fa-download" aria-hidden="true"></i>
                                            Export
                                        </button>
                                    </div>
                                    <div class="col-md-1 text-right">
                                        <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                            <i class="fa fa-user" aria-hidden="true"></i> Vendors
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li ng-repeat="vendor in qcsVendors" style="cursor:pointer;">
                                                <a ng-click="isVendorVisible(vendor)">
                                                    <i ng-class="(vendor.isSelected == true ? 'fa fa-check':'fa')" aria-hidden="true"></i> {{vendor.vendorCompany}}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-2 text-right">
                                        <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                            <i class="fa fa-user" aria-hidden="true"></i> Items
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li ng-repeat="item in qcsItems" style="cursor:pointer;">
                                                <a ng-click="isReqItemVisible(item)">
                                                    <i ng-class="(item.isSelected == true ? 'fa fa-check':'fa')" aria-hidden="true"></i> {{item.itemName}}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <br />
                                <div>
                                    <br />
                                    <div class="row" id="testTable" style="margin-left:15px;">
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="row" style="min-height:65px;background-color:lightblue;border:1px solid black;">
                                                    <div class="col-md-12">
                                                        <h4><strong>QUOTATIONS&nbsp;COMPARATIVE&nbsp;STATEMENT</strong></h4>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 header-col" style="min-height: 10px;overflow-y: auto;">
                                                        <strong>Plant Code(s):&nbsp;</strong>{{requirementDetails.PLANT_CODES}}
                                                        <strong>Purchase Group Code(s):&nbsp;</strong>{{requirementDetails.PURCHASE_GROUP_CODES}}
                                                    </div>
                                                    <div class="col-md-6 header-col">
                                                        <strong>QCS Id:&nbsp;</strong>{{qcsID > 0 ? qcsID : '-'}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 header-col">
                                                        &nbsp;&nbsp;<br />
                                                    </div>
                                                    <!--<div class="col-md-2 header-col">
                                    S.NO
                                </div>
                                <div class="col-md-4 header-col">
                                    HSN / SAC (HSN from RFQ)
                                </div>
                                <div class="col-md-4 header-col">
                                    ITEM DESCRIPTION (Product name)
                                </div>
                                <div class="col-md-2 header-col">
                                    QTY UOM
                                </div>-->
                                                </div>
                                                <div class="row" ng-repeat="item in requirementDetails.listRequirementItems" ng-if="item.isVisible">
                                                    <div class="col-md-1 body-col" style="border-bottom:none;" ng-style="item.maxHeight && {'min-height': item.maxHeight}">
                                                        <strong>{{$index + 1}}</strong>
                                                    </div>
                                                    <div class="col-md-6 body-col" style="border-bottom:1px solid black;padding-top:5px;" ng-style="item.maxHeight && {'min-height': item.maxHeight}">
                                                        <span ng-if="item.isCoreProductCategory > 0">{{prmFieldMappingDetails.PRODUCT_HSNCODE.FIELD_LABEL}}: <strong>{{item.hsnCode}}</strong><br /></span>
                                                        <span ng-if="item.isCoreProductCategory > 0">{{prmFieldMappingDetails.PRODUCT_QUANTITY.FIELD_LABEL}}:  <strong>{{item.productQuantity}}  {{item.productQuantityIn}}</strong><br /></span>
                                                        <span>{{prmFieldMappingDetails.PRODUCT_NAME.FIELD_LABEL}}:<strong>{{item.productIDorName}}</strong></span><br />
                                                        <!--<span>{{prmFieldMappingDetails.PRODUCT_CODE.FIELD_LABEL}}:<strong>{{item.productCode}}</strong><br /></span>-->
                                                        <span style="word-break: break-all;" ng-if="item.isCoreProductCategory > 0"> PR Number:  <strong>{{item.ITEM_PR_NUMBER ? item.ITEM_PR_NUMBER : '-'}} </strong><br /></span>
                                                        <span style="word-break: break-all;" ng-if="item.isCoreProductCategory > 0"> PO Quantity:  <strong>{{item.ITEM_PR_QUANTITY ? item.ITEM_PR_QUANTITY : '-'}} </strong><br /></span>
                                                        <span style="word-break: break-all;" ng-if="item.isCoreProductCategory > 0"> WBS Code :  <strong>{{item.PR_WBS_CODE ? item.PR_WBS_CODE : '-'}} </strong><br /></span>
                                                        <div class="row" style="margin-top: 15px;" ng-if="item.isCoreProductCategory">
                                                            <div class="col-md-12">
                                                                <strong>Contract Details:</strong>
                                                            </div>
                                                            <div class="col-md-12" style="margin-bottom:15px;" ng-repeat="contract in requirementItemContracts">
                                                                <div ng-if="contract.ProductId === item.catalogueItemID">
                                                                    <span>Vendor: {{contract.companyName}}</span><br />
                                                                    <span>Price: {{contract.price}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <span class="text-danger">{{item.error}}</span>
                                                    </div>
                                                    <div class="col-md-5  body-col" style="border-bottom:1px solid black;padding-top:5px;" ng-style="item.maxHeight && {'min-height': item.maxHeight}">
                                                        <div class="col-md-12" ng-if="item.isCoreProductCategory && 1==2">
                                                            <strong>Budget (FY 21):</strong>
                                                            <input ng-if="editForm && item.isCoreProductCategory" type="text" valid-number allow-decimal="true"
                                                                   allow-negative="false" decimal-upto="2" style="background-color: #f5b2b2;"
                                                                   class="form-control"
                                                                   ng-model="item.budget"
                                                                   ng-change="getValueLossorGain(item,requirementDetails.auctionVendors,item.budget)"
                                                                   ng-style="{'background-color': '#f5b2b2'}"
                                                                   required />
                                                            <span ng-if="!editForm">{{item.budget  | number : companyRoundingDecimalSetting}}</span>
                                                            <br />
                                                            <strong>Value Loss/Gain:</strong>
                                                            <br />
                                                            {{(item.budget && +(item.budget > 0) ? getValueLossorGain(item,requirementDetails.auctionVendors,item.budget) : 0) | number : companyRoundingDecimalSetting}}
                                                        </div>
                                                        <div class="col-md-12" ng-if="item.isCoreProductCategory">
                                                            <strong>LPP:</strong>
                                                            <input ng-if="editForm" type="text" valid-number allow-decimal="true"
                                                                   allow-negative="false" decimal-upto="3" style="background-color: #f5b2b2;"
                                                                   class="form-control"
                                                                   ng-model="item.LPPValue"
                                                                   ng-style="{'background-color': '#f5b2b2'}"
                                                                   required />
                                                            <br />
                                                            {{item.LPPValue | number : companyRoundingDecimalSetting}}
                                                        </div>
                                                        <div class="col-md-12" ng-if="item.isCoreProductCategory">
                                                            <strong>Quantity:</strong>
                                                            {{item.QUANTITY}}
                                                        </div>
                                                        <div class="col-md-12" ng-if="item.isCoreProductCategory">
                                                            <strong>Units:</strong>
                                                            {{item.RFQ_UNITS}}
                                                        </div>
                                                        <div class="col-md-12" ng-if="item.isCoreProductCategory">
                                                            <strong>Date Created:</strong>
                                                            {{item.DATE_CREATED}}
                                                        </div>
                                                        <div class="col-md-12" ng-if="item.isCoreProductCategory">
                                                            <strong>Comments:</strong>
                                                            <textarea ng-disabled="!editForm" type="text" style="background-color: #f5b2b2;"
                                                                      class="form-control"
                                                                      ng-model="item.LPP_COMENTS"
                                                                      ng-style="{'background-color': '#f5b2b2'}"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--<div class="row" ng-repeat="item in requirementDetails.listRequirementItems" ng-if="!item.isCoreProductCategory">
                                <div class="col-md-12 body-col">
                                    <strong>{{item.productIDorName}}</strong>
                                </div>
                            </div>-->
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col">
                                                        TOTAL BASIC
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col">
                                                        PAYMENT LOADING FACTOR (%)
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col-white">
                                                        TAXES LEVIED
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col">
                                                        CGST
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col">
                                                        SGST
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col">
                                                        IGST
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col">
                                                        REVERSE CHARGE IF ANY
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col">
                                                        GST ON SERVICE IF ANY
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col-white">
                                                        INPUT TAX CREDITS
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col">
                                                        CGST CREDIT
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col">
                                                        SGST CREDIT
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col">
                                                        IGST CREDIT
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col">
                                                        GST ON SERVICES CREDIT IF ANY
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col">
                                                        REVERSE CHARGE CREDIT / LIABILITY IF ANY
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col">
                                                        LANDED COST
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col">
                                                        Assigned Qty LANDED COST
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col">
                                                        SAVINGS
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col">
                                                        INCO TERMS
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col">
                                                        WARRANTY / GUARANTEE
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col">
                                                        {{prmFieldMappingDetails.DELIVERY_TERMS.FIELD_LABEL}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col">
                                                        {{prmFieldMappingDetails.PAYMENT_TERMS.FIELD_LABEL}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col">
                                                        VENDOR COMMENTS
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 sub-header-col">
                                                        PURCHASER VENDOR COMMENTS
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row" style="min-height:65px;background-color:lightblue;border:1px solid black;overflow-y:auto">
                                                <div class="col-md-12">
                                                    <!--<h3>RFQ Number: {{requirementDetails.requirementNumber}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Title: {{requirementDetails.title}}</h3>-->
                                                    <h3 style="max-height: 30px !important;">
                                                        RFQ Number: {{requirementDetails.requirementNumber}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <span title="{{requirementDetails.title}}">Title: {{requirementDetails.title}}</span>
                                                    </h3>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12" style="padding-left:0px; padding-right:0px;">
                                                    <div style="display:flex;flex-direction:row;max-width:100%;overflow-y:auto;">
                                                        <div class="col-md-{{vendorWidth}}" style="min-width:700px; background-color:lightblue;border:1px solid black;text-align:center;" ng-repeat="vendor in requirementDetails.auctionVendors" ng-if="vendor.isVisible">
                                                            <div class="row">
                                                                <div class="col-md-12 header-col">
                                                                    <strong>
                                                                        {{vendor.companyName}} ({{vendor.selectedVendorCurrency}}) <strong>Rank : {{CalculateRankBasedOnLandingPrice(vendor)}}</strong>
                                                                        <strong>Vendor Code : {{vendor.vendorCode ? vendor.vendorCode : '-'}}</strong>
                                                                        <br />
                                                                        <small ng-if="vendor.IS_QUOT_LATE == 1" class="text-danger">Quotation Submitted Late</small><br />
                                                                        <small ng-if="vendor.isQuotationRejected == -1">( QP: Not viewed )</small>
                                                                        <small ng-if="vendor.isQuotationRejected == 0" style="color:green">( QP: Approved )</small>
                                                                        <small ng-if="vendor.isQuotationRejected == 1" style="color:red;">( QP: Rejected )</small>
                                                                        <span ng-if="requirementDetails.status != 'UNCONFIRMED' && requirementDetails.status != 'NOTSTARTED' && requirementDetails.status != 'STARTED'">
                                                                            <small ng-if="vendor.isRevQuotationRejected == -1">( RP: Not viewed )</small>
                                                                            <small ng-if="vendor.isRevQuotationRejected == 0" style="color:green">( RP: Approved )</small>
                                                                            <small ng-if="vendor.isRevQuotationRejected == 1" style="color:red;">( RP: Rejected )</small>
                                                                        </span>
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row" style="font-size:12px;">
                                                                <div class="col-md-2 header-col">
                                                                    <strong>
                                                                        QTY DIST.
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 header-col">
                                                                    <strong>
                                                                        INIT RATE
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 header-col">
                                                                    <strong>
                                                                        DIS (%)
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 header-col">
                                                                    <strong>
                                                                        Final Rate/Unit <br /> <small>(FRP)</small>
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 header-col">
                                                                    <strong>
                                                                        Init Total Amount <br /> <small>(QTD x QTY)</small>
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 header-col">
                                                                    <strong>
                                                                        Rev Total Amount <br /> <small>(FRP x QTY)</small>
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row" ng-repeat="item in requirementDetails.listRequirementItems" ng-if="item.isVisible">
                                                                <div class="col-md-2 body-col">
                                                                    <strong>
                                                                        <strong ng-if="!editForm">
                                                                            {{getVendorItemPrices(item, vendor).qtyDistributed | number : companyRoundingDecimalSetting}}
                                                                        </strong>
                                                                        <input ng-if="editForm && item.isCoreProductCategory" type="text" valid-number allow-decimal="true"
                                                                               allow-negative="false" decimal-upto="3" style="background-color: #f5b2b2;"
                                                                               ng-change="checkQuantity(item,vendor)" ng-model="getVendorItemPrices(item, vendor).qtyDistributed"
                                                                               ng-model-options="{debounce:100}" class="form-control" ng-disabled="checkGMPValidity(item, vendor) || vendor.isQuotationRejected != 0"
                                                                               ng-style="checkGMPValidity(item, vendor) ? {'background-color':''} : {'background-color': '#f5b2b2'}"
                                                                               required />
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 body-col">
                                                                    <strong ng-if="item.isCoreProductCategory > 0 && requirementDetails.isDiscountQuotation !== 1">
                                                                        {{getVendorItemPrices(item, vendor).unitPrice | number : companyRoundingDecimalSetting}}
                                                                    </strong>
                                                                    <strong ng-if="item.isCoreProductCategory > 0 && requirementDetails.isDiscountQuotation === 1">
                                                                        {{getVendorItemPrices(item, vendor).unitMRP | number : companyRoundingDecimalSetting}}
                                                                    </strong>
                                                                    <!--<input ng-if="(isNonCoreItemEditable(item,vendor) && editForm) && requirementDetails.status == 'UNCONFIRMED'" type="text" valid-number allow-decimal="true"
                                                allow-negative="false" decimal-upto="2" style="background-color: #f5b2b2;"
                                                ng-change="unitPriceCalculation(getVendorItemPrices(item, vendor));"
                                                ng-model="getVendorItemPrices(item, vendor).unitPrice" class="form-control" required />-->
                                                                </div>
                                                                <div class="col-md-2 body-col">
                                                                    <strong ng-if="item.isCoreProductCategory > 0 && requirementDetails.isDiscountQuotation !== 1">
                                                                        {{((getVendorItemPrices(item, vendor).unitPrice - getVendorItemPrices(item, vendor).revUnitPrice)/getVendorItemPrices(item, vendor).unitPrice)*100 | number : companyRoundingDecimalSetting}}

                                                                    </strong>
                                                                    <strong ng-if="item.isCoreProductCategory > 0 && requirementDetails.isDiscountQuotation === 1">
                                                                        {{(getVendorItemPrices(item, vendor).revUnitDiscount) | number : companyRoundingDecimalSetting}}
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 body-col" ng-style="(displayFirstItemRankColors(item,vendor) && item.isCoreProductCategory > 0) ? {'background-color':'Yellow'} : {'background-color': ''}">
                                                                    <strong ng-if="item.isCoreProductCategory > 0 && requirementDetails.isDiscountQuotation !== 1">
                                                                        {{getVendorItemPrices(item, vendor).revUnitPrice | number : companyRoundingDecimalSetting}}<br />
                                                                        <b ng-show="false" ng-if="item.isCoreProductCategory > 0">Rank: {{getItemRank(item, vendor) > 0?getItemRank(item, vendor):'NA'}}</b>
                                                                    </strong>
                                                                    <strong ng-if="item.isCoreProductCategory > 0 && requirementDetails.isDiscountQuotation === 1">
                                                                        {{getVendorItemPrices(item, vendor).revUnitPrice | number : companyRoundingDecimalSetting}}<br />
                                                                        <b ng-show="false" ng-if="item.isCoreProductCategory > 0">Rank: {{getItemRank(item, vendor) > 0?getItemRank(item, vendor):'NA'}}</b>
                                                                    </strong>
                                                                    <!--<input ng-if="(isNonCoreItemEditable(item,vendor) && editForm)  && requirementDetails.status ==  'Negotiation Ended'" type="text" valid-number allow-decimal="true"
                                                allow-negative="false" decimal-upto="2" style="background-color: #f5b2b2;"
                                                ng-model="getVendorItemPrices(item, vendor).revUnitPrice" class="form-control" required />-->
                                                                </div>
                                                                <div class="col-md-2 body-col">
                                                                    <strong ng-if="!(isNonCoreItemEditable(item,vendor) && editForm) || requirementDetails.status ==  'Negotiation Ended'">
                                                                        {{getVendorItemPrices(item, vendor).unitPrice * item.productQuantity | number : companyRoundingDecimalSetting}}
                                                                    </strong>
                                                                    <input ng-if="(isNonCoreItemEditable(item,vendor) && editForm) && requirementDetails.status == 'UNCONFIRMED'" type="text" valid-number allow-decimal="true"
                                                                           allow-negative="false" decimal-upto="2" style="background-color: #f5b2b2;"
                                                                           ng-change="unitPriceCalculation(getVendorItemPrices(item, vendor));"
                                                                           ng-model="getVendorItemPrices(item, vendor, 0).unitPrice" class="form-control" required />
                                                                </div>
                                                                <div class="col-md-2 body-col">
                                                                    <strong ng-if="!(isNonCoreItemEditable(item,vendor) && editForm) || requirementDetails.status == 'UNCONFIRMED'">
                                                                        {{getVendorItemPrices(item, vendor).revUnitPrice * item.productQuantity | number : companyRoundingDecimalSetting}}
                                                                    </strong>
                                                                    <input ng-if="(isNonCoreItemEditable(item,vendor) && editForm)  && requirementDetails.status ==  'Negotiation Ended'" type="text" valid-number allow-decimal="true"
                                                                           allow-negative="false" decimal-upto="2" style="background-color: #f5b2b2;"
                                                                           ng-model="getVendorItemPrices(item, vendor, 1).revUnitPrice" class="form-control" required />
                                                                </div>
                                                                <div class="col-md-12" style="background:white;max-height:100px; min-height:100px;overflow-y:auto;" ng-if="getVendorItemPrices(item, vendor).productQuotationTemplateJson.length > 0">
                                                                    <div class="row" style="padding:5px;">
                                                                        <div class="col-md-6" style="border-right:1px solid #e4e7ea;background:#377ba0;color:white;">Description</div>
                                                                        <div class="col-md-6" style="border-right:1px solid #e4e7ea;background:#377ba0;color:white;" ng-hide="getVendorItemPrices(item, vendor).subIemsColumnsVisibility.hideSPECIFICATION">Specification</div>
                                                                    </div>
                                                                    <div class="row" style="border-bottom:1px solid;" ng-repeat="obj in getVendorItemPrices(item, vendor).productQuotationTemplateJson track by $index" ng-if="obj.NAME != 'Total' && obj.IS_VALID ==1">
                                                                        <div class="col-md-6" style="border-right:1px solid #000;">{{obj.NAME}}<span ng-show="obj.DESCRIPTION != '' && obj.DESCRIPTION != undefined && obj.DESCRIPTION != null">({{obj.DESCRIPTION}})</div>
                                                                        <div class="col-md-6" style="border-right:1px solid #000;" ng-hide="getVendorItemPrices(item, vendor).subIemsColumnsVisibility.hideSPECIFICATION">
                                                                            <div ng-show="obj.HAS_SPECIFICATION == 1">
                                                                                {{obj.SPECIFICATION}}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-8 sub-body-col">
                                                                </div>
                                                                <div class="col-md-2 sub-body-col">
                                                                    {{getVendorTotalInitPriceWithoutTax(vendor) | number : companyRoundingDecimalSetting}}
                                                                </div>
                                                                <div class="col-md-2 sub-body-col">
                                                                    {{getVendorTotalPriceWithoutTax(vendor) | number : companyRoundingDecimalSetting}}
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong>
                                                                        ----
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 sub-body-col">
                                                                    <!--<strong ng-if="!editForm || requirementDetails.status == 'Negotiation Ended'">
                                                    {{vendor.payLoadFactor | number : companyRoundingDecimalSetting}}
                                                </strong>-->
                                                                    <strong ng-if="!editForm || requirementDetails.status == 'Negotiation Ended'">
                                                                        {{vendor.payLoadFactorPercentage}} %
                                                                    </strong>
                                                                    <input ng-if="editForm && requirementDetails.status == 'UNCONFIRMED' " type="text" valid-number allow-decimal="true" allow-negative="false" decimal-upto="2"
                                                                           style="background-color: #f5b2b2;"
                                                                           ng-model="vendor.payLoadFactorPercentage" class="form-control" ng-change="changePayload(vendor)" required />
                                                                </div>
                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong>
                                                                        ----
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 sub-body-col">
                                                                    <!--<strong ng-if="!editForm || requirementDetails.status == 'UNCONFIRMED'">
                                                    {{vendor.revPayLoadFactor | number : companyRoundingDecimalSetting}}
                                                </strong>-->
                                                                    <strong ng-if="!editForm || requirementDetails.status == 'UNCONFIRMED'">
                                                                        {{vendor.revPayLoadFactorPercentage}} %
                                                                    </strong>
                                                                    <!--style="background-color: #f5b2b2;"-->
                                                                    <input style="background-color: #f5b2b2;" ng-if="editForm && requirementDetails.status == 'Negotiation Ended'" type="text" valid-number allow-decimal="true" allow-negative="false" decimal-upto="2"
                                                                           ng-model="vendor.revPayLoadFactorPercentage" class="form-control" ng-change="changeRevPayload(vendor)" required />
                                                                </div>
                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong>
                                                                        {{vendor.payLoadFactor | number : companyRoundingDecimalSetting}}
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong>
                                                                        {{vendor.revPayLoadFactor | number : companyRoundingDecimalSetting}}
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 sub-body-col-white">
                                                                    <strong>
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 sub-body-col" style="text-align:right;">
                                                                    <strong>
                                                                        {{getVendorTotalTax(vendor, 'CGST') | number : companyRoundingDecimalSetting}}
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 sub-body-col" style="text-align:right;">
                                                                    <strong>
                                                                        {{getVendorTotalTax(vendor, 'SGST') | number : companyRoundingDecimalSetting}}
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 sub-body-col" style="text-align:right;">
                                                                    <strong>
                                                                        {{getVendorTotalTax(vendor, 'IGST') | number : companyRoundingDecimalSetting}}
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 sub-body-col" style="text-align:right;">
                                                                    <strong ng-if="!editForm">
                                                                        {{vendor.revChargeAny | number : companyRoundingDecimalSetting}}
                                                                    </strong>
                                                                    <input ng-if="editForm" type="text" valid-number allow-decimal="true" allow-negative="false" decimal-upto="2"
                                                                           style="background-color: #f5b2b2;width:150px;"
                                                                           ng-model="vendor.revChargeAny" class="form-control pull-right" required />
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 sub-body-col" style="text-align:right;">
                                                                    <strong>
                                                                        {{vendor.gstService | number : companyRoundingDecimalSetting}}
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 sub-body-col-white">
                                                                    <strong>
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 sub-body-col" style="text-align:right;">
                                                                    <strong>
                                                                        {{getVendorTotalTax(vendor, 'CGST') | number : companyRoundingDecimalSetting}}
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 sub-body-col" style="text-align:right;">
                                                                    <strong>
                                                                        {{getVendorTotalTax(vendor, 'SGST') | number : companyRoundingDecimalSetting}}
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 sub-body-col" style="text-align:right;">
                                                                    <strong>
                                                                        {{getVendorTotalTax(vendor, 'IGST') | number : companyRoundingDecimalSetting}}
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 sub-body-col" style="text-align:right;">
                                                                    <strong>
                                                                        {{vendor.gstService | number : companyRoundingDecimalSetting}}
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 sub-body-col" style="text-align:right;">
                                                                    <strong ng-if="!editForm">
                                                                        {{vendor.revChargeAny | number : companyRoundingDecimalSetting}}
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong>
                                                                        ----
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong>
                                                                        ---- <!--{{getVendorTotalUnitItemPrices(vendor)}}-->
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong>
                                                                        ----
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong>
                                                                        ---- <!--{{getVendorTotalRevUnitItemPrices(vendor)}}-->
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong>
                                                                        {{getVendorTotalInitLandingPrice(vendor,requirementDetails.includeGstInCal) | number : companyRoundingDecimalSetting}}<!--Landed-->
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong>
                                                                        {{getVendorTotalLandingPrice(vendor,requirementDetails.includeGstInCal) | number : companyRoundingDecimalSetting}}<!--Landed-->
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-10 sub-body-col">
                                                                    <strong>
                                                                        ----
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong>
                                                                        {{getVendorAssignedQtyTotalLandingPrice(vendor,requirementDetails.includeGstInCal, true) | number : companyRoundingDecimalSetting}}<!--Landed-->
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-10 sub-body-col">
                                                                    <strong>
                                                                        ----
                                                                    </strong>
                                                                </div>
                                                                <div class="col-md-2 sub-body-col">
                                                                    <strong>
                                                                        {{CalculateSavingsBasedOnLandingPrice(vendor) | number : companyRoundingDecimalSetting}}
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 sub-body-col">
                                                                    <strong>
                                                                        {{vendor.INCO_TERMS}}
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 sub-body-col">
                                                                    <strong>
                                                                        {{vendor.warranty}}
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 sub-body-col">
                                                                    <strong>
                                                                        {{vendor.duration}}
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 sub-body-col">
                                                                    <strong>
                                                                        {{vendor.payment}}
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 sub-body-col">
                                                                    <strong>
                                                                        {{vendor.otherProperties}}
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 sub-body-col">
                                                                    <strong ng-if="!editForm">
                                                                        {{vendor.customerComment}}
                                                                    </strong>
                                                                    <textarea ng-if="editForm" type="text" cols="400" rows="1"
                                                                              style="background-color: #f5b2b2;"
                                                                              ng-model="vendor.customerComment" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--<div class="col-md-{{vendorWidth}} header-col" style="min-width:500px;background-color:lightblue;border:1px solid black;text-align:center;">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <strong>
                                                    Last Purchase Details
                                                    <br />
                                                    <small>&nbsp;</small>

                                                </strong>
                                            </div>
                                        </div>
                                        <div class="row" style="background-color:lightblue;border:1px solid black;">
                                            <div class="col-md-3 header1-col">
                                                <strong>
                                                    Vendor Name
                                                </strong>
                                            </div>
                                            <div class="col-md-3 header1-col">
                                                <strong>
                                                    Last PO
                                                </strong>
                                            </div>
                                            <div class="col-md-3 header1-col">
                                                <strong>
                                                    Last Rate
                                                </strong>
                                            </div>
                                            <div class="col-md-3 header1-col">
                                                <strong>
                                                    Last PO Date
                                                </strong>
                                            </div>
                                        </div>
                                        <div class="row" style="background-color:lightblue;border:1px solid black;" ng-repeat="item in requirementDetails.listRequirementItems">
                                            <div class="col-md-3 header1-col">
                                                <strong>
                                                    {{item.ITEM_L1_COMPANY_NAME}}
                                                </strong>
                                            </div>
                                            <div class="col-md-3 header1-col">
                                                <strong>
                                                    &nbsp;
                                                </strong>
                                            </div>
                                            <div class="col-md-3 header1-col">
                                                <strong>
                                                    &nbsp;
                                                </strong>
                                            </div>
                                            <div class="col-md-3 header1-col">
                                                <strong>
                                                    {{item.I_LLP_DETAILS}}
                                                </strong>
                                            </div>
                                        </div>
                                    </div>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4" style="margin:12px 0px 0px 0px; min-height:100px;">
                                            <div class="col-md-12 sub-header-col" style="min-height:100px;">
                                                PURCHASER COMMENTS
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="margin:10px 0px 0px 8px;">
                                            <div class="col-md-12 sub-body-col" style="min-height:100px;padding:0px;">
                                                <strong ng-if="!editForm">
                                                    {{requirementDetails.customerComment}}
                                                </strong>
                                                <textarea ng-if="editForm" type="text" rows="4"
                                                          style="background-color: #f5b2b2;width:100%;"
                                                          ng-model="requirementDetails.customerComment" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <strong>Attachments:</strong><br />
                                    <div class="fileupload btn btn-sm btn-info waves-effect waves-light" ng-if="editForm">
                                        <span><i class="fa fa-upload  m-r-5"></i>QCS Attachments</span>
                                        <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg,.xls,.xlt,.ics,.xml,.eml" id="attachement" multiple ng-file-select="onFileSelect($files)">
                                    </div>
                                    <label ng-if="attch.fileID > 0" ng-repeat="attch in requirementDetails.qcsMultipleAttachments">
                                        {{$index + 1}}.<a target="_blank" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionID}}">{{attch.fileName}}</a>
                                        <strong ng-if="editForm" ng-click="removeAttach(attch)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br />
                                    </label>
                                    <label ng-if="attch.fileID <= 0 && editForm" ng-repeat="attch in requirementDetails.qcsMultipleAttachments">{{$index + 1}}.{{attch.fileName}}  <strong ng-click="removeAttach(attch)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br /></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    &nbsp;
                                </div>
                            </div>
                            <div class="row" ng-if="editForm">
                                <div class="col-md-12" style="font-size:18px;">
                                    <div class="row" ng-if="itemWorkflow.length <= 0 || (itemWorkflow[0].WorkflowTracks && itemWorkflow[0].WorkflowTracks.length <= 0)">
                                        <select ng-style="isErrorworkflowIDStyle" chosen name="workflowType" ng-model="workflowObj.workflowID"
                                                ng-options="wf.workflowID as wf.workflowTitle for wf in workflowList" required class="form-control-dropdown" ng-change="workflowChange()">
                                            <option value="">Select Workflow</option>
                                        </select>
                                        <strong ng-if="!isErrorworkflowID"> Approval workflow </strong><strong ng-if="isErrorworkflowID"
                                                                                                               class="text-danger">Approval workflow*</strong>
                                        <a role="button" ng-click="getWorkflows();" title="Reload workflows">
                                            <i class="fa fa-sync"></i>
                                        </a>
                                    </div>
                                    <div class="row" ng-show="itemWorkflow.length > 0 || itemWorkflow[0].WorkflowTracks || itemWorkflow[0].WorkflowTracks.length > 0">
                                        <select ng-style="isErrorworkflowIDStyle" chosen name="workflowType" ng-model="workflowObj.workflowID"
                                                ng-options="wf.workflowID as wf.workflowTitle for wf in workflowListTemp" required class="form-control-dropdown"
                                                ng-disabled="true">
                                            <option value="">Select Workflow</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-repeat="wf in workflowList" ng-if="itemWorkflow.length <= 0 || (itemWorkflow[0].WorkflowTracks && itemWorkflow[0].WorkflowTracks.length <= 0)">
                                <div ng-if="wf.workflowID == workflowObj.workflowID">
                                    <div class="col-md-12 text-center">
                                        <h4>{{wf.workflowTitle}}</h4>
                                    </div>
                                    <div class="col-md-6" ng-repeat="ws in wf.WorkflowStages">
                                        <div class="white-box">
                                            <div class="row">
                                                <div class="col-md-1">
                                                    <h3>{{$index+1}}</h3>
                                                </div>
                                                <div class="col-md-10">
                                                    <span class="top-buffer">
                                                        Department:&nbsp;<strong> {{ws.department.deptCode}}</strong>
                                                        <br />
                                                        Designation: <strong>{{ws.approver.desigCode}}</strong>
                                                    </span>
                                                </div>
                                                <div class="col-md-1">
                                                    <i class="fas fa-arrow-right top-buffer"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="editForm && QCSDetails.IS_VALID == 1">
                                <div class="col-md-12 text-center">
                                    <!--<button class="btn btn-info" ng-click="SaveQCSDetails(1);"> Save </button> ng-disabled="isQcsSaveDisable"       -->
                                    <button class="btn btn-info" ng-click="UpdateOtherCharges(true);" ng-if="vendorAssignmentList.length > 0"> Submit </button>
                                    <button class="btn btn-info" ng-click="UpdateOtherCharges(true);"> SAVE </button>
                                </div>
                            </div>

                        </div>

                        <fieldset>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6" ng-repeat="step in itemWorkflow[0].WorkflowTracks track by $index">
                                            <br />
                                            <br />
                                            <div class="row approvalRowHeight">
                                                <div class="col-md-12">
                                                    <P ng-show="step.status == 'PENDING'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                        <!--<strong> {{step.status + ' By '+' - ' + step.approver.desigCode + ' ' + step.department.deptCode }}</strong>
                                    </br>-->
                                                        <strong> <label style="color:darkorange">{{step.statusNew + ' By ' + ' - ' + step.approverDetails.firstName}}</label> </strong>
                                                        <!--({{step.approver.desigCode + ' ' + step.department.deptCode}})-->
                                                    </P>
                                                    <span ng-show="step.status == 'APPROVED' || step.status == 'REJECTED' || step.status == 'HOLD'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                        <strong>{{step.statusNew + ' By '+' - ' + step.approverDetails.approvedBy +' On ' + showApprovedDate(step.dateModified)}}</strong>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 list-group-item" href="#"
                                                     ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}"
                                                     style="min-height:90px;">
                                                    <div class="row">
                                                        <div class="col-md-1 col-xs-1">
                                                            <h5>{{$index + 1}}. </h5>
                                                        </div>
                                                        <div ng-class="(isApproverDisable($index) == true?'col-md-10 col-xs-11':'col-md-5 col-xs-5')" title="{{step.comments}}">
                                                            <textarea rows="2" cols="50" ng-model="step.comments" xss-sanitizer ng-disabled="isApproverDisable($index);" placeholder="Comments" type="text" class="form-control fg-input" style="resize: vertical;"></textarea>
                                                            <lable ng-hide="isApproverDisable($index);" class="text-danger">  {{commentsError}} </lable>
                                                        </div>
                                                        <div class="col-md-5 col-xs-5" ng-show="!isApproverDisable($index);">
                                                            <div class="row">
                                                                <div class="col-md-4 col-xs-4" >
                                                                    <i role="button" ng-click="updateTrack(step, 'HOLD')"><i class="fa fa-stop-circle fa-2x" style="color:brown;" title="Hold" aria-hidden="true"></i></i>
                                                                    <small>Hold</small>
                                                                </div>
                                                                <div class="col-md-4 col-xs-4">
                                                                    <i role="button" ng-click="updateTrack(step, 'APPROVED')"><i class="fa fa-thumbs-up fa-2x" style="color:#266A2D;" title="Approve" aria-hidden="true"></i></i>
                                                                    <small>Approve</small>
                                                                </div>
                                                                <div class="col-md-4 col-xs-4">
                                                                    <i role="button" ng-click="updateTrack(step, 'REJECTED')"><i class="fa fa-thumbs-down fa-2x" style="color:red;" title="Reject" aria-hidden="true"></i></i>
                                                                    <small>Reject</small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" ng-if="enableForFirstApprover(step,'WORKFLOW') && !isSuperUser">
                                                        <div class="col-md-12">
                                                            <div class="col-md-1">&nbsp;</div>
                                                            <div class="col-md-5">
                                                                <input type="checkbox" ng-value="false" ng-model="step.newQuotations" ng-click="GetNewQuotations(step.newQuotations)" />
                                                                Get New Quotations
                                                                <br />
                                                                <small style="color:red" ng-if="step.newQuotations">(Please Click on REJECT option to request for new quotations)</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" ng-hide="isApproverDisable($index) && !isSuperUser">
                                                        <div class="col-md-8">
                                                            <div class="fileupload btn btn-sm btn-info waves-effect waves-light" ng-if="step.multipleAttachments.length <= 0">
                                                                <span><i class="fa fa-upload  m-r-5"></i>QCS Attachments</span>
                                                                <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg,.xls,.xlt,.ics,.xml,.eml" id="{{$index}}"
                                                                       itemid="{{$index}}" multiple ng-file-select-items="onFileSelect($files)">
                                                            </div>
                                                            <label ng-if="!disableAssignPR && attch.fileID <= 0" ng-repeat="attch in step.multipleAttachments">{{$index + 1}}.{{attch.fileName}}  <strong ng-click="removeAttach(attch,'APPROVER')" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br /></label>
                                                        </div>
                                                    </div>
                                                    <label ng-if="attch.fileID > 0" ng-repeat="attch in step.multipleAttachments">
                                                        {{$index + 1}}.<a target="_blank" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionID}}">{{attch.fileName}}</a>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div style='border-bottom:1px solid #ccc;'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4" ng-if="vendorAssignmentList.length > 0">
                                        <h3><strong>Vendor Item Assignment</strong></h3>
                                    </div>
                                </div>

                                <table class="table table-vmiddle table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="min-width:30px;max-width:30px;">Item Name</th>
                                            <th style="min-width:30px;max-width:30px;">Vendor Name</th>
                                            <th style="min-width:5px;max-width:5px;">Currency</th>
                                            <th style="min-width:5px;max-width:5px;">Order Qty</th>
                                            <th style="min-width:5px;max-width:5px;">RFQ Qty</th>
                                            <th style="min-width:10px;max-width:10px;">PR Numbers</th>
                                            <th style="min-width:5px;max-width:5px;">PR Qty</th>
                                            <th style="min-width:10px;max-width:10px;">Vendor Price</th>
                                            <th style="min-width:10px;max-width:10px;">Total Price</th>
                                        </tr>
                                    </thead>
                                </table>
                                <div style="overflow:auto;max-height:250px;min-height:250px;">
                                    <table class="table table-vmiddle table-bordered">
                                        <tr ng-repeat="vendorAssignmentObj in vendorAssignmentList track by $index">
                                            <td style="min-width:30px;max-width:30px;word-break: break-all;">{{vendorAssignmentObj.item.itemName}}</td>
                                            <td style="min-width:30px;max-width:30px;">{{vendorAssignmentObj.vendorName}}</td>
                                            <td style="min-width:5px;max-width:5px;">{{vendorAssignmentObj.currency}}</td>
                                            <td style="min-width:5px;max-width:10px;">{{vendorAssignmentObj.assignedQty}}</td>
                                            <td style="min-width:5px;max-width:10px;">{{getItemRFQQuantity(vendorAssignmentObj.itemID)}}</td>
                                            <td style="min-width:10px;max-width:10px;overflow-wrap: break-word;">{{vendorAssignmentObj.item.prNumber}}</td>
                                            <td style="min-width:5px;max-width:10px;">{{vendorAssignmentObj.item.prQuantity}}</td>
                                            <td style="min-width:10px;max-width:10px;">{{vendorAssignmentObj.assignedPrice | number : companyRoundingDecimalSetting }}</td>
                                            <td style="min-width:10px;max-width:10px;">{{vendorAssignmentObj.totalPrice | number : companyRoundingDecimalSetting }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="row" style="margin-top:10px;" ng-if="checkIsPODisable() && QCSDetails.IS_VALID == 1 && DraftPOList.length == 0 && !QCSDetails.PO_ID">
                                <div class="col-md-12 text-center">
                                    <button class="btn btn-info" ng-click="navigateToPOForm()" data-toggle="modal"> Generate PO</button>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="container" ng-if="DraftPOList && DraftPOList.length > 0">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h3><strong>POs</strong></h3>
                                    </div>
                                </div>

                                <table class="table table-vmiddle table-bordered">
                                    <thead>
                                        <tr>
                                            <!--<th style="min-width:10px;max-width:10px;">QUOT Id</th>-->
                                            <th style="min-width:30px;max-width:30px;">PRM PO Number</th>
                                            <th style="min-width:30px;max-width:30px;">SAP PO Number</th>
                                            <th style="min-width:20px;max-width:20px;">PR Number</th>
                                            <th style="min-width:15px;max-width:15px;">Material Code</th>
                                            <th style="min-width:30px;max-width:30px;">PR Line Item Number</th>
                                            <th style="min-width:10px;max-width:10px;">PR Qty</th>
                                            <th style="min-width:30px;max-width:30px;">Vendor Company Name</th>
                                            <th style="min-width:20px;max-width:20px;">Order Qty</th>
                                            <!--<th style="min-width:10px;max-width:10px;">Actions</th>-->
                                        </tr>
                                    </thead>
                                </table>
                                <div style="overflow:auto;max-height:250px;min-height:250px;">
                                    <table class="table table-vmiddle table-bordered">
                                        <tr ng-repeat="poDetails in DraftPOList track by $index">
                                            <!--<td style="min-width:10px;max-width:10px;word-break: break-all;">{{poDetails.QUOT_NO}}</td>-->
                                            <td style="min-width:30px;max-width:30px;word-break: break-all;">{{poDetails.PRM_PO_NUMBER}}</td>
                                            <td style="min-width:30px;max-width:30px;word-break: break-all;">{{poDetails.PO_NUMBER}}</td>
                                            <td style="min-width:20px;max-width:20px;word-break: break-all;">{{poDetails.PR_NUMBER}}</td>
                                            <td style="min-width:15px;max-width:15px;word-break: break-all;">{{poDetails.MATERIAL1}}</td>
                                            <td style="min-width:30px;max-width:30px;word-break: break-all;">{{poDetails.PO_LINE_ITEM}}</td>
                                            <td style="min-width:10px;max-width:10px;word-break: break-all;">{{poDetails.PR_QTY}}</td>
                                            <td style="min-width:30px;max-width:30px;word-break: break-all;">{{poDetails.VENDOR_COMPANY}}</td>
                                            <td style="min-width:20px;max-width:20px;word-break: break-all;">{{poDetails.ORDER_QTY}}</td>
                                            <!--<td style="min-width:5px;max-width:5px;">
                            <a ng-if="!poDetails.PO_NO" style="text-align:center;" class="btn btn-info btn-sm" role="button" ng-click="viewPODetails(poDetails);">
                                View Details
                            </a>
                        </td>-->
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </fieldset>


                        <div class="pull-right">
                            <div class="modal" id="templateSelection" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button class="close" data-dismiss="modal" style="color:black">&times;</button>
                                            <h4 class="modal-title">Select Template</h4>
                                        </div>
                                        <div class="modal-body" style="margin:25px;">
                                            <div class="pmbb-view" style="overflow-wrap: break-word;">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <select style="margin-left:-5px;" ng-model="stateDetails.poTemplate" ng-options="template.name for template in filteredPOTemplates" class="form-control"></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" data-dismiss="modal" ng-disabled="!stateDetails.poTemplate.value" ng-click="navigateToPOForm()" class="btn btn-info">Continue</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>