﻿<div ng-controller="branchCodesCtrl">
    <div class="white-box">
        <div class="box-title">
            <div class="row">
                <div class="form-group fg-float col-md-4 m-b-30">
                    <h3>Branches</h3>
                </div>                    
                <div class="form-group fg-float col-md-4 m-b-30">
                    <button ng-click="editBranch(branch, false)" class="btn btn-info pull-right add-new-btn">Add New Branch</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div ng-if="addNewBranchView">
                <div class="col-md-12">
                    <div class="form-group fg-float col-md-3 m-b-30">
                        <label class="fg-label">Region <span class="text-danger">*</span></label>
                        <input list="REGION_CODE" name="REGION_CODE" ng-model="branch.REGION_CODE" class="form-control fg-input" />
                        <datalist id="REGION_CODE">
                            <option ng-repeat="region in uniqueRegions" value="{{region}}">
                        </datalist>
                    </div>
                    <div class="form-group fg-float col-md-3 m-b-30">
                        <label>Branch Name <span class="text-danger">*</span></label>
                        <input type="text" ng-model="branch.BRANCH_NAME" name="BRANCH_NAME" id="BRANCH_NAME" class="form-control fg-input" />
                    </div>
                    <div class="form-group fg-float col-md-3 m-b-30">
                        <label>Branch Code <span class="text-danger">*</span></label>
                        <input type="text" ng-model="branch.BRANCH_CODE" name="BRANCH_CODE" id="BRANCH_CODE" class="form-control fg-input" />
                    </div>
                    <div class="form-group fg-float col-md-3 m-b-30">
                        <label>Location Code <span class="text-danger">*</span></label>
                        <select data-placeholder="Select location..." name="selectedLocation" ng-model="branch.selectedLocation" ng-options="location.LOCATION_ID as location.LOCATION_CODE for location in locationCodes" class="form-control p-0"></select>
                    </div>
                    <div class="col-md-12 text-center">
                        <button class="btn btn-info btn-file btn-new-look" ng-click="SaveBranch()">Save </button>
                        <button class="btn btn-link btn-file btn-new-look" ng-click="closeBranchView()">Cancel</button>
                    </div>
                </div>
            </div>

            <div class="col-md-12 table-responsive" style="margin-top: 15px;">
                <table class="table table-striped">
                    <thead>
                        <tr style="font-weight: bold">
                            <th style="width:20%">Region</th>
                            <th style="width:20%">Branch Code</th>
                            <th style="width:20%">Branch Name</th>
                            <th style="width:20%">Location</th>
                            <th style="width:20%; text-align:center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="branch in branchCodes.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                            <td>{{branch.REGION_CODE}}</td>
                            <td>{{branch.BRANCH_CODE}}</td>
                            <td>{{branch.BRANCH_NAME}}</td>
                            <td>{{branch.LOCATION_CODE}}</td>
                            <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                                <a title="Edit" role="button" ng-click="editBranch(branch, true);" class="fa-edit fa" style="width:30px; height:30px"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
            </div>                
        </div>
    </div>
</div>