﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">


                <div ng-controller="categoryCtrl">
                    <div class="white-box pmb-block">
                        <div class="row">
                            <div class="pmbb-header">
                                <h3>
                                    Category Management
                                </h3>

                                <div class="row">
                                    <br />
                                    <br />
                                    <div class="col-md-5">
                                        Category : <input type="text" class="form-control fg-input" ng-model="categoryObj.category" />
                                    </div>
                                    <div class="col-md-5">
                                        Sub Category : <input type="text" class="form-control fg-input" ng-model="categoryObj.subcategory" />
                                    </div>
                                    <div class="col-md-2">
                                        &nbsp; <br/><button ng-disabled="categoryObj.subcategory == '' || categoryObj.category == ''" class="btn btn-info top-buffer" ng-click="addCatToArray(categoryObj)">Add</button>
                                    </div>
                                </div>
                                <br />
                                <br />
                            </div>
                            <div class="row">
                                <!--<div class="col-md-2">
                                    <label class="fg-label"></label>
                                </div>-->
                                <div class="col-md-6">
                                    Company Categories
                                    <select chosen data-placeholder="ItemType" ng-model="selectedCategory" name="ItemType" ng-change="loadSubCategories();addSubCat(selectedCategory.category)" required class="form-control">
                                        <option ng-repeat="category in uniqueCategories" value="{{category}}">{{category.category}}</option>
                                    </select>
                                </div>
                            </div>
                            <h3>{{selectedCategory.category}}</h3>
                            <br />
                            <div class="table-responsive z-depth-2">
                                <table ng-table="tctrl.tableSorting" class="table table-striped table-vmiddle" show-filter="false">
                                    <tr ng-repeat="category in filteredCategories">
                                        <td data-title="'Sub Category'" sortable="'Name'">
                                            <span ng-if="!category.editCategories">{{category.subcategory}}</span>
                                            <input ng-if="category.editCategories" type="text" ng-model="category.subcategory" class="form-control logininput">
                                        </td>
                                        <td data-title="'ACTIONS'">
                                            <button ng-if="!category.editCategories" class="btn btn-info" ng-click="editCategoriesFunction(category,true)">Edit</button>
                                            <button ng-disabled="category.subcategory == '' || category.category == ''" ng-if="category.editCategories" class="btn btn-info" ng-click="editCategoriesFunction(category,false);addCatToArray(category)">Save</button>
                                            <button ng-if="category.editCategories" class="btn btn-link" ng-click="cancelEditCategories(category,false)">Cancel</button>
                                        </td>
                                    </tr>
                                </table>
                                <h3 ng-if="categoriesListLength <= 0" class="text-center"> No Categories </h3>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>