﻿<div class="white-box" ng-controller="companyBranchesCtrl">
    <div class="box-title col-md-12">
        <div class="form-group fg-float col-md-4 m-b-30">
            <h3>Company Branches</h3>
        </div>
        <div class="col-md-4">
            <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="searchTable()" ng-model="searchKeyword" type="text" placeholder="Search">
        </div>
        <div class="form-group fg-float col-md-4 m-b-30">
            <button ng-if="!addNewBranchView" ng-click="editBranch(Branch)" class="btn btn-info pull-right add-new-btn">Add New Branch</button>
        </div>
    </div>
    <div class="row">

        <div ng-if="addNewBranchView">
            <div class="col-md-12">
                <div class="form-group fg-float col-md-3 m-b-30 top-half-buffer">
                    <div class="fg-line" ng-class="{'fg-toggled': (branch.branchCode)}">
                        <label class="fg-label">Branch Name</label>
                        <input type="text" ng-model="designation.desigCode" name="DesgCode" id="DesgCodeID" class="form-control fg-input" />

                    </div>
                </div>

                <div class="form-group fg-float col-md-6 m-b-30">
                    <div class="fg-line" ng-class="{'fg-toggled': (branch.branchdesc)}">
                        <label class="fg-label">Branch Desc</label>
                        <textarea type="text" ng-model="designation.desigDesc" name="DesgDesc" id="DesgDescID" rows="2" style="resize: vertical;" class="form-control fg-input" />

                    </div>
                </div>
                
            </div>
            <div class="col-md-12 text-center">
                <button class="btn btn-info btn-file btn-new-look" ng-click="SaveCompanyBranches()">Save Branch</button>
                <button class="btn btn-link btn-file btn-new-look" ng-click="closeEditBranch()">Cancel</button>
            </div>
        </div>

        <br />
        <div class="col-md-12">&nbsp;</div>
        <div class="col-md-12 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr style="font-weight: bold">
                        <th style="width:40%">Branch Name</th>
                        <th style="width:40%">Branch Description</th>
                        
                        <th style="width:40%; text-align:center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="companyBranch in companyBranches.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                        <td>{{companyBranch.desigCode}}</td>
                        <td>{{companyBranch.desigDesc}}</td>
                       
                        <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">

                            <!--<a title="View Store Details" role="button" target="_blank" href="prm360.html#/storeitems/{{store.storeID}}/0" class="tm-icon zmdi-hc-2x zmdi zmdi-view-list-alt" style="width:30px; height:30px"></a>-->
                            <!--<a title="Edit Department Users" role="button" ng-click="GetDepartmentUsers(companyDesignation)" class="tm-icon zmdi-hc-2x zmdi zmdi-view-list-alt" style="width:30px; height:30px"></a>-->
                            <a title="Edit Branch" role="button" ng-click="editBranch(companyBranch)" class="fa fa-edit" style="width:30px; height:30px"></a>
                            <!--<a title="Delete Designation" role="button" ng-click="DeleteDesignation(companyDesignation)" class="fa fa-trash-alt" style="width:30px; height:30px"></a>-->
                        </td>
                    </tr>
                </tbody>
            </table>
            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
        </div>
    </div>
</div>