﻿<div class="white-box" ng-controller="configurationCtrl" ng-init="type = 'USER_LOCATION'">
    <div class="white-box">
        <div class="box-title">
            <div class="form-group fg-float col-md-4 m-b-30">
                <h3>Region</h3>
            </div>
            <div class="col-md-4">
            </div>
            <div class="form-group fg-float col-md-4 m-b-30">
                <button ng-if="!createNewRegionView" ng-click="openRegion('REGION')" class="btn btn-info pull-right add-new-btn">Create New Region</button>
            </div>
        </div>
        <div class="row">

            <div ng-show="createNewRegionView">
                <div class="col-md-12">
                    <div class="form-group fg-float col-md-3">
                        <label class="fg-label">Region</label>
                        <div class="fg-line" ng-class="{'fg-toggled': (region.regName)}">
                            <input type="text" ng-model="region.regName" name="regName" id="regName" class="form-control fg-input" />
                        </div>
                    </div>
                    <div class="fg-float col-md-6 text-center">
                        <label class="fg-label"></label>
                        <div class="fg-line">
                            <button class="btn btn-info btn-file btn-new-look" ng-click="saveCompanyRegion('REGION')">Save</button>
                            <button class="btn btn-link btn-file btn-new-look" ng-click="closeEditRegion()">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>
            <br />
            <div class="col-md-12">&nbsp;</div>

            <div class="col-md-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr style="font-weight: bold" id="id1">
                            <th style="width:20%">S.NO</th>
                            <th style="width:30%">Region</th>
                            <th style="width:20%; text-align:center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="obj in regions.slice(((currentPage1-1)*itemsPerPage1), ((currentPage1)*itemsPerPage1))">
                            <td>{{$index+1}}</td>
                            <td>{{obj.regName}}</td>
                            <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                                <a title="Edit Region" role="button" ng-click="editValue(obj,'REGION')" class="fa-edit fa" style="width:30px; height:30px"></a>
                                <a title="Delete Region" role="button" ng-click="DeleteValue(obj,'REGION')" class="fa fa-trash-alt" style="width:30px; height:30px"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ul uib-pagination total-items="totalItems1" ng-model="currentPage1" items-per-page="itemsPerPage1" max-size="maxSize1" ng-change="pageChanged1()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
            </div>
        </div>
    </div>

    <div class="white-box">
        <div class="box-title">
            <div class="form-group fg-float col-md-4 m-b-30">
                <h3>Branch</h3>
            </div>
            <div class="col-md-4">
            </div>
            <div class="form-group fg-float col-md-4 m-b-30">
                <button ng-if="!createNewBranchView" ng-click="openRegion('BRANCH')" class="btn btn-info pull-right add-new-btn">Create New Branch</button>
            </div>
        </div>
        <div class="row">

            <div ng-show="createNewBranchView">
                <div class="col-md-12">
                    <div class="form-group fg-float col-md-3">
                        <label class="fg-label">Branch Name</label>
                        <div class="fg-line" ng-class="{'fg-toggled': (region.branchName)}">
                            <input type="text" ng-model="region.branchName" name="branchName" id="branchName" class="form-control fg-input" />
                        </div>
                    </div>
                    <div class="fg-float col-md-6 text-center">
                        <label class="fg-label"></label>
                        <div class="fg-line">
                            <button class="btn btn-info btn-file btn-new-look" ng-click="saveCompanyRegion('BRANCH')">Save</button>
                            <button class="btn btn-link btn-file btn-new-look" ng-click="closeEditRegion()">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>
            <br />
            <div class="col-md-12">&nbsp;</div>

            <div class="col-md-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr style="font-weight: bold">
                            <th style="width:20%">S.NO</th>
                            <th style="width:30%">Branch Name</th>
                            <th style="width:20%; text-align:center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="obj in branches.slice(((currentPage2-1)*itemsPerPage2), ((currentPage2)*itemsPerPage2))">
                            <td>{{$index+1}}</td>
                            <td>{{obj.branchName}}</td>
                            <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                                <a title="Edit Branch" role="button" ng-click="editValue(obj,'BRANCH')" class="fa-edit fa" style="width:30px; height:30px"></a>
                                <a title="Delete Branch" role="button" ng-click="DeleteValue(obj,'BRANCH')" class="fa fa-trash-alt" style="width:30px; height:30px"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ul uib-pagination total-items="totalItems2" ng-model="currentPage2" items-per-page="itemsPerPage2" max-size="maxSize2" ng-change="pageChanged2()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
            </div>
        </div>
    </div>

    <div class="white-box">
        <div class="box-title">
            <div class="form-group fg-float col-md-4 m-b-30">
                <h3>Delivery Location Codes</h3>
            </div>
            <div class="col-md-4">
            </div>
            <div class="form-group fg-float col-md-4 m-b-30">
                <button ng-if="!createNewLocationView" ng-click="openRegion('LOCATION')" class="btn btn-info pull-right add-new-btn">Create New Delivery Locations</button>
            </div>
        </div>
        <div class="row">

            <div ng-show="createNewLocationView">
                <div class="col-md-12">
                    <div class="form-group fg-float col-md-3">
                        <label class="fg-label">Delivery Location Code</label>
                        <div class="fg-line" ng-class="{'fg-toggled': (region.locationName)}">
                            <input type="text" ng-model="region.locationName" name="locationName" id="locationName" class="form-control fg-input" />
                        </div>
                    </div>
                    <div class="fg-float col-md-6 text-center">
                        <label class="fg-label"></label>
                        <div class="fg-line">
                            <button class="btn btn-info btn-file btn-new-look" ng-click="saveCompanyRegion('LOCATION')">Save</button>
                            <button class="btn btn-link btn-file btn-new-look" ng-click="closeEditRegion()">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>
            <br />
            <div class="col-md-12">&nbsp;</div>

            <div class="col-md-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr style="font-weight: bold">
                            <th style="width:20%">S.NO</th>
                            <th style="width:30%">Delivery to location codes</th>
                            <th style="width:20%; text-align:center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="obj in locations.slice(((currentPage3-1)*itemsPerPage3), ((currentPage3)*itemsPerPage3))">
                            <td>{{$index+1}}</td>
                            <td>{{obj.locationName}}</td>
                            <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                                <a title="Edit Devlivery To Location Code" role="button" ng-click="editValue(obj,'LOCATION')" class="fa-edit fa" style="width:30px; height:30px"></a>
                                <a title="Delete Devlivery To Location Code" role="button" ng-click="DeleteValue(obj,'LOCATION')" class="fa fa-trash-alt" style="width:30px; height:30px"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ul uib-pagination total-items="totalItems3" ng-model="currentPage3" items-per-page="itemsPerPage3" max-size="maxSize3" ng-change="pageChanged3()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
            </div>
        </div>
    </div>

    <div class="white-box">
        <div class="box-title">
            <div class="form-group fg-float col-md-4 m-b-30">
                <h3>Map Location Codes</h3>
            </div>
            <div class="col-md-4" ng-show="createNewMapView">
                <button ng-click="addToMapping()" class="btn btn-info pull-right add-new-btn">Add</button>
            </div>
            <div class="form-group fg-float col-md-4 m-b-30">
                <button ng-if="!createNewMapView" ng-click="openRegion('MAP')" class="btn btn-info pull-right add-new-btn">Map</button>
            </div>
        </div>
        <div class="row">

            <div ng-if="createNewMapView">
                <div class="col-md-12">
                    <div class="row" ng-repeat="mapObject in mappingArr">
                        <div class="form-group fg-float col-md-3 m-b-30">
                            <label>Region</label>
                            <select data-placeholder="Select Type" ng-style="mapObject.regStyleName === 'ERROR' && {'border' : '1px solid red'}" ng-change="validate(mapObject,'REGION')" name="Region"
                                    ng-model="mapObject.regionID" ng-options="type.rbID as type.regName for type in regions" class="form-control"></select>
                        </div>
                        <div class="form-group fg-float col-md-3 m-b-30">
                            <label>Branch</label>
                            <select data-placeholder="Select Type" ng-style="mapObject.branchStyleName === 'ERROR' && {'border' : '1px solid red'}" ng-change="validate(mapObject,'BRANCH')" name="Branch" 
                                    ng-model="mapObject.branchID" ng-options="type.rbID as type.branchName for type in branches" class="form-control"></select>
                        </div>
                        <div class="form-group fg-float col-md-3 m-b-30">
                            <label>Delivery Location Codes</label>
                            <select data-placeholder="Select Type" ng-style="mapObject.locationStyleName === 'ERROR' && {'border' : '1px solid red'}" ng-change="validate(mapObject,'LOCATION')" name="Delivery Location Codes" 
                                    ng-model="mapObject.delvLocationID" ng-options="type.rbID as type.locationName for type in locations" class="form-control"></select>
                        </div>
                        <div class="form-group fg-float col-md-3 m-b-30">
                            <button ng-click="delFromMapping($index)" class="btn btn-primary">X</button>
                        </div>
                    </div>
                    
                    <div class="fg-float col-md-6 text-center">
                        <label class="fg-label"></label>
                        <div class="fg-line">
                            <button class="btn btn-info btn-file btn-new-look" ng-click="MapCompanyRegionLocation(mapObject)">Save</button>
                            <button class="btn btn-link btn-file btn-new-look" ng-click="closeEditRegion()">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>
            <br />
            <div class="col-md-12">&nbsp;</div>

            <div class="col-md-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr style="font-weight: bold">
                            <th style="width:20%">S.NO</th>
                            <th style="width:20%">Region</th>
                            <th style="width:20%">Branch</th>
                            <th style="width:20%">Delivery Location</th>
                            <th style="width: 20%;text-align: center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="companyRegion in companyRegion.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                            <td>{{index+1}}</td>
                            <td>{{companyRegion.regName}}</td>
                            <td>{{companyRegion.branchName}}</td>
                            <td>{{companyRegion.locationName}}</td>
                            <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                                <a title="Edit Region" role="button" ng-click="editRegion(companyRegion,'MAP')" class="fa-edit fa" style="width:30px; height:30px"></a>
                                <a title="Delete Region" role="button" ng-click="DeleteRegion(companyRegion)" class="fa fa-trash-alt" style="width:30px; height:30px"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--<ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>-->
            </div>
        </div>
    </div>
</div>