﻿<style>
    .header-cards .white-box {
        margin-bottom: 8px;
    }

    .row .white-box {
        margin-bottom: 8px;
    }
</style>

<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div data-ng-controller="dashboardIndicatorsCtrl">
                    <div class="row" style="background-color: aliceblue;padding-bottom: 0;padding: 15px 10px 9px;margin-bottom: 25px; margin-left: -25.5px;margin-right: -25.5px;">
                        <div class="col-md-2">
                            <label>User Name </label>
                            <input type="text" ng-model-options="{debounce:500}" autocomplete="off" ng-model="subUserName" name="productIDorName" id="productIDorName"
                                   ng-change="autofillUser(subUserName, 'NAME')" class="form-control">
                            <ul class="list-group" ng-show="this['filterUsers_'] && this['filterUsers_'].length > 0" style="z-index:99; max-height:200px;overflow:scroll;border:1px solid">
                                <li class="list-group-item form-control" style="cursor:pointer; border: 1px solid #d4d4d4; width:265px"
                                    ng-repeat="user_$index in this['filterUsers_']"
                                    ng-click="fillTextbox(user_$index)">
                                    {{user_$index.fullName}}
                                </li>
                            </ul>

                            <span class="text-center text-danger" ng-if="subUserName == ''">Please select user to retrieve data</span>
                        </div>
                        <div class="col-md-2">
                            <label>Search Departments:</label>
                            <div class="dropdown">
                                <input class="form-control" type="text" ng-model="searchDepartmentString" ng-change="searchDepartment(searchDepartmentString)" placeholder="Search Dept" data-toggle="dropdown" autocomplete="off" />

                                <span class="form-control-feedback">
                                    <i class="fa fa-search"></i>
                                </span>
                                <ul class="dropdown-menu" style="width:100%;max-height:280px;overflow:auto;" ng-show="userDepartments.length > 0 && subUser">
                                    <li class="col-md-12" style="padding-top:5px;padding-bottom:5px;" ng-repeat="user in userDepartments">
                                        <div class="row" ng-click="addUserDepartments(user)"><div class="col-md-1"><input type="checkbox" autocomplete="off" ng-checked="user.isDepartmentUser"></div><div class="col-md-10">{{user.companyDepartments.deptCode}}</div></div>
                                    </li>
                                </ul>
                                <ul class="dropdown-menu" style="width:100%;max-height:280px;overflow:auto;" ng-show="userDepartments.length > 0  && !subUser">
                                    <li class="col-md-12" style="padding-top:5px;padding-bottom:5px;" ng-repeat="user in userDepartments">
                                        <div class="row" ng-click="addUserDepartments(user)"><div class="col-md-1"><input type="checkbox" autocomplete="off" ng-checked="user.isDepartmentUser"></div><div class="col-md-10">{{user.deptCode}}</div></div>
                                    </li>
                                </ul>
                                <span class="text-center text-danger" ng-if="userDepartmentsAdded.length ==0">Please select Department to retrieve data</span>

                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="col-md-12">From date</label>
                                <div class="col-md-12" moment-picker="dashboard.fromDate" format="YYYY-MM-DD">
                                    <input class="form-control" placeholder="Select From date" ng-model="dashboard.fromDate" ng-model-options="{ updateOn: 'blur' }" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="col-md-12">To date</label>
                                <div class="col-md-12" moment-picker="dashboard.toDate" format="YYYY-MM-DD">
                                    <input class="form-control" placeholder="Select To date" ng-model="dashboard.toDate" ng-model-options="{ updateOn: 'blur' }" />
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-md-2 top-buffer"><button class="btn btn-danger waves-effect waves-light" ng-click="ticketData=[];GetAssignetTickets();getChartsData();">Apply</button></div>-->
                        <div class="col-md-1 top-buffer"><button ng-disabled="subUserName != '' && userDepartmentsAdded.length ==0" class="btn btn-danger waves-effect waves-light" ng-click="ticketData=[];getTicketData(1);getChartsData();">Apply</button></div>

                        <div class="col-md-3" ng-if="subUserName=='' && userDepartmentsAdded.length<=0">
                            <span class="text-center text-danger">Retrieving Company data</span>
                        </div>
                        <div class="col-md-3" ng-if="userDepartmentsAdded.length>0">
                            <span class="text-center text-danger">Please Click on Apply to retrieve User data</span>
                        </div>
                        <div class="col-md-3">
                            <button ng-click="reset()" class="btn btn-primary waves-effect waves-light" aria-hidden="true">Re-set</button>
                        </div>


                    </div>

                    <div class="row text-center" style="background-color: aliceblue;padding-bottom: 0;padding: 15px 10px 9px;margin-bottom: 25px; margin-left: -25.5px;margin-right: -25.5px;">
                        <label>Selected Departments:</label>
                        <div class="col-md-12" style="border:1px solid #e4e7ea; border-radius:4px; color:#606261; padding:6px 10px 5px 10px;height:2.5rem;">
                            <span style="background:#efefef;padding:3px;margin-right:5px;border-radius:4px;margin-bottom:5px;display:inline-block;" ng-repeat="user in userDepartmentsAdded">{{user.DEPT_CODE}} </span>
                        </div>
                    </div>
                    
                    <div class="row header-cards">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="white-box">
                                <h3 class="box-title"><small>Total Transaction taken place</small>  <strong> {{dashboardIndicator.TOTAL_TRANSACTIONS}}</strong></h3>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <img src="UI_2018_03/images/graph.png" class="img-responsive" style="margin-top:20px;">
                                    </div>
                                    <div class="col-xs-8 text-right">
                                        <span class="text-muted">Total</span>
                                        <h3>
                                            {{((dashboardIndicator.TOTAL_TRANSACTIONS > 0)?dashboardIndicator.TOTAL_TRANSACTIONS:"N/A")}}
                                        </h3>
                                    </div>
                                </div>
                                <div class="progress m-b-0">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:0%;"> <span class="sr-only"></span> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="white-box">
                                <h3 class="box-title"><small>Total Savings wrt auctions</small>  <strong ng-bind-html="dashboardIndicator.TOTAL_SAVINGS | inrCurrency:INR"></strong></h3>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <img src="UI_2018_03/images/graph.png" class="img-responsive" style="margin-top:20px;">
                                    </div>
                                    <div class="col-xs-8 text-right">
                                        <span class="text-muted">Total</span>
                                        <h3 ng-bind-html="dashboardIndicator.TOTAL_SAVINGS | inrCurrency:INR">
                                        </h3>
                                    </div>
                                </div>
                                <div class="progress m-b-0">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:0%;"> <span class="sr-only"></span> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="white-box">
                                <h3 class="box-title"><small>No. of unique Vendor Transacting through PRM</small>  <strong> {{dashboardIndicator.TOTAL_UNIQUE_QUOTE_SUBMIT_VENDORS}}</strong></h3>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <img src="UI_2018_03/images/graph.png" class="img-responsive" style="margin-top:20px;">
                                    </div>
                                    <div class="col-xs-8 text-right">
                                        <span class="text-muted">Total</span>
                                        <h3>
                                            {{((dashboardIndicator.TOTAL_UNIQUE_QUOTE_SUBMIT_VENDORS > 0)?dashboardIndicator.TOTAL_UNIQUE_QUOTE_SUBMIT_VENDORS:"N/A")}}
                                        </h3>
                                    </div>
                                </div>
                                <div class="progress m-b-0">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:0%;"> <span class="sr-only"></span> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="white-box">
                                <h3 class="box-title"></h3>
                                <div class="row">
                                    <div class="col-md-2 text-muted">
                                        <span>Total Savings: </span>
                                    </div>
                                    <div class="col-md-4" style="word-break: break-all;">
                                        <strong ng-bind-html="dashboardIndicator.TOTAL_PROFIT | inrCurrency:INR"></strong>
                                    </div>
                                    <div class="col-md-2 text-muted">
                                        <span>Total Loss: </span>
                                    </div>
                                    <div class="col-md-4" style="word-break: break-all;">
                                        <strong ng-bind-html="dashboardIndicator.TOTAL_LOSS | inrCurrency:INR"></strong>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <img src="UI_2018_03/images/graph.png" class="img-responsive" style="margin-top:20px;">
                                    </div>
                                    <div class="col-xs-8 text-right">
                                        <span class="text-muted">Net Savings</span>
                                        <h3 ng-bind-html="dashboardIndicator.QCS_TOTAL_SAVINGS | inrCurrency:INR">
                                        </h3>
                                    </div>
                                </div>
                                <div class="progress m-b-0">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:0%;"> <span class="sr-only"></span> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="white-box">
                                <h3 class="box-title"><small>Total Procurement Value</small>  <strong ng-bind-html="dashboardIndicator.TOTAL_PROCUREMENT_VALUE | inrCurrency:INR"></strong></h3>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <img src="UI_2018_03/images/graph.png" class="img-responsive" style="margin-top:20px;">
                                    </div>
                                    <div class="col-xs-8 text-right">
                                        <span class="text-muted">Total</span>
                                        <h3 ng-bind-html="dashboardIndicator.TOTAL_PROCUREMENT_VALUE | inrCurrency:INR">
                                        </h3>
                                    </div>
                                </div>
                                <div class="progress m-b-0">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:0%;"> <span class="sr-only"></span> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="white-box">
                                <h3 class="box-title"><small>Total Qcs Created</small>  <strong ng-bind-html="dashboardIndicator.TOTAL_QCS_CREATED"></strong></h3>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <img src="UI_2018_03/images/graph.png" class="img-responsive" style="margin-top:20px;">
                                    </div>
                                    <div class="col-xs-8 text-right">
                                        <span class="text-muted">Total</span>
                                        <h3 ng-bind-html="dashboardIndicator.TOTAL_QCS_CREATED">
                                        </h3>
                                    </div>
                                </div>
                                <div class="progress m-b-0">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:0%;"> <span class="sr-only"></span> </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--<div class="row header-cards">
        <div class="col-md-12 col-lg-6">
            <div class="card" style="border: solid;border-color: antiquewhite;">
                <div class="card-header" style="background-color: antiquewhite;text-align: center;">
                    <h5><strong>Graph</strong></h5>
                    <span><strong>No of RFQs posted Trend</strong></span>
                    <div class="card-header-right">
                        <i class="icofont icofont-spinner-alt-5"></i>
                    </div>
                </div>
                <div class="card-block">
                    <h3 class="box-title text-left" ng-if="!requirementDetailsChartShow">There is no RFQ usage</h3>
                    <hc-chart options="requirementDetails" ng-if="requirementDetailsChartShow">Loading...</hc-chart>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-6">
            <div class="card" style="border: solid;border-color: sandybrown;">
                <div class="card-header" style="background-color: sandybrown;text-align: center;">
                    <h5><strong>Graph</strong></h5>
                    <span><strong>No of Qcs posted Trend</strong></span>
                    <div class="card-header-right">
                        <i class="icofont icofont-spinner-alt-5"></i>
                    </div>
                </div>
                <div class="card-block">
                    <h3 class="box-title text-left" ng-if="!qcsDetailsChartShow">There is no QCS usage</h3>
                    <hc-chart options="qcsDetails" ng-if="qcsDetailsChartShow">Loading...</hc-chart>
                </div>
            </div>
        </div>
    </div>-->
                    <div class="row header-cards">
                        <!--<div class="col-md-12 col-lg-6">
            <div class="card" style="border: solid;border-color: paleturquoise;">
                <div class="card-header" style="background-color: paleturquoise;text-align: center;">
                    <h5><strong>Graph</strong></h5>
                    <span><strong>No of Vendor profiles Created Trend</strong></span>
                    <div class="card-header-right">
                        <i class="icofont icofont-spinner-alt-5"></i>
                    </div>
                </div>
                <div class="card-block">
                    <h3 class="box-title text-left" ng-if="!vendorDetailsChartShow">There is no vendor usage</h3>
                    <hc-chart options="vendorDetails" ng-if="vendorDetailsChartShow">Loading...</hc-chart>
                </div>
            </div>
        </div>-->
                        <div class="col-md-12 col-lg-6">
                            <div class="card" style="border: solid;border-color: palegreen;">
                                <div class="card-header" style="background-color: palegreen;text-align: center;">
                                    <h5><strong>Graph</strong></h5>
                                    <span><strong>No of Tickets Trend</strong></span>
                                    <div class="card-header-right">
                                        <i class="icofont icofont-spinner-alt-5"></i>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <h3 class="box-title text-left" ng-if="!resolvedDetailsChartShow">There are no Closed tickets</h3>
                                    <hc-chart options="resolvedDetailsArray" ng-if="resolvedDetailsChartShow">Loading...</hc-chart>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="card" style="border: solid;border-color: palegreen;">
                                <div class="card-header" style="background-color: palegreen;text-align: center;">
                                    <h5><strong>Graph</strong></h5>
                                    <span><strong>No of Vendor trained Trend</strong></span>
                                    <div class="card-header-right">
                                        <i class="icofont icofont-spinner-alt-5"></i>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <h3 class="box-title text-left" ng-if="!vendorTrainedChartShow">There are no vendors trained</h3>
                                    <hc-chart options="vendorTrained" ng-if="vendorTrainedChartShow">Loading...</hc-chart>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="row header-cards">
                        <div class="col-md-12" style="padding-bottom:10px;">
                            <button type="button" class="btn btn-info" ng-click="refreshTickets=[];getTicket(1);" title="">Refresh</button>
                        </div>
                        <div class="modal" tabindex="-1" role="dialog" id="chartModal">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body">
                                        <hc-chart options="chartDetailsByMonth"></hc-chart>
                                        <!--Updating the data for individual month data using the click event-->
                                        <button ng-show="false" id="upateChartButton">upateChartButton</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>