﻿<div ng-controller="locationCodesCtrl">
    <div class="white-box">
        <div class="box-title">
            <div class="row">
                <div class="form-group fg-float col-md-4 m-b-30">
                    <h3>Location Codes</h3>
                </div>                    
                <div class="form-group fg-float col-md-4 m-b-30">
                    <button ng-click="editLocation(location, false)" class="btn btn-info pull-right add-new-btn">Add New Location</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div ng-if="addNewLocationView">
                <div class="col-md-12">
                    <div class="form-group fg-float col-md-3 m-b-30">
                        <label class="fg-label">Location Codes <span class="text-danger">*</span></label>
                        <div class="fg-line">
                            <input type="text" ng-model="location.LOCATION_CODE" name="locationCode" id="locationCode" class="form-control fg-input" />
                        </div>
                    </div>
                    <div class="form-group fg-float col-md-3 m-b-30">
                        <label>Location Name <span class="text-danger">*</span></label>
                        <input type="text" ng-model="location.LOCATION_NAME" name="locationName" id="locationName" class="form-control fg-input" />
                    </div>
                    <div class="form-group fg-float col-md-3 m-b-30">
                        <label>Location Type <span class="text-danger">*</span></label>
                        <select ng-model="location.LOCATION_TYPE" class="form-control p-0" id="LOCATION_TYPE" required="">
                            <option value="SHIPPING">SHIPPING</option>
                            <option value="BILLING">BILLING</option>
                            <option value="DELIVERY">DELIVERY</option>
                        </select>
                    </div>
                    <div class="form-group fg-float col-md-3 m-b-30">
                        <label>Location Address </label>
                        <input type="text" ng-model="location.LOCATION_ADDR" name="LOCATION_ADDR" id="LOCATION_ADDR" class="form-control fg-input" />
                    </div>
                    <div class="col-md-12 text-center">
                        <button class="btn btn-info btn-file btn-new-look" ng-click="SaveLocation()">Save </button>
                        <button class="btn btn-link btn-file btn-new-look" ng-click="closeLocationView()">Cancel</button>
                    </div>
                </div>
            </div>

            <div class="col-md-12 table-responsive" style="margin-top: 15px;">
                <table class="table table-striped">
                    <thead>
                        <tr style="font-weight: bold">
                            <th style="width:20%">Location Code</th>
                            <th style="width:20%">Location Name</th>
                            <th style="width:20%">Location Type</th>
                            <th style="width:20%">Location Addr.</th>
                            <th style="width:20%; text-align:center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="location in locationCodes.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                            <td>{{location.LOCATION_CODE}}</td>
                            <td>{{location.LOCATION_NAME}}</td>
                            <td>{{location.LOCATION_TYPE}}</td>
                            <td>{{location.LOCATION_ADDR}}</td>
                            <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                                <a title="Edit" role="button" ng-click="editLocation(location, true);" class="fa-edit fa" style="width:30px; height:30px"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
            </div>                
        </div>
    </div>
</div>