﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div ng-controller="savePRDetailsCtrl">
                    <h4>Purchase Requisition</h4>
                    <fieldset ng-disabled="isFormdisabled">
                        <div class="row white-box">

                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>PR NO<span class="text-danger"> *</span></label>
                                        <input ng-disabled="true" type="text" ng-model="PRDetails.PR_NUMBER" name="prno" id="prno" class="form-control" />
                                        <div ng-show="isValidPRNO">
                                            <div class="help-block error logininput text-danger" ng-show="isValidPRNO">Please enter PR NO</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label for="urgency">PR Type<span class="text-danger"> *</span></label>
                                <select ng-model="PRDetails.PR_TYPE" class="form-control p-0" data-placeholder="PR_TYPE" id="PR_TYPE" required="">
                                    <option value="REGULAR_PURCHASE">Regular Purchase</option>
                                </select>
                                <div ng-show="prTypeValidation">
                                    <div class="help-block error logininput text-danger" ng-show="prTypeValidation">Please select PR Type</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="urgency">Branch<span class="text-danger"> *</span></label>
                                <select data-placeholder="Select location..." name="selectedLocation" ng-model="PRDetails.RH_ID"
                                        ng-options="branch.RH_ID as branch.BRANCH_CODE for branch in branchCodes"
                                        ng-change="handleBranch()"
                                        class="form-control p-0"></select>
                                <div ng-show="prRHIDValidation">
                                    <div class="help-block error logininput text-danger" ng-show="prRHIDValidation">Please select Branch</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Department<span class="text-danger"> *</span></label>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <select data-placeholder="Select department..." name="selectedLocation" ng-model="PRDetails.PURCHASE_GROUP_CODE"
                                                        ng-options="dept.deptCode as dept.deptCode for dept in ListUserDepartmentDesignationsTemp" class="form-control p-0"></select>
                                            </div>
                                        </div>
                                        <div ng-show="isValidIndentDept">
                                            <div class="help-block error logininput text-danger" ng-show="isValidIndentDept">Please Select Dept.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                &nbsp;
                            </div>

                            <div class="col-md-3">
                                <label for="urgency">Urgency<span class="text-danger"> *</span></label>
                                <select ng-model="PRDetails.URGENCY" class="form-control p-0" data-placeholder="Urgency" id="urgency" required="">
                                    <option value="CRITICAL">Critical (Will be Closed Today)</option>
                                    <option value="HIGH">High (Will be Closed in 2 Days)</option>
                                    <option value="MEDIUM">Medium (Will be Closed in 5 Days)</option>
                                    <option value="LOW">Low (Will Take 10-15 Days)</option>
                                </select>
                                <div ng-show="urgencyValidation">
                                    <div class="help-block error logininput text-danger" ng-show="urgencyValidation">Please select URGENCY</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="urgency"></label>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="urgency">Location: <strong> {{PRDetails.LOCATION_CODE}}</strong></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="urgency"></label>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="urgency">Region: <strong> {{PRDetails.REGION_CODE}}</strong></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="urgency">Budgeted<span class="text-danger"> *</span></label>
                                <select ng-model="PRDetails.IS_BUDGETED" class="form-control p-0" data-placeholder="IS_BUDGETED" id="IS_BUDGETED" required="" ng-change="handleBudgeted()">
                                    <option value="YES">Yes</option>
                                    <option value="NO">No</option>
                                </select>
                                <div ng-show="isBudgetedValidation">
                                    <div class="help-block error logininput text-danger" ng-show="isBudgetedValidation">Please select Is-Budgeted</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                &nbsp;
                            </div>
                            <div class="col-md-3">
                                <label for="urgency">Budget Allocated<span class="text-danger"> *</span></label>
                                <input type="text" class="form-control" ng-model="PRDetails.BUDGET_ALLOCATED" valid-number allow-decimal="true" allow-negative="false" 
                                       ng-change="handleBudgetAvailable()" ng-model-options="{debounce:300}" ng-disabled="!(PRDetails.IS_BUDGETED === 'YES')"/>
                                <div ng-show="budgetAllocatedValidation">
                                    <div class="help-block error logininput text-danger" ng-show="budgetAllocatedValidation">Please enter budget allocated</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="urgency">Budget Used Till Date<span class="text-danger"> *</span></label>
                                <input type="text" class="form-control" ng-model="PRDetails.BUDGET_USED" valid-number allow-decimal="true" allow-negative="false" 
                                       ng-change="handleBudgetAvailable()" ng-model-options="{debounce:300}" ng-disabled="!(PRDetails.IS_BUDGETED === 'YES')"/>
                                <div ng-show="budgetUsedValidation">
                                    <div class="help-block error logininput text-danger" ng-show="budgetUsedValidation">Please enter budget used till date</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="urgency">Budget Available<span class="text-danger"> *</span></label>
                                <input type="text" class="form-control" ng-model="PRDetails.BUDGET_AVAILABLE" ng-disabled="true" valid-number allow-decimal="true" allow-negative="false"/>
                            </div>
                            <div class="col-md-3">
                                <label for="urgency">Tentative Value</label>
                                <input type="text" class="form-control" ng-model="PRDetails.TENTATIVE_VALUE" valid-number allow-decimal="true" allow-negative="false" />
                                <!--<div ng-show="tentativeValueValidation">
                                    <div class="help-block error logininput text-danger" ng-show="tentativeValueValidation">Please enter tentative value</div>
                                </div>-->
                            </div>
                        </div>
                        <div class="row white-box ">
                            <div class="row">
                                <div class="col-md-1">Delivery Date :</div>
                                <div class="col-md-2">
                                    <div class="col-md-12" moment-picker="MATERIAL_DELIVERY_DATE" format="DD-MM-YYYY" min-date="minDateMoment" change="assignToItems(MATERIAL_DELIVERY_DATE)">
                                        <input class="form-control" placeholder="Select a date" ng-change="assignToItems(MATERIAL_DELIVERY_DATE);" ng-model="MATERIAL_DELIVERY_DATE" ng-model-options="{ updateOn: 'blur' }">
                                    </div>
                                </div>
                            </div><br />
                            <h5 ng-show="tableValidation" style="color:red;">{{tableValidationMsg}}</h5>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="min-width:100px;">
                                                SNO
                                            </th>
                                            <th class="text-center" style="min-width:200px;">
                                                ITEM NAME<span class="text-danger"> *</span>
                                            </th>
                                            <th class="text-center" style="min-width:150px;">
                                                Required Qty.<span class="text-danger"> *</span>
                                            </th>
                                            <th class="text-center" style="min-width:150px;">
                                                Delivery Date<span class="text-danger"> *</span>
                                            </th>
                                            <th class="text-center" style="min-width:150px;">
                                                GL Code
                                            </th>
                                            <th class="text-center" style="min-width:150px;">
                                                GL Name
                                            </th>
                                            <!--<th class="text-center" style="min-width:150px;">
                                                Cost-Center<span class="text-danger"> *</span>
                                            </th>-->
                                            <th class="text-center" style="min-width:80px;">
                                                Lead Time
                                            </th>
                                            <th class="text-center" style="min-width:150px;">
                                                Requisitioner Name<span class="text-danger"> *</span>
                                            </th>
                                            <th class="text-center" style="min-width:150px;">
                                                Requisitioner Email<span class="text-danger"> *</span>
                                            </th>
                                            <th class="text-center" style="min-width:100px;">
                                                PR Note<span class="text-danger"> *</span>
                                            </th>
                                            <th class="text-center" style="min-width:150px;">
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="pr in PRDetails.PRItemsList" ng-init="parentIdx = $index" ng-if="pr.IS_VALID">
                                        <tr>
                                            <td class="text-center" style="min-width:100px;">
                                                {{$index+1}}
                                            </td>
                                            <td class="text-center" style="min-width:150px;">
                                                <textarea id="materialDescbox{{$index}}" type="text" class="form-control" ng-model="pr.MATERIAL_DESCRIPTION" ng-model-options="{debounce:500}"
                                                          ng-mousemove="calculateSize($index)"
                                                          ng-change="autofillProduct(pr.MATERIAL_DESCRIPTION, $index)" placeholder="Search with product code/product name"
                                                          style="cursor:pointer;resize:both;" rows="2" ng-disabled="pr.WF_ID"></textarea>
                                                <ul class="list-group" ng-if="['filterProducts_'+$index]" style="{{pr.STYLE}}">
                                                    <li class="list-group-item form-control" style="cursor:pointer;" ng-repeat="prod_$index in this['filterProducts_'+$index]"
                                                        ng-click="fillTextbox(prod_$index, $parent.$index)"><small title="{{prod_$index.prodName}}">{{prod_$index.prodName}}</small></li>
                                                </ul>
                                            </td>
                                            <td class="text-center" style="min-width:150px;">
                                                <input type="text" class="form-control" ng-model="pr.REQUIRED_QUANTITY" valid-number allow-decimal="true" allow-negative="false" />
                                            </td>
                                            <td class="text-center" style="min-width:150px;">
                                                <div moment-picker="pr.MATERIAL_DELIVERY_DATE" format="DD-MM-YYYY" min-date="minDateMoment">
                                                    <input type="text" class="form-control" ng-model="pr.MATERIAL_DELIVERY_DATE" style="resize:both;" ng-model-options="{ updateOn: 'blur' }" placeholder="Select a date"></input>
                                                </div>
                                            </td>
                                            <td class="text-center" style="min-width:80px;">
                                                {{pr.CATEGORY_CODE}}
                                            </td>
                                            <td class="text-center" style="min-width:80px;">
                                                {{pr.CATEGORY_NAME}}
                                            </td>
                                            <!--<td>
                                                <select ng-model="pr.COST_CENTER" class="form-control p-0" data-placeholder="IS_BUDGETED" id="IS_BUDGETED" required="">
                                                    <option value="YES">Yes</option>
                                                    <option value="NO">No</option>
                                                </select>
                                            </td>-->
                                            <td class="text-center" style="min-width:80px;">
                                                <input type="text" class="form-control" ng-model="pr.LEAD_TIME" valid-number allow-decimal="true" allow-negative="false" />
                                            </td>
                                            <td class="text-center" style="min-width:100px;">
                                                <input class="form-control" name="REQUISITIONER_NAME" rows="4" ng-model="pr.REQUISITIONER_NAME" />
                                            </td>
                                            <td class="text-center" style="min-width:100px;">
                                                <input class="form-control" name="REQUISITIONER_EMAIL" rows="4" ng-model="pr.REQUISITIONER_EMAIL" />
                                            </td>
                                            <td class="text-center" style="min-width:100px;">
                                                <textarea class="form-control" name="PR_NOTE" rows="4" ng-model="pr.PR_NOTE" title="{{pr.PR_NOTE}}"></textarea>
                                            </td>
                                            <td class="text-center" style="min-width:150px;">
                                                <div class="button-box" data-provides="fileinput" ng-if="!isFormdisabled && (!pr.ATTACHMENTSARR || pr.ATTACHMENTSARR.length <= 0) && (prID == 0 || (prID > 0 && !PRDetails.IS_PR_SUBMITTED))">
                                                    <div class="fileupload btn btn-sm btn-info btn-sm waves-effect waves-light">
                                                        <span><i class="fa fa-upload"></i></span>
                                                        <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="{{pr.TEMP_ID}}" itemid="{{pr.TEMP_ID}}" multiple ng-file-select-items="onFileSelect($files)">
                                                    </div>
                                                </div>
                                                <button class="btn btn-sm btn-danger" ng-click="deletePrItem(pr)" title="Delete Item" ng-if="prID == 0 || (prID > 0 && !PRDetails.IS_PR_SUBMITTED)">
                                                    <i class="fa fa-trash-alt "></i>
                                                </button>
                                                <small>
                                                    <label ng-if="attch.fileID <= 0" ng-repeat="attch in pr.ATTACHMENTSARR">{{attch.fileName}}  <strong ng-click="removeAttach(parentIdx,pr.ATTACHMENTSARR)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br /></label>
                                                    <label ng-if="attch.fileID > 0 && pr.ATTACHMENTSARR.length > 0" ng-repeat="attch in pr.ATTACHMENTSARR">
                                                        <a target="_blank" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionID}}">{{attch.fileName}}</a>
                                                        <strong ng-click="removeAttach(pr)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br />
                                                    </label>
                                                </small>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row top-buffer" ng-show="!PRDetails.IS_PR_SUBMITTED">
                                <div class="col-md-1 pull-right text-center">
                                    <button class="btn btn-info btn-sm waves-effect waves-light" ng-click="addPrItem();" type="button">
                                        <i class="fa fa-plus-square m-r-5"></i> <span>Add item</span>
                                    </button>
                                </div>
                            </div>                            

                            <div class="row" >
                                <div class="col-md-12" style="font-size:18px;">
                                    <div class="row" ng-if="itemWorkflow.length <= 0 || (itemWorkflow[0].WorkflowTracks && itemWorkflow[0].WorkflowTracks.length <= 0)">
                                        <div class="col-md-12">
                                            <select ng-style="isErrorworkflowIDStyle" chosen name="workflowType" ng-model="workflowObj.workflowID"
                                                    ng-options="wf.workflowID as wf.workflowTitle for wf in workflowList" required class="form-control-dropdown" ng-change="workflowChange()">
                                                <option value="">Select Workflow</option>
                                            </select>
                                            <div ng-show="workFlowValidation">
                                                <div class="help-block error logininput text-danger" ng-show="workFlowValidation">Please Select Workflow</div>
                                            </div>
                                            <strong ng-if="!isErrorworkflowID"> Approval workflow </strong><strong ng-if="isErrorworkflowID" class="text-danger">Approval workflow*</strong>
                                            <a role="button" ng-click="getWorkflows();" title="Reload workflows">
                                                <i class="fa fa-sync"></i>
                                            </a>
                                        </div>                                       
                                        <div class="col-md-3">
                                            <strong>OR</strong>
                                            <input type="text" ng-model="PRDetails.PR_APPROVER" placeholder="Enter approver Email Id" name="PR_APPROVER" id="PR_APPROVER" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row" ng-show="itemWorkflow.length > 0 || itemWorkflow[0].WorkflowTracks || itemWorkflow[0].WorkflowTracks.length > 0">
                                        <select ng-style="isErrorworkflowIDStyle" chosen name="workflowType" ng-model="workflowObj.workflowID"
                                                ng-options="wf.workflowID as wf.workflowTitle for wf in workflowList" required class="form-control-dropdown"
                                                ng-disabled="true">
                                            <option value="">Select Workflow</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center">
                            <button type="submit" class="btn btn-info btn-file btn-new-look" ng-disabled="isFormdisabled" ng-if="PRDetails.PRItemsList && PRDetails.PRItemsList.length > 0" ng-click="submitPr(false)">Save</button>
                            <button type="submit" class="btn btn-info btn-file btn-new-look" ng-disabled="isFormdisabled" ng-if="PRDetails.PRItemsList && PRDetails.PRItemsList.length > 0" ng-click="submitPr(true)">Submit</button>
                            <button class="btn btn-info btn-file btn-new-look" ng-click="goToPrList();">Cancel</button>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6" ng-repeat="step in itemWorkflow[0].WorkflowTracks track by $index">
                                        <br />
                                        <br />
                                        <div class="row approvalRowHeight">
                                            <div class="col-md-12">
                                                <P ng-show="step.status == 'PENDING'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                    <strong> <label style="color:darkorange">{{step.status + ' By ' + ' - ' + step.approverDetails.firstName}}</label>({{step.approver.desigCode + ' ' + step.department.deptCode}}) </strong>
                                                </P>
                                                <span ng-show="step.status == 'APPROVED' || step.status == 'REJECTED' || step.status == 'HOLD'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                    <strong>{{step.status + ' By '+' - ' + step.approverDetails.approvedBy}}</strong>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 list-group-item" href="#"
                                                 ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}"
                                                 style="min-height:90px;">
                                                <div class="row">
                                                    <div class="col-md-1 col-xs-1">
                                                        <h5>{{$index + 1}}. </h5>
                                                    </div>
                                                    <div ng-class="(isApproverDisable($index) == true?'col-md-10 col-xs-11':'col-md-5 col-xs-5')" title="{{step.comments}}">
                                                        <textarea rows="2" cols="50" xss-sanitizer ng-model="step.comments" ng-disabled="isApproverDisable($index);" placeholder="Comments" type="text" class="form-control fg-input" style="resize: vertical;"></textarea>
                                                        <lable ng-hide="isApproverDisable($index);" class="text-danger">  {{commentsError}} </lable>
                                                    </div>
                                                    <div class="col-md-5 col-xs-5" ng-show="!isApproverDisable($index);">
                                                        <div class="row">
                                                            <div class="col-md-4 col-xs-4">
                                                                <i role="button" ng-click="updateTrack(step, 'HOLD')"><i class="fa fa-stop-circle fa-2x" style="color:brown;" title="Hold" aria-hidden="true"></i></i>
                                                                <small>Hold</small>
                                                            </div>
                                                            <div class="col-md-4 col-xs-4">
                                                                <i role="button" ng-click="updateTrack(step, 'APPROVED')"><i class="fa fa-thumbs-up fa-2x" style="color:#266A2D;" title="Approve" aria-hidden="true"></i></i>
                                                                <small>Approve</small>
                                                            </div>
                                                            <div class="col-md-4 col-xs-4">
                                                                <i role="button" ng-click="updateTrack(step, 'REJECTED')"><i class="fa fa-thumbs-down fa-2x" style="color:red;" title="Reject" aria-hidden="true"></i></i>
                                                                <small>Reject</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    &nbsp;
                                                </div>
                                                <div class="row" style="margin-top:0px;text-align:center">
                                                    <div>
                                                        <b ng-if="$index == 0">Received On: {{dateFormat(step.dateCreated)}}</b>
                                                        <b class="" ng-if="$index == 0 && (step.status == 'APPROVED' || step.status == 'REJECTED')"> / {{step.status}} On: {{dateFormat(step.dateModified)}}</b>
                                                        <b class="" ng-if="$index > 0 && itemWorkflow[0].WorkflowTracks[$index-1].status == 'APPROVED'">Received On: {{dateFormat(itemWorkflow[0].WorkflowTracks[$index-1].dateModified)}}</b>
                                                        <b class="" ng-if="$index > 0 && (step.status == 'APPROVED' || step.status == 'REJECTED')"> / {{step.status}} On: {{dateFormat(step.dateModified)}}</b>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div style='border-bottom:1px solid #ccc;'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            &nbsp;
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>
