<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebartoggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" data-ng-controller="vendorLogisticCtrl">


                <div class="row ">
                    <div class="col-md-12 negotiation_outside_card">
                        <div class="sectiontitle">
                            <h2 class="postrequirement_h" id="NegotiationDetailsHeader">Negotiation Details</h2>
                        </div>
                    </div>
                </div>

                <!-- #region Card 1 -->
                <div class="white-box" ng-show="auctionItem.requirementID > 0">
                    <div class="row">
                        <div>
                            <div class="row padding0">
                                <div class="col-md-6 padding0">
                                    <h3>
                                        <b id="reqTitle">Title:</b> {{auctionItem.title}}
                                        <small>
                                            <a title="Requirement PDF" target="_blank" ng-if="auctionItem.reqPDF" href="FileDownload.aspx?attachid={{auctionItem.reqPDF}}&sessionid={{sessionid}}">Download</a>
                                        </small>
                                    </h3>
                                    <div class="col-sm-6" style="white-space: nowrap;padding-left:10px" ng-if="auctionItem.status == 'UNCONFIRMED'">
                                        Quotation Freeze Time:<strong class="text-danger" style="font-size:small"> {{auctionItem.quotationFreezTime}}</strong>
                                    </div>
                                    <div>
                                        <div class="col-sm-6 text-center" style="white-space: nowrap;" ng-if="auctionItem.status == 'UNCONFIRMED'">
                                            Exp.Negotiation Start Time:<strong class="text-danger" style="font-size:small"> {{auctionItem.expStartTime}}</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="co-md-12 text-right">
                                        <h3 ng-if="auctionItem.status != 'NOTSTARTED' && auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'STARTED'"> Status: {{auctionItem.status}}</h3>
                                    </div>
                                    <div class="row text-right">
                                        <a target="_blank " class="" ng-if="auctionItem.status != 'PO Sent' && auctionItem.auctionVendors[0].PO.poLink > 0" href="FileDownload.aspx?attachid={{auctionItem.auctionVendors[0].PO.poLink}}&&sessionid={{sessionid}}"> <strong>Download PO </strong></a>
                                    </div>
                                    <div class="row text-right">
                                        <a target="_blank " class="" ng-if="auctionItem.auctionVendors[0].PO.materialDispachmentLink > 0" href="FileDownload.aspx?attachid={{auctionItem.auctionVendors[0].PO.materialDispachmentLink}}&&sessionid={{sessionid}}"> <strong>Delivery Challan</strong></a>
                                    </div>
                                    <div class="row text-right">
                                        <a target="_blank " class="" ng-if="auctionItem.auctionVendors[0].PO.materialReceivedLink > 0" href="FileDownload.aspx?attachid={{auctionItem.auctionVendors[0].PO.materialReceivedLink}}&&sessionid={{sessionid}}"><strong>Material Received Receipt</strong></a>
                                    </div>
                                    <div class="text-right" ng-if="auctionItem.status != 'STARTED' && auctionItem.status != 'NOTSTARTED' && auctionItem.status != 'UNCONFIRMED'">
                                        <button class='btn btn-info btn-sm' ng-if="auctionItem.auctionVendors[0].revquotationUrl" ng-click="goToVendorPo(auctionItem.auctionVendors[0].vendorID)">
                                            PO
                                        </button>
                                    </div>

                                    <!--<div id="timer">
                            <div class="row text-right" ng-if="showTimer && !isDeleted">
                                <h4>
                                    {{timeLeftMessage}}
                                    <timer style="font-size:40px" countdown="auctionItem.timeLeft" ng-style="timerStyle" interval="1000">{{ddays}}:{{hhours}}:{{mminutes}}:{{sseconds}}</timer>
                                    <label title=" Timer Refresh" ng-if="showTimer  && !isDeleted && auctionStarted && auctionItem.status == 'STARTED'" ng-click="recalculate(true)" class='zmdi zmdi-refresh-sync zmdi-hc-2x text-center text-right' style="color:#3b5998;" role="button"></label>
                                </h4>
                            </div>
                        </div>-->

                                </div>
                            </div>

                            <div class="row m-b-20 padding0">
                                <div class="col-md-6 padding0">
                                    <div>
                                        <h4><b>Quotation Price (incl. all Taxes):</b><span ng-bind-html="vendorInitialPrice | numToCurrency:auctionItem.currency"></span></h4>
                                        <h5 ng-show="auctionStarted && !isDeleted && vendorQuotedPrice!=0"><b>Min Bid Amount To be Reduce:</b><span ng-bind-html="auctionItem.minBidAmount | numToCurrency:auctionItem.currency"></span></h5>
                                        <!--<h4 ng-if="auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED' && !isDeleted && nonParticipatedMsg != ''"><b><font color="red"><span ng-bind="nonParticipatedMsg"></span> </font></b></h4>
                                        <h4 ng-if="!isDeleted && quotationRejecteddMsg != ''"><b><font color="red"><span ng-bind="quotationRejecteddMsg"></span> </font></b></h4>
                                        <h4 ng-if="!isDeleted && quotationNotviewedMsg != '' && quotationUrl"><b><font color="#FF8C00"><span ng-bind="quotationNotviewedMsg"></span> </font></b></h4>
                                        <h4 ng-if="!isDeleted && quotationApprovedMsg != '' && quotationUrl &&(auctionItem.status == 'UNCONFIRMED' || auctionItem.status == 'NOTSTARTED')"><b><font color="#266A2D"><span ng-bind="quotationApprovedMsg"></span> </font></b></h4>
                                        <h4 ng-if="!isDeleted && revQuotationRejecteddMsg != ''"><b><font color="red"><span ng-bind="revQuotationRejecteddMsg"></span> </font></b></h4>
                                        <h4 ng-if="!isDeleted && revQuotationNotviewedMsg != '' && revquotationUrl"><b><font color="#FF8C00"><span ng-bind="revQuotationNotviewedMsg"></span> </font></b></h4>
                                        <h4 ng-if="!isDeleted && revQuotationApprovedMsg != '' && revquotationUrl"><b><font color="#266A2D"><span ng-bind="revQuotationApprovedMsg"></span> </font></b></h4>-->
                                        <label ng-style="auctionItem.auctionVendors[0].quotationStatusStyle">{{auctionItem.auctionVendors[0].quotationStatus}}</label>
                                        <div>
                                            <span ng-if="quotationRejectedComment != ''"><h4>Selected/Rejected reason: </h4><h5>{{quotationRejectedComment}}</h5></span>
                                        </div>
                                        <div>
                                            <span ng-if="revQuotationRejectedComment != ''"><h4>Selected/Rejected reason: </h4><h5>{{revQuotationRejectedComment}}</h5></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 padding0">
                                    <div ng-if="(auctionItem.status == 'PO Sent' || auctionItem.status == 'PO Accepted'|| auctionItem.status ==  'Material Dispatched') && auctionItem.selectedVendorID == customerID && auctionItem.customerID != customerID && auctionItem.superUserID != customerID">
                                        <div class="col-md-5 form-group fg-float">
                                            <div class="fg-line">
                                                <h4>Delivery Terms: </h4>
                                                <input ng-model="updatedeliverydateparams.date" date-format="dd-MM-yyyy HH:mm" datetime-picker class="form-control" required />
                                            </div>
                                        </div>
                                        <div class="text-left top-buffer col-md-2 fltleft" ng-click="updatedeliverdate()">
                                            <button class='btn btn-info btn-sm' href='javascript:void(0);'>Update</button>
                                        </div>
                                    </div>
                                    <div ng-if="(auctionItem.status == 'Material Received' || auctionItem.status == 'Payment Dispatched') && (auctionItem.customerID == customerID || auctionItem.superUserID == customerID || auctionItem.customerReqAccess)">
                                        <div class="col-md-5 form-group fg-float">
                                            <div class="fg-line">
                                                <h4>Payment Date: </h4>
                                                <input ng-model="updatepaymentdateparams.date" date-format="dd-MM-yyyy HH:mm" datetime-picker dateonly class="form-control" required />
                                            </div>
                                        </div>
                                        <div class="text-left top-buffer col-md-2 fltleft" ng-click="updatepaymentdate()">
                                            <button class='btn btn-info btn-sm' href='javascript:void(0);'>Update</button>
                                        </div>
                                    </div>
                                    <h3 ng-if="!isDeleted" class="text-right">Price: <span ng-bind-html="auctionItem.minPrice | numToCurrency:auctionItem.currency"></span>&nbsp;<a title="Bid History" class="tm-icon fa fa-history mdc-text-amber" target="_blank" href="prm360.html#/lgstcsBidHistory/{{vendorID}}/{{auctionItem.requirementID}}"></a></h3>
                                    <h3 ng-show="auctionStarted &&!isDeleted" class="text-right">Rank: {{((auctionItem.auctionVendors[0].rank==0)?"N/A":auctionItem.auctionVendors[0].rank)}}</h3>

                                    <span ng-if="isUserEntitled(519951)">
                                    </span>
                                    <div class="text-right" style="clear: both;padding-top: 13px;" ng-show="(auctionItem.customerID != customerID && auctionItem.superUserID != customerID && auctionItem.selectedVendorID == customerID) && auctionItem.status == 'PO Sent'" class="col-md-12 pull-right padding0" style="margin-top: 13px;">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-2 padding0">
                                            <button class='btn btn-info btn-sm pull-right' ng-click="updateStatus('PO Accepted')">Accept PO</button>
                                        </div>
                                    </div>
                                    <div class="text-right" style="clear: both;padding-top: 13px;" ng-show="(auctionItem.customerID != customerID && auctionItem.superUserID != customerID && auctionItem.selectedVendorID == customerID) && auctionItem.status == 'PO Accepted'" class="col-md-12 pull-right padding0" style="margin-top: 13px;">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-2 padding0">
                                            <button class='btn btn-info btn-sm pull-right' ng-click="metrialDispatchmentForm()">Delivery Challan</button>
                                        </div>
                                    </div>
                                    <div class="text-right" style="clear: both;padding-top: 13px;" ng-show="(auctionItem.customerID == customerID || auctionItem.superUserID == customerID || auctionItem.customerReqAccess) && auctionItem.status == 'Material Dispatched'" class="col-md-12 pull-right padding0" style="margin-top: 13px;">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-2 padding0">
                                            <button class='btn btn-info btn-sm pull-right' ng-click="goToMaterialReceived()">Material Received Receipt</button> <!--updateStatus('Material Received')-->
                                        </div>
                                    </div>
                                    <div class="text-right" style="clear: both;padding-top: 13px;" ng-show="(auctionItem.customerID == customerID || auctionItem.superUserID == customerID || auctionItem.customerReqAccess) && auctionItem.status == 'Material Received'" class="col-md-12 pull-right padding0" style="margin-top: 13px;">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-2 padding0">
                                            <button class='btn btn-info btn-sm pull-right' ng-click="paymentdetailsForm()">Payment Details</button>
                                        </div>
                                    </div>
                                    <div class="text-right" style="clear: both;padding-top: 13px;" ng-show="(auctionItem.customerID != customerID && auctionItem.superUserID != customerID && auctionItem.selectedVendorID == customerID) && auctionItem.status == 'Payment Dispatched'" class="col-md-12 pull-right padding0" style="margin-top: 13px;">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-2 padding0">
                                            <button class='btn btn-info btn-sm pull-right' ng-click="updateStatus('Payment Received')">Payment Received</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />

                            <div id="auctiontimer2" ng-show="auctionItem.isDiscountQuotation != 2 && !isDeleted && vendorQuotedPrice!=0 && isQuotationRejected == 0
                             && ((auctionStarted && auctionItem.status == 'STARTED') || auctionItem.status == 'NOTSTARTED')" class="text-center col-md-12 padding0"
                                 style="margin-top:10px;margin-bottom: 20px;">
                                <div class="text-left top-buffer col-md-3">
                                    <input id="currentPrice" ng-disabled="true" type="number" step="any" ng-model="auctionItem.minPrice" class="form-control fg-input fg-toggled">
                                    <h4><label class="fg-label">Current Price</label></h4>
                                    <h6><b><font class="text-muted"><span></span>  </font></b></h6>
                                </div>
                                <div class="text-left top-buffer col-md-3">
                                    <input id="reduceBidValue" type="number" step="any" ng-min="0" min="0" ng-model="reduceBidValue" ng-change="reduceBidAmount()" class="form-control fg-input fg-toggled" ng-disabled="auctionItem.isUnitPriceBidding == 1 && (auctionItem.status == 'STARTED' || auctionItem.status == 'NOTSTARTED')" ng-style="divBorder1">
                                    <h4><label class="fg-label">Reduce Bid Amount By</label></h4>
                                    <h6><b><font class="text-muted"><span ng-bind="reduceBidAmountNote"></span>  </font></b></h6>
                                    <strong class="text-center"> Max.reduction amount</strong>
                                    <strong class="text-center">[ <span style="color:green"><span ng-bind-html="((auctionItem.minPrice)-(0.75 *(auctionItem.minPrice))) | numToCurrency:auctionItem.currency"></span></span> ]</strong>
                                </div>
                                <div class="text-left top-buffer col-md-3">
                                    <input id="reduceBidValue1" ng-disabled="true" type="number" step="any" ng-value="(auctionItem.minPrice - reduceBidValue | number : companyRoundingDecimalSetting)" class="form-control fg-input fg-toggled">
                                    <h4><label class="fg-label">New Price to be Quoted</label></h4>
                                    <h6><b><font class="text-muted"><span></span>  </font></b></h6>
                                    <strong class="text-center"> </strong>
                                    <strong class="text-center">
                                        Bid Range [ <span style="color:green">
                                            <span ng-bind-html="((auctionItem.minPrice)-(auctionItem.minBidAmount)) | numToCurrency:auctionItem.currency"></span>
                                        </span> - <span style="color:red"><span ng-bind-html="(0.75 *(auctionItem.minPrice)) | numToCurrency:auctionItem.currency"></span></span> ]
                                    </strong>
                                </div>
                                <div class="text-left top-buffer col-md-2 fltleft" ng-click="makeaBid1()" ng-style="divfixMakeabid">
                                    <button class='btn btn-info btn-sm' ng-disabled="disableBidButton || auctionItem.status == 'NOTSTARTED' || makeABidDisable == true" href='javascript:void(0);'>Make a Bid</button>
                                </div>
                                <div class="col-md-1" style="margin-top:40px;margin-bottom: 20px;" ng-hide="true"> <b>OR</b> </div>
                                <div class="text-left top-buffer col-md-3 fltleft">
                                    <input id="makebidvalue" ng-hide="true" type="number" step="any" ng-min="0" min="0" ng-model="vendorBidPrice" ng-change="bidAmount()" class="form-control fg-input">
                                    <label class="fg-label" ng-hide="true">Quote Bid Amount</label>

                                    <div ng-show="bidPriceEmpty">
                                        <div class="help-block error logininput padding0" ng-show="bidPriceEmpty" style="margin-top:-10px">Please enter valid Bid Amount</div>
                                    </div>
                                    <div ng-show="bidPriceValidation">
                                        <div class="help-block error logininput padding0" ng-show="bidPriceValidation" style="margin-top:-10px" ng-style="divfixMakeabidError">Bidamount be less then min price</div>
                                    </div>
                                    <h6><b><font class="text-muted"><span ng-bind="incTaxBidAmountNote"></span>  </font></b></h6>
                                </div>
                            </div>
                            <div ng-show="auctionStarted && auctionItem.status == 'STARTED' && !isDeleted && vendorQuotedPrice!=0"><h4><b><font class="text-muted"><span ng-bind="noteForBidValue"></span>  </font></b></h4></div>

                        </div>
                        <div class="table-responsive z-depth-1 clear-both" ng-if="auctionItem.isUnitPriceBidding == 1 && auctionItem.status == 'STARTED'">
                        </div>
                    </div>
                </div>

                <!-- #endregion Card 1 -->
                <!-- #region Card 2 -->
                <div class="white-box" ng-show="auctionItem.requirementID > 0">
                    <div class="box-title">
                        <h4>
                            Detailed Requirement Specifications
                            <button ng-click="downloadExcel();" class="btn btn-primary"><i class="fa fa-download" aria-hidden="true"></i> Export to Excel</button>
                            <button ng-hide="true" id="downloadExcelButton" class="btn btn-info" onclick="tableToExcel('testTable', 'Comparitives')" value="Export to Excel"></button>
                        </h4>
                    </div>
                    <div class="row" ng-show="!isDeleted">
                        <div class="row bottom-buffer">
                            <!--<div class="col-sm-3">
                                <strong>Is Inclusive Tax?: </strong>{{(auctionItem.inclusiveTax)?"Yes":"No";}}
                            </div>-->
                            <!--<div class="col-sm-4">
                                <strong>Include Freight & Installation Charges?:</strong> {{(auctionItem.includeFreight)?"Yes":"No";}}
                            </div>-->
                            <div class="col-sm-3" style="white-space: nowrap;">
                                <strong>Quotation Freeze Time: </strong>{{auctionItem.quotationFreezTime}}
                            </div>
                            <div class="col-sm-3" style="white-space: nowrap;">
                                <strong>Exp.Negotiation Start Time: </strong>{{auctionItem.expStartTime}}
                            </div>
                            <div class="col-sm-3">
                                <strong>Urgency: </strong>{{auctionItem.urgency}}
                            </div>
                        </div>

                        <br />
                        <!--<div ng-repeat="RI in auctionItemVendor.auctionVendors[0].listReqItems">
                            <strong style="font-size: 15px">Item {{$index + 1}} <input ng-model="RI.isEnabled" type="checkbox" value="true" /></strong>
                            <span ng-repeat="QI in RI.listQuotationItems track by $index">
                                <span style="font-size: 15px">Airline {{$index + 1}};&nbsp;</span>
                            </span>
                        </div>-->
                        <div>
                            <strong style="font-size: 17px"> <input type="radio" ng-click="changeShowMinimizedStyle(showMinimized)" ng-model="showMinimized" ng-value="false" /> Maximize &nbsp;</strong>
                            <strong style="font-size: 17px"> <input type="radio" ng-click="changeShowMinimizedStyle(showMinimized)" ng-model="showMinimized" ng-value="true" /> Minimize <small class="text-danger" ng-if="showMinimized">(Note: Minimize will hide some fields in table, please check all fields before submitting Price.)</small></strong>
                        </div>



                        <div class="row" id="biddingTable">
                            <div class="col-md-8">

                                <div class="table-responsive bottom-buffer" double-scroll-bar-horizontal>
                                    <table class="table" style="background-color:#f5f5f5" id="testTable">

                                        <tr style="text-align:left;" ng-if="loadExcel == true">
                                            <td colspan="1">
                                                <strong>Requirement ID</strong>
                                            </td>
                                            <td colspan="5">
                                                {{auctionItem.requirementID}}
                                            </td>
                                        </tr>

                                        <tr style="text-align:left;" ng-if="loadExcel == true">
                                            <td colspan="1">
                                                <strong>Requirement Title</strong>
                                            </td>
                                            <td colspan="5">
                                                {{auctionItem.title}}
                                            </td>
                                        </tr>

                                        <!--<tr style="text-align:left;" ng-if="loadExcel == true">
                                            <td colspan="1">
                                                <strong>Posted time</strong>
                                            </td>
                                            <td colspan="5">
                                                {{postedOnForExcel}}
                                            </td>
                                        </tr>

                                        <tr style="text-align:left;" ng-if="loadExcel == true">
                                            <td colspan="1">
                                                <strong>Negotiation Start Time</strong>
                                            </td>
                                            <td colspan="5">
                                                
                                                {{((auctionItem.status == 'UNCONFIRMED')?"NA":startTimeForExcel)}}

                                            </td>
                                        </tr>

                                        <tr style="text-align:left;" ng-if="loadExcel == true">
                                            <td colspan="1">
                                                <strong>Negotiation End Time</strong>
                                            </td>
                                            <td colspan="5">
                                               
                                                {{((auctionItem.status == 'UNCONFIRMED')?"NA":endTimeForExcel)}}
                                            </td>
                                        </tr>-->

                                        <tr ng-if="loadExcel == true">
                                            <td colspan="1">
                                                &nbsp;
                                            </td>
                                            <td colspan="5">
                                                &nbsp;
                                            </td>
                                        </tr>

                                        <tr style="font-weight: bold">
                                            <td class="pull-left" style="width:100%">
                                                <table style="width:100%;min-width:200px;">
                                                    <tr>
                                                        <td>
                                                            <table class="table">
                                                                <tr><td style="background-color:#3b5998;color:white;"><span class="prmellipsis1">Item Name</span><br />Quantity-Units</td></tr>
                                                                <tr>
                                                                    <td style="line-height:33px;">
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <small>AIRLINES</small>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr ng-if="!showMinimized"><td style="line-height:33px;"><small>ROUTING</small></td></tr>
                                                                <tr ng-if="!showMinimized"><td style="line-height:33px;"><small>TRANSIT</small></td></tr>
                                                                <tr><td style="line-height:33px;"><small>TARIFF</small></td></tr>
                                                                <tr><td style="line-height:33px;"><small>OFFERED RATE</small></td></tr>
                                                                <tr ng-show="auctionItem.auctionVendors[0].isQuotationRejected == 0"><td style="line-height:33px;"><small title="REVISED OFFERED RATE">REV OFFERED RATE</small></td></tr>

                                                                <tr ng-if="!showMinimized"><td style="line-height:33px;"><small>FSC</small></td></tr>
                                                                <tr ng-if="!showMinimized"><td style="line-height:33px;"><small>SSC</small></td></tr>
                                                                <tr ng-if="!showMinimized"><td style="line-height:33px;"><small>MISC</small></td></tr>

                                                                <tr><td style="line-height:33px;"><small title="OTHER CHARGES">OTHER CGS</small></td></tr>
                                                                <tr ng-show="auctionItem.auctionVendors[0].isQuotationRejected == 0"><td style="line-height:33px;"><small title="REVISED OTHER CHARGES">REV OTHER CGS</small></td></tr>

                                                                <tr ng-if="!showMinimized"><td style="line-height:33px;"><small>X-RAY</small></td></tr>
                                                                <!--<tr ng-if="!showMinimized"><td style="line-height:33px;"><small>TERMINAL HANDLING</small></td></tr>


                                                                <tr><td style="line-height:33px;"><small title="CUSTOM CLEARANCE">CUSTOM CLR</small></td></tr>
                                                                <tr><td style="line-height:33px;"><small title="CUSTOM CLEARANCE">REV CUSTOM CLR</small></td></tr>


                                                                <tr><td style="line-height:33px;"><small title="SERVICE CHARGES">SERVICE.CGS</small></td></tr>
                                                                <tr><td style="line-height:33px;"><small title="REVISED SERVICE CHARGES">REV SERVICE CGS</small></td></tr>-->

                                                                <tr ng-if="!showMinimized"><td style="line-height:33px;"><small>AMS</small></td></tr>

                                                                <tr ng-if="!showMinimized"><td style="line-height:33px;"><small>AWB FEES</small></td></tr>
                                                                <tr ng-if="!showMinimized"><td style="line-height:33px;"><small>AIRLINES DG FEES</small></td></tr>
                                                                <tr ng-if="!showMinimized"><td style="line-height:33px;"><small>FORWORD DG FEES</small></td></tr>



                                                                <tr><td><strong>TOTAL</strong></td></tr>
                                                                <tr><td><strong>REV TOTAL</strong></td></tr>

                                                            </table>
                                                        </td>
                                                    </tr>

                                                </table>
                                            </td>
                                            <td ng-repeat="RI in auctionItemVendor.auctionVendors[0].listReqItems">
                                                <table ng-if="RI.isEnabled" class="pull-left text-center" style="width:100%;min-width:230px">
                                                    <tr>
                                                        <td ng-repeat="QI in RI.listQuotationItems track by $index">
                                                            <table class="table table-responsive z-depth-1 clear-both" ng-if="QI.isEnabled">
                                                                <tr title="{{RI.productIDorName}}">
                                                                    <td class="text-center" style="background-color:#3b5998;color:white;">
                                                                        <span class="prmellipsis1">{{RI.productIDorName}}</span> <br /> ({{RI.productQuantity}} {{RI.productQuantityIn}}) <span ng-if="!quotationFieldsDisableOrHide"><strong ng-click="AddAirLine(RI,QI)" class="text-success" role="button" ng-if="$index <= 0"> &#10010; Airline</strong> <strong ng-click="DeleteAirLine(RI,QI, $index)" class="text-danger" role="button" ng-if="$index > 0"> &#10006; Airline</strong></span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <div class="row" style="min-width:230px">
                                                                            <div class="col-md-12" ng-if="notLoadExcel == true">
                                                                                <input class="text-center form-control" type="text" ng-model="QI.airline" ng-disabled="((auctionItem.status == 'NOTSTARTED' || auctionItem.status == 'UNCONFIRMED') && auctionItem.auctionVendors[0].isQuotationRejected == 0)" placeholder="Airline Name" title=" Item Name: {{RI.productIDorName}} &#013;Quantity: {{RI.productQuantity}} {{RI.productQuantityIn}} &#013;Airlines: {{QI.airline}}  &#013;Field: AIRLINES NAME" />
                                                                            </div>
                                                                            <div ng-if="loadExcel == true">
                                                                                {{QI.airline}}
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr ng-if="!showMinimized">
                                                                    <td>
                                                                        <div class="row">
                                                                            <div class="col-md-12" ng-if="notLoadExcel == true">
                                                                                <input class="text-center form-control" type="text" ng-model="QI.routing" ng-disabled="quotationFieldsDisableOrHide" placeholder="Routing" title=" Item Name: {{RI.productIDorName}} &#013;Quantity: {{RI.productQuantity}} {{RI.productQuantityIn}} &#013;Airlines: {{QI.airline}}  &#013;Field: ROUTING" />
                                                                            </div>
                                                                            <div ng-if="loadExcel == true">
                                                                                {{QI.routing}}
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr ng-if="!showMinimized">
                                                                    <td>
                                                                        <div class="row">
                                                                            <div class="col-md-12"  ng-if="notLoadExcel == true">
                                                                                <input class="text-center form-control" type="text" ng-model="QI.transit" ng-disabled="quotationFieldsDisableOrHide" placeholder="Transit" title=" Item Name: {{RI.productIDorName}} &#013;Quantity: {{RI.productQuantity}} {{RI.productQuantityIn}} &#013;Airlines: {{QI.airline}}  &#013;Field: TRANSIT" />
                                                                            </div>
                                                                            <div ng-if="loadExcel == true">
                                                                                {{QI.transit}}
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <div class="row">
                                                                            <div class="col-md-12" ng-if="notLoadExcel == true">
                                                                                <!--<input type="checkbox" parse-int ng-true-value="1" ng-false-value="0" ng-model="QI.unitTariffType" ng-change="GetTotal();" id="eye" />-->
                                                                                <input class="text-center form-control"  allow-negative="false" type="number" step="any" ng-model="QI.unitTariff" ng-disabled="quotationFieldsDisableOrHide" ng-change="GetTotal();" placeholder="Tariff" title=" Item Name: {{RI.productIDorName}} &#013;Quantity: {{RI.productQuantity}} {{RI.productQuantityIn}} &#013;Airlines: {{QI.airline}}  &#013;Field: TARIFF" />
                                                                            </div>
                                                                            <div ng-if="loadExcel == true" valid-number allow-decimal="true" allow-negative="false">
                                                                                {{QI.unitTariff}}

                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr >
                                                                    <td>
                                                                        <div class="row">
                                                                            <div class="col-md-12" ng-if="notLoadExcel == true" valid-number allow-decimal="true" allow-negative="false">
                                                                                <input ng-disabled="auctionItem.status == 'STARTED' || auctionItem.status == 'Negotiation Ended' && quotationFieldsDisableOrHide" type="checkbox" parse-int ng-true-value="1" ng-false-value="0" ng-model="QI.unitPriceType" ng-change="GetTotal();" id="eye" />
                                                                                <input class="text-center form-control" type="number" step="any" ng-model="QI.unitPrice" ng-disabled="quotationFieldsDisableOrHide" ng-change="GetTotal();" placeholder="Rate" title=" Item Name: {{RI.productIDorName}} &#013;Quantity: {{RI.productQuantity}} {{RI.productQuantityIn}} &#013;Airlines: {{QI.airline}}  &#013;Field: RATE" />
                                                                            </div>
                                                                            <div ng-if="loadExcel == true" valid-number allow-decimal="true" allow-negative="false">
                                                                                <span ng-if="QI.unitPriceType == 0" >{{QI.unitPrice}}</span><span ng-if="QI.unitPriceType == 1" style="color:brown">{{QI.unitPrice}}</span>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr ng-show="auctionItem.auctionVendors[0].isQuotationRejected == 0">
                                                                    <td>
                                                                        <div class="row">
                                                                            <div class="col-md-12" ng-if="notLoadExcel == true" valid-number allow-decimal="true" allow-negative="false">
                                                                                <input ng-disabled="auctionItem.status == 'STARTED' || auctionItem.status == 'Negotiation Ended'" type="checkbox" parse-int ng-true-value="1" ng-false-value="0" ng-model="QI.revUnitPriceType" ng-change="GetTotal();" id="eye" />
                                                                                <input class="text-center form-control"  type="number" step="any" ng-model="QI.revUnitPrice"  ng-disabled="revQuotationFieldsDisableOrHide" ng-change="GetTotal();makeBidUnitPriceValidation(QI.revUnitPrice, QI.TemperoryRevUnitPrice, RI.productIDorName);" placeholder="Rate" title=" Item Name: {{RI.productIDorName}} &#013;Quantity: {{RI.productQuantity}} {{RI.productQuantityIn}} &#013;Airlines: {{QI.airline}}  &#013;Field: REVISED RATE" />
                                                                            </div>
                                                                            <div ng-if="loadExcel == true" valid-number allow-decimal="true" allow-negative="false">
                                                                                <span ng-if="QI.revUnitPriceType == 0" >{{QI.revUnitPrice}}</span><span ng-if="QI.revUnitPriceType == 1" style="color:brown">{{QI.revUnitPrice}}</span>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr ng-if="!showMinimized">
                                                                    <td>
                                                                        <div class="row">
                                                                            <div class="col-md-12" ng-if="notLoadExcel == true" valid-number allow-decimal="true" allow-negative="false">
                                                                                <input ng-disabled="auctionItem.status == 'STARTED' || auctionItem.status == 'Negotiation Ended'" type="checkbox" parse-int ng-true-value="1" ng-false-value="0" ng-model="QI.fscType" ng-change="GetTotal();" id="eye" />
                                                                                <input class="text-center form-control" type="number" step="any" ng-model="QI.fsc" ng-disabled="quotationFieldsDisableOrHide" ng-change="GetTotal();" placeholder="FSC" title=" Item Name: {{RI.productIDorName}} &#013;Quantity: {{RI.productQuantity}} {{RI.productQuantityIn}} &#013;Airlines: {{QI.airline}}   &#013;Field: FSC" />
                                                                            </div>
                                                                            <div ng-if="loadExcel == true" valid-number allow-decimal="true" allow-negative="false">
                                                                                <span ng-if="QI.fscType == 0" >{{QI.fsc}}</span><span ng-if="QI.fscType == 1" style="color:brown">{{QI.fsc}}</span>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr ng-if="!showMinimized">
                                                                    <td>
                                                                        <div class="row">
                                                                            <div class="col-md-12" ng-if="notLoadExcel == true" valid-number allow-decimal="true" allow-negative="false">
                                                                                <input ng-disabled="auctionItem.status == 'STARTED' || auctionItem.status == 'Negotiation Ended'" type="checkbox" parse-int ng-true-value="1" ng-false-value="0" ng-model="QI.sscType" ng-change="GetTotal();" id="eye" />
                                                                                <input class="text-center form-control" type="number" step="any" ng-model="QI.ssc" ng-disabled="quotationFieldsDisableOrHide" ng-change="GetTotal();" placeholder="SSC" title=" Item Name: {{RI.productIDorName}}  &#013;Quantity: {{RI.productQuantity}} {{RI.productQuantityIn}} &#013;Airlines: {{QI.airline}}  &#013;Field: SSC" />
                                                                            </div>
                                                                            <div ng-if="loadExcel == true" valid-number allow-decimal="true" allow-negative="false">
                                                                                <span ng-if="QI.sscType == 0" >{{QI.ssc}}</span><span ng-if="QI.sscType == 1" style="color:brown">{{QI.ssc}}</span>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr ng-if="!showMinimized">
                                                                    <td>
                                                                        <div class="row">
                                                                            <div class="col-md-12" ng-if="notLoadExcel == true" valid-number allow-decimal="true" allow-negative="false">
                                                                                <input ng-disabled="auctionItem.status == 'STARTED' || auctionItem.status == 'Negotiation Ended'" type="checkbox" parse-int ng-true-value="1" ng-false-value="0" ng-model="QI.miscType" ng-change="GetTotal();" id="eye" />
                                                                                <input class="text-center form-control" type="number" step="any" ng-model="QI.misc" ng-disabled="quotationFieldsDisableOrHide" ng-change="GetTotal();" placeholder="MISC" title=" Item Name: {{RI.productIDorName}} &#013;Quantity: {{RI.productQuantity}} {{RI.productQuantityIn}} &#013;Airlines: {{QI.airline}}  &#013;Field: MISC" />
                                                                            </div>
                                                                            <div ng-if="loadExcel == true" valid-number allow-decimal="true" allow-negative="false">
                                                                                <span ng-if="QI.miscType == 0">{{QI.misc}}</span><span ng-if="QI.miscType == 1" style="color:brown">{{QI.misc}}</span>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td>
                                                                        <div class="row">
                                                                            <div class="col-md-12" ng-if="notLoadExcel == true" valid-number allow-decimal="true" allow-negative="false">
                                                                                <input ng-disabled="auctionItem.status == 'STARTED' || auctionItem.status == 'Negotiation Ended'" type="checkbox" parse-int ng-true-value="1" ng-false-value="0" ng-model="QI.otherChargesType" ng-change="GetTotal();" id="eye" />
                                                                                <input class="text-center form-control" type="number" step="any" ng-model="QI.otherCharges" ng-disabled="quotationFieldsDisableOrHide" ng-change="GetTotal();" placeholder="Other Charges" title=" Item Name: {{RI.productIDorName}} &#013;Quantity: {{RI.productQuantity}} {{RI.productQuantityIn}} &#013;Airlines: {{QI.airline}} &#013;Field: OTHER CHARGES" />
                                                                            </div>
                                                                            <div ng-if="loadExcel == true" valid-number allow-decimal="true" allow-negative="false">
                                                                                <span ng-if="QI.otherChargesType == 0">{{QI.otherCharges}}</span><span ng-if="QI.otherChargesType == 1" style="color:brown">{{QI.otherCharges}}</span>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr ng-show="auctionItem.auctionVendors[0].isQuotationRejected == 0">
                                                                    <td>
                                                                        <div class="row">
                                                                            <div class="col-md-12" ng-if="notLoadExcel == true" valid-number allow-decimal="true" allow-negative="false">
                                                                                <input ng-disabled="auctionItem.status == 'STARTED' || auctionItem.status == 'Negotiation Ended'" type="checkbox" parse-int ng-true-value="1" ng-false-value="0" ng-model="QI.revOtherChargesType" ng-change="GetTotal();" id="eye" />
                                                                                <input class="text-center form-control" type="number" step="any" ng-model="QI.revOtherCharges" ng-disabled="revQuotationFieldsDisableOrHide" ng-change="GetTotal();makeBidUnitPriceValidation(QI.revOtherCharges, QI.TemperoryRevOtherCharges, RI.productIDorName);" placeholder="Rev Other Chareges" title=" Item Name: {{RI.productIDorName}} &#013;Quantity: {{RI.productQuantity}} {{RI.productQuantityIn}} &#013;Airlines: {{QI.airline}} &#013;Field: REVISED OTHER CHARGES" />
                                                                            </div>
                                                                            <div ng-if="loadExcel == true" valid-number allow-decimal="true" allow-negative="false">
                                                                                <span ng-if="QI.revOtherChargesType == 0">{{QI.revOtherCharges}}</span><span ng-if="QI.revOtherChargesType == 1" style="color:brown">{{QI.revOtherCharges}}</span>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>

                                                                <tr ng-if="!showMinimized">
                                                                    <td>
                                                                        <div class="row">
                                                                            <div class="col-md-12" ng-if="notLoadExcel == true" valid-number allow-decimal="true" allow-negative="false">
                                                                                <input ng-disabled="auctionItem.status == 'STARTED' || auctionItem.status == 'Negotiation Ended'" type="checkbox" parse-int ng-true-value="1" ng-false-value="0" ng-model="QI.xRayType" ng-change="GetTotal();" id="eye" />
                                                                                <input class="text-center form-control" type="number" step="any" ng-model="QI.xRay" ng-disabled="quotationFieldsDisableOrHide" ng-change="GetTotal();" placeholder="X-Ray" title=" Item Name: {{RI.productIDorName}} &#013;Quantity: {{RI.productQuantity}} {{RI.productQuantityIn}} &#013;Airlines: {{QI.airline}}  &#013;Field: X-RAY" />
                                                                            </div>
                                                                            <div ng-if="loadExcel == true" valid-number allow-decimal="true" allow-negative="false">
                                                                                <span ng-if="QI.xRayType == 0">{{QI.xRay}}</span><span ng-if="QI.xRayType == 1" style="color:brown">{{QI.xRay}}</span>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <!--<tr ng-if="!showMinimized">
                                <td>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="checkbox" parse-int ng-true-value="1" ng-false-value="0" ng-model="QI.terminalHandlingType" ng-change="GetTotal();" id="eye" />
                                            <input class="text-center form-control" type="number" step="any" ng-model="QI.terminalHandling" ng-disabled="quotationFieldsDisableOrHide" ng-change="GetTotal();" placeholder="Terminal Handling" title=" Item Name: {{RI.productIDorName}} &#013;Quantity: {{RI.productQuantity}} {{RI.productQuantityIn}} &#013;Airlines: {{QI.airline}}  &#013;Field: TerminalHandling" />

                                        </div>
                                    </div>
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="checkbox" parse-int ng-true-value="1" ng-false-value="0" ng-model="QI.customClearanceType" ng-change="GetTotal();" id="eye" />
                                            <input class="text-center form-control" type="number" step="any" ng-model="QI.customClearance" ng-disabled="quotationFieldsDisableOrHide" ng-change="GetTotal();" placeholder="Customes" title=" Item Name: {{RI.productIDorName}} &#013;Quantity: {{RI.productQuantity}} {{RI.productQuantityIn}} &#013;Airlines: {{QI.airline}} &#013;Field: CUSTOM CLEARANCE" />

                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="checkbox" parse-int ng-true-value="1" ng-false-value="0" ng-model="QI.revCustomClearanceType" ng-change="GetTotal();" id="eye" />
                                            <input class="text-center form-control" type="number" step="any" ng-model="QI.revCustomClearance" ng-disabled="revQuotationFieldsDisableOrHide" ng-change="GetTotal();" placeholder="Rev Customes" title=" Item Name: {{RI.productIDorName}} &#013;Quantity: {{RI.productQuantity}} {{RI.productQuantityIn}} &#013;Airlines: {{QI.airline}} &#013;Field: REV CUSTOM CLEARANCE" />

                                        </div>
                                    </div>
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="checkbox" parse-int ng-true-value="1" ng-false-value="0" ng-model="QI.serviceChargesType" ng-change="GetTotal();" id="eye" />
                                            <input class="text-center form-control" type="number" step="any" ng-model="QI.serviceCharges" ng-disabled="quotationFieldsDisableOrHide" ng-change="GetTotal();" placeholder="Service Charges" title=" Item Name: {{RI.productIDorName}} &#013;Quantity: {{RI.productQuantity}} {{RI.productQuantityIn}} &#013;Airlines: {{QI.airline}} &#013;Field: SERVICE CHARGES" />

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="checkbox" parse-int ng-true-value="1" ng-false-value="0" ng-model="QI.revServiceChargesType" ng-change="GetTotal();" id="eye" />
                                            <input class="text-center form-control" type="number" step="any" ng-model="QI.revServiceCharges" ng-disabled="revQuotationFieldsDisableOrHide" ng-change="GetTotal();" placeholder="Rev Service Charges" title=" Item Name: {{RI.productIDorName}} &#013;Quantity: {{RI.productQuantity}} {{RI.productQuantityIn}} &#013;Airlines: {{QI.airline}} &#013;Field: REVISED SERVICE CHARGES" />

                                        </div>
                                    </div>
                                </td>
                            </tr>-->

                                                                <tr ng-if="!showMinimized">
                                                                    <td>
                                                                        <div class="row">
                                                                            <div class="col-md-12" ng-if="notLoadExcel == true" valid-number allow-decimal="true" allow-negative="false">
                                                                                <input ng-disabled="auctionItem.status == 'STARTED' || auctionItem.status == 'Negotiation Ended'" type="checkbox" parse-int ng-true-value="1" ng-false-value="0" ng-model="QI.amsType" ng-change="GetTotal();" id="eye" />
                                                                                <input class="text-center form-control" type="number" step="any" ng-model="QI.ams" ng-disabled="quotationFieldsDisableOrHide" ng-change="GetTotal();" placeholder="AMS" title=" Item Name: {{RI.productIDorName}} &#013;Quantity: {{RI.productQuantity}} {{RI.productQuantityIn}} &#013;Airlines: {{QI.airline}}  &#013;Field: AMS" />
                                                                            </div>
                                                                            <div ng-if="loadExcel == true" id="eye" valid-number allow-decimal="true" allow-negative="false">
                                                                                <span ng-if="QI.amsType == 0">{{QI.ams}}</span><span ng-if="QI.amsType == 1" style="color:brown">{{QI.ams}}</span>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>

                                                                <tr ng-if="!showMinimized">
                                                                    <td>
                                                                        <div class="row">
                                                                            <div class="col-md-12" ng-if="notLoadExcel == true" valid-number allow-decimal="true" allow-negative="false">
                                                                                <input ng-disabled="auctionItem.status == 'STARTED' || auctionItem.status == 'Negotiation Ended'" type="checkbox" parse-int ng-true-value="1" ng-false-value="0" ng-model="QI.awbFeesType" ng-change="GetTotal();" id="eye" />
                                                                                <input class="text-center form-control" type="number" step="any" ng-model="QI.awbFees" ng-disabled="quotationFieldsDisableOrHide" ng-change="GetTotal();" placeholder="AWB Fee" title=" Item Name: {{RI.productIDorName}} &#013;Quantity: {{RI.productQuantity}} {{RI.productQuantityIn}} &#013;Airlines: {{QI.airline}} &#013;Field: AWB FEES" />
                                                                            </div>
                                                                            <div ng-if="loadExcel == true" id="eye" valid-number allow-decimal="true" allow-negative="false">
                                                                                <span ng-if="QI.awbFeesType == 0">{{QI.awbFees}}</span><span ng-if="QI.awbFeesType == 1" style="color:brown">{{QI.awbFees}}</span>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr ng-if="!showMinimized">
                                                                    <td>
                                                                        <div class="row">
                                                                            <div class="col-md-12" ng-if="notLoadExcel == true" valid-number allow-decimal="true" allow-negative="false">
                                                                                <input ng-disabled="auctionItem.status == 'STARTED' || auctionItem.status == 'Negotiation Ended'" type="checkbox" parse-int ng-true-value="1" ng-false-value="0" ng-model="QI.cgFeesType" ng-change="GetTotal();" id="eye" />
                                                                                <input class="text-center form-control" type="number" step="any" ng-model="QI.cgFees" ng-disabled="quotationFieldsDisableOrHide" ng-change="GetTotal();" placeholder="DG Fee" title=" Item Name: {{RI.productIDorName}} &#013;Quantity: {{RI.productQuantity}} {{RI.productQuantityIn}} &#013;Airlines: {{QI.airline}} &#013;Field: AIRLINES DG FEES" />
                                                                            </div>
                                                                            <div ng-if="loadExcel == true" id="eye" valid-number allow-decimal="true" allow-negative="false">
                                                                                <span ng-if="QI.cgFeesType == 0">{{QI.cgFees}}</span><span ng-if="QI.cgFeesType == 1" style="color:brown">{{QI.cgFees}}</span>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr ng-if="!showMinimized">
                                                                    <td>
                                                                        <div class="row">
                                                                            <div class="col-md-12" ng-if="notLoadExcel == true" valid-number allow-decimal="true" allow-negative="false">
                                                                                <input ng-disabled="auctionItem.status == 'STARTED' || auctionItem.status == 'Negotiation Ended'" type="checkbox" parse-int ng-true-value="1" ng-false-value="0" ng-model="QI.forwordDgFeesType" ng-change="GetTotal();" id="eye" />
                                                                                <input class="text-center form-control" type="number" step="any" ng-model="QI.forwordDgFees" ng-disabled="quotationFieldsDisableOrHide" ng-change="GetTotal();" placeholder="Forword DG Fee" title=" Item Name: {{RI.productIDorName}} &#013;Quantity: {{RI.productQuantity}} {{RI.productQuantityIn}} &#013;Airlines: {{QI.airline}} &#013;Field: FORWORD DG FEES" />
                                                                            </div>
                                                                            <div ng-if="loadExcel == true" id="eye" valid-number allow-decimal="true" allow-negative="false">
                                                                                <span ng-if="QI.forwordDgFeesType == 0">{{QI.forwordDgFees}}</span><span ng-if="QI.forwordDgFeesType == 1" style="color:brown">{{QI.forwordDgFees}}</span>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>


                                                                <tr>
                                                                    <td class="text-center" valid-number allow-decimal="true" allow-negative="false">
                                                                        <strong title=" Item Name: {{RI.productIDorName}} &#013;Quantity: {{RI.productQuantity}} {{RI.productQuantityIn}} &#013;Airlines: {{QI.airline}}  &#013;Field: Total">
                                                                            <span ng-bind-html="QI.itemPrice | roundedDecimalDisplay : companyRoundingDecimalSetting"></span>
                                                                        </strong>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-center" valid-number allow-decimal="true" allow-negative="false">
                                                                        <strong title=" Item Name: {{RI.productIDorName}} &#013;Quantity: {{RI.productQuantity}} {{RI.productQuantityIn}} &#013;Airlines: {{QI.airline}}  &#013;Field: Revised Total">
                                                                            <span ng-bind-html="QI.revitemPrice | roundedDecimalDisplay : companyRoundingDecimalSetting"></span>
                                                                        </strong>
                                                                    </td>
                                                                </tr>




                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr ng-if="loadExcel == true">
                                            <td colspan="1">
                                                &nbsp;
                                            </td>
                                            <td colspan="5">
                                                &nbsp;
                                            </td>
                                        </tr>

                                        <tr style="text-align:left;" ng-if="loadExcel == true">
                                            <td colspan="1">
                                                <strong>Warranty</strong>
                                            </td>
                                            <td colspan="5">
                                                {{warranty}}
                                            </td>
                                        </tr>

                                        <tr style="text-align:left;" ng-if="loadExcel == true">
                                            <td colspan="1">
                                                <strong>Price Validity</strong>
                                            </td>
                                            <td colspan="5">
                                                {{validity}}
                                            </td>
                                        </tr>

                                        <tr style="text-align:left;" ng-if="loadExcel == true">
                                            <td colspan="1">
                                                <strong>Remark</strong>
                                            </td>
                                            <td colspan="5">
                                                {{otherProperties}}
                                            </td>
                                        </tr>

                                        <tr style="text-align:left;" ng-if="loadExcel == true">
                                            <td colspan="1">
                                                <strong>Delivery Terms</strong>
                                            </td>
                                            <td colspan="5">
                                                {{duration}}
                                            </td>
                                        </tr>

                                        <tr style="text-align:left;" ng-if="loadExcel == true">
                                            <td colspan="1">
                                                <strong>Payment Terms</strong>
                                            </td>
                                            <td colspan="5">
                                                {{payment}}
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                            <div class="col-md-4">

                                <div ng-style="showMinimizedStyle">
                                    <table class="table z-depth-1 clear-both table-striped table-bordered">
                                        <tr>
                                            <td style="background-color:#3b5998;color:white;"><strong>ITEM NAME <input class="top-half-buffer" type="checkbox" ng-change="enableOrDisable(enableAll);" ng-model="enableAll" ng-value="true" /></strong></td>
                                            <td class="text-center" style="background-color:#3b5998;color:white;"><strong>PRICE</strong></td>
                                        </tr>
                                        <tr ng-repeat="RI in auctionItemVendor.auctionVendors[0].listReqItems track by $index">
                                            <td>
                                                <input ng-model="RI.isEnabled" type="checkbox" value="true" />
                                                <label>
                                                    {{$index + 1}}. {{RI.productIDorName}} ( Airlines :
                                                    <label ng-repeat="QI in RI.listQuotationItems track by $index" title="{{QI.airline}}">
                                                        <label ng-if="QI.airline"> @ {{$index + 1}};&nbsp; </label>
                                                    </label>)
                                                </label>
                                            </td>
                                            <td class="text-center">
                                                <span ng-bind-html="RI.listQuotationItems[0].revitemPrice | roundedDecimalDisplay : companyRoundingDecimalSetting"></span>
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                                <small class="text-danger">Note: Primary airline price will treat as Item Price.</small>
                                <strong class="row">
                                    Initial Price: <span ng-bind-html="auctionItemVendor.auctionVendors[0].initialPrice | roundedDecimalDisplay : companyRoundingDecimalSetting"></span> &nbsp;&nbsp; | &nbsp;&nbsp; Revised Price: <span ng-bind-html="auctionItemVendor.auctionVendors[0].revVendorTotalPrice | roundedDecimalDisplay : companyRoundingDecimalSetting"></span>
                                    <!--Initial Price: <span {{auctionItemVendor.auctionVendors[0].initialPrice > 0?auctionItemVendor.auctionVendors[0].initialPrice : 'NA' | roundedDecimalDisplay : companyRoundingDecimalSetting}}></span> &nbsp;&nbsp; | &nbsp;&nbsp; Revised Price: <span ng-bind-html="auctionItemVendor.auctionVendors[0].revVendorTotalPrice | roundedDecimalDisplay : companyRoundingDecimalSetting"></span>-->
                                </strong>

                                <div class="row" id="timer" ng-if="showTimer && !isDeleted">
                                    <div class="col-md-12 text-left">
                                        <h4>
                                            {{timeLeftMessage}}
                                            <timer style="font-size:30px" countdown="auctionItem.timeLeft" ng-style="timerStyle" interval="1000">{{ddays}}:{{hhours}}:{{mminutes}}:{{sseconds}}</timer>
                                            <label title=" Timer Refresh" ng-if="showTimer  && !isDeleted && auctionStarted && auctionItem.status == 'STARTED'" ng-click="recalculate(true)" class='fa fa-sync text-center text-left' style="color:#3b5998;" role="button"></label>
                                        </h4>
                                    </div>
                                </div>

                                <h3 ng-if="!isDeleted" class="text-left" style="margin-top:auto">Price: <span ng-bind-html="auctionItemVendor.auctionVendors[0].revVendorTotalPrice | numToCurrency:auctionItem.currency"></span>&nbsp;<a title="Bid History" class="tm-icon fa fa-history mdc-text-amber" target="_blank" href="prm360.html#/lgstcsBidHistory/{{vendorID}}/{{auctionItem.requirementID}}"></a></h3>
                                <h3 ng-show="auctionStarted &&!isDeleted" class="text-left">Rank: {{((auctionItem.auctionVendors[0].rank==0)?"N/A":auctionItem.auctionVendors[0].rank)}} </h3>

                                <div ng-if="showTimer && !isDeleted && auctionItem.status == 'STARTED'" class="row">
                                    <div class="col-md-12">
                                        <button ng-if="auctionItem.auctionVendors[0].rank > 0" class="btn btn-danger" ng-click="MakeBid();">Make Bid</button> You are reducing:
                                        <span ng-bind-html="previousBidPrice - auctionItemVendor.auctionVendors[0].revVendorTotalPrice | roundedDecimalDisplay : companyRoundingDecimalSetting"></span>
                                    </div>
                                </div>
                                <br />
                                <div ng-if="auctionItem.status == 'STARTED'">
                                    <label ng-if="showTimer && !isDeleted ">Previous Bid Price: {{previousBidPrice}}</label> &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
                                    <label ng-if="showTimer && !isDeleted ">Current  Bid Price: {{auctionItemVendor.auctionVendors[0].revVendorTotalPrice}}</label>
                                </div>
                                

                            </div>
                        </div>

                        <div class="row" ng-if="(auctionItem.status == 'UNCONFIRMED' || auctionItem.status == 'NOTSTARTED') && auctionItem.isQuotationPriceLimit">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                                <h3 ng-show="auctionItem.isQuotationPriceLimit"> Quotation Price Limit &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #e62739">{{auctionItem.quotationPriceLimit }}</span> </h3>
                            </div>
                        </div>

                        <span ng-if="auctionItem.multipleAttachments && auctionItem.isTabular" class="row card-body card-padding" ">
                            <strong>Requirement Attachments: </strong>
                            <label ng-if="attch.fileID > 0" ng-repeat="attch in auctionItem.multipleAttachments">
                                {{$index + 1}}.<a target="_blank" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionid}}">Download</a>
                                &nbsp;&nbsp;&nbsp;&nbsp;<br />
                            </label>

                            <!--<a target="_blank" href="FileDownload.aspx?attachid={{auctionItem.attachmentName}}&sessionid={{sessionid}}">Download</a>-->
                        </span>

                        <br />
                        <div class="row fltleft" ng-show="auctionItem.reqComments">
                            <div class="col-md-12">
                                <strong>Terms & Conditions / Comments: </strong><span ng-show="auctionItem.reqComments">{{auctionItem.reqComments}}</span>
                            </div>
                            <div class="form-group fg-float col-md-4 m-b-30 top-half-buffer">

                                <strong>Accept Terms & Conditions: &nbsp;&nbsp;&nbsp;</strong>
                                <label>
                                    <input type="radio" ng-model="auctionItem.auctionVendors[0].isAcceptedTC" ng-value='1'>
                                    Accept
                                </label>
                                <label>
                                    <input type="radio" ng-model="auctionItem.auctionVendors[0].isAcceptedTC" ng-value='0'>
                                    Reject
                                </label>
                            </div>
                        </div>


                        <br />
                        <br />

                        <div class="row">
                            <div class="form-group col-sm-6 m-b-30 fg-float col-md-4">
                                <div class="fg-line input-field" ng-class="{'fg-toggled': true===true}">
                                    <input ng-disabled="auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED' && auctionItem.status != 'Negotiation Ended'" type="text" ng-model="warranty" id="warranty" name="warranty" class="form-control" required>
                                    <label class="fg-label">Warranty</label>
                                </div>
                            </div>
                            <div class="form-group col-sm-6 m-b-30 fg-float col-md-4">
                                <div class="fg-line input-field" ng-class="{'fg-toggled': true===true}">
                                    <input ng-disabled="auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED' && auctionItem.status != 'Negotiation Ended'" type="text" ng-model="validity" id="validity" name="validity" class="form-control" required>
                                    <label class="fg-label">Price Validity</label>
                                </div>
                            </div>
                            <div class="form-group col-sm-6 m-b-30 fg-float col-md-4">
                                <div class="fg-line input-field" ng-class="{'fg-toggled': true===true}">
                                    <input ng-disabled="auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED' && auctionItem.status != 'Negotiation Ended'" type="text" ng-model="otherProperties" id="otherProperties" name="otherPropertiesName" class="form-control" required>
                                    <label class="fg-label" ng-if="auctionItem.isDiscountQuotation != 2">Remark</label>
                                </div>
                            </div>
                            <div class="col-md-6 form-group fg-float ">
                                <div class="fg-line input-field" ng-class="{'fg-toggled': true===true}">
                                    <input ng-disabled="auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED' && auctionItem.status != 'Negotiation Ended'" type="text" ng-model="duration" id="duration" name="duration" class="form-control" required>
                                    <label class="fg-label">Delivery Terms</label>
                                </div>
                            </div>
                            <div class="col-md-6 form-group fg-float">
                                <div class="fg-line input-field" ng-class="{'fg-toggled': true===true}">
                                    <input ng-disabled="auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED' && auctionItem.status != 'Negotiation Ended'" type="text" ng-model="payment" id="payment" name="payment" class="form-control" required>
                                    <label class="fg-label">Payment Terms</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-4" ng-show="quotationUrl!=''">
                                <h5>
                                    <b>Download Quotation:</b>
                                    <a target="_blank" href="FileDownload.aspx?attachid={{quotationUrl}}&sessionid={{sessionid}}" ng-show="quotationUrl!=''">Download</a>
                                </h5>
                            </div>
                            <div class="col-sm-6 col-md-4" ng-show="revquotationUrl!=''">
                                <h5>
                                    <b>Download Revised Quotation:</b>
                                    <a target="_blank" href="FileDownload.aspx?attachid={{revquotationUrl}}&sessionid={{sessionid}}" ng-show="revquotationUrl!=''">Download</a>
                                </h5>
                            </div>

                            <div class="form-group fg-float col-sm-6 m-b-30 col-md-4" ng-if="!quotationFieldsDisableOrHide">
                                <button ng-show="auctionItemVendor.auctionVendors[0].isSent == 0" ng-disabled="disableSubmitQuotation" class='btn btn-info btn-sm' href='javascript:void(0);' ng-click="SubmitQuotation(0)">Save</button>
                                <button ng-disabled="disableSubmitQuotation || (auctionItem.auctionVendors[0].isAcceptedTC == 0 && auctionItem.reqComments)" class='btn btn-info btn-sm' href='javascript:void(0);' ng-click="SubmitQuotation(1)">Submit Quotation</button>
                                <br/>
                                <small ng-show="auctionItem.auctionVendors[0].isAcceptedTC == 0 && auctionItem.reqComments" class="text-danger"><strong>Accept Terms & Conditions to enable submit quotation</strong></small>
                            </div>
                            <div class="form-group fg-float col-sm-6 m-b-30 col-md-4" ng-if="!revQuotationFieldsDisableOrHide && auctionItem.status == 'Negotiation Ended'">
                                <button ng-disabled="disableSubmitQuotation || (auctionItem.auctionVendors[0].isAcceptedTC == 0 && auctionItem.reqComments)" class='btn btn-info btn-sm' href='javascript:void(0);' ng-click="SubmitQuotation()">Submit Revised Quotation</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #endregion Card 2 -->
                <!-- #region Card 4 -->
                <div class="white-box" ng-show="auctionItem.requirementID > 0">
                    <div class="row">
                        <div class="table-responsive z-depth-1 clear-both">
                            <table class="table table-hover " style="background-color:#FFF;">
                                <thead>
                                    <tr style="font-weight: bold">
                                        <th>S.NO</th>
                                        <th>PRODUCT</th>
                                        <th>DESC</th>
                                        <th>NET WT</th>
                                        <th>GROSS WT</th>
                                        <th>UNITS</th>
                                        <th>TYPE OF <br />PACKING</th>
                                        <th>MODE OF <br />SHIPMENT</th>
                                        <th>NATURE OF<br /> GOODS</th>
                                        <th>STORAGE <br />CONDITION</th>
                                        <th>PORT OF<br /> LOADING</th>
                                        <th>FINAL<br /> DESTINATION</th>
                                        <th>PORT OF<br /> DESTINATION</th>
                                        <th>PREFERRED <br />AIRLINES</th>
                                        <th>PALLETIZE</th>
                                        <th>NUMBER</th>
                                        <th>DIMENSIONS</th>
                                        <th>FILE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="product in auctionItem.listRequirementItems">
                                        <td> {{$index + 1}} </td>
                                        <td> {{product.productIDorName}} </td>
                                        <td> {{product.productDescription}} </td>
                                        <td> {{product.netWeight}} </td>
                                        <td> {{product.productQuantity}} </td>
                                        <td> {{product.productQuantityIn}} </td>
                                        <td> {{product.typeOfPacking}} </td>
                                        <td> {{product.modeOfShipment}} </td>
                                        <td>
                                            {{product.natureOfGoods == 1?'HAZ':'NON-HAZ'}}
                                        </td>
                                        <td> {{product.storageCondition}} </td>
                                        <td> {{product.portOfLanding}} </td>
                                        <td> {{product.finalDestination}} </td>
                                        <td> {{product.deliveryLocation}} </td>
                                        <td> {{product.preferredAirlines}} </td>
                                        <td> <span ng-if="product.ispalletize > 0">Yes</span><span ng-if="product.ispalletize <= 0">No</span>  </td>
                                        <td> {{product.palletizeQty}} </td>
                                        <td> <span ng-if="product.ispalletize > 0">{{product.palletizeLength}}(L) x {{product.palletizeBreadth}}(B) x {{product.palletizeHeight}}(H)</span><span ng-if="product.ispalletize == 0">N/A</span> </td>
                                        <td>
                                            <a ng-if="product.productImageID > 0" target="_blank" href="FileDownload.aspx?attachid={{product.productImageID}}&sessionid={{sessionid}}">Download</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="white-box" ng-show="auctionItem.requirementID > 0">
                    <div class="card">
                        <div class="card-body">

                            <div class="white-box">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h3 class="box-title"><i class="fa fa-truck" style="color: #ec335f;"></i><strong> Delivery Terms</strong></h3>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Timelines:</label>
                                                    <br>
                                                    <strong class="hyphenate" ng-bind-html="deliveryTime"></strong>
                                                </div>
                                            </div>
                                            <!--<div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Location:</label>
                                                    <br>
                                                    <strong class="hyphenate" ng-bind-html="deliveryLocation"></strong>
                                                </div>
                                            </div>-->
                                            <div class="col-md-6" ng-if="userIsOwner  && !isDeleted">
                                                <!--<div class="form-group">
                                                    <label class="control-label">Category:</label>
                                                    <br>
                                                    <strong>{{auctionItem.category[0]}}</strong>
                                                </div>-->
                                            </div>
                                            <div class="col-md-6">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 class="box-title"><i class="fa fa-dollar-sign" style="color: #ec335f;"></i><strong> Payment Terms</strong></h3>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label">Timelines:</label>
                                                    <br>
                                                    <strong class="hyphenate" ng-bind-html="paymentTerms"></strong>
                                                </div>
                                            </div>

                                            <div class="col-md-6" ng-if="userIsOwner  && !isDeleted">
                                                <div class="form-group">
                                                    <label class="control-label">Technical Evaluation:</label>
                                                    <br>
                                                    <strong>{{techEval}}<span ng-if="!selectedQuestionnaire">No Tech Evaluation</span></strong>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="white-box requirement-specifications">
                        <h3 class="box-title"><strong>Negotiation Rules</strong></h3>
                        <div class="row ">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Quotation Freeze Time:</label>
                                    <br>
                                    <strong>{{auctionItem.quotationFreezTime}}</strong>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Exp.Negotiation Start Time:</label>
                                    <br>
                                    <strong>{{auctionItem.expStartTime}}</strong>
                                </div>
                            </div>
                            <div class="col-md-4 ">
                                <div class="form-group ">
                                    <label class="control-label">Negotiation Duration:</label>
                                    <br>
                                    <strong>{{auctionItem.negotiationDuration}}</strong>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <label class="control-label">Minimum Reduction Amount:</label>
                                    <br>
                                    <strong>&nbsp; {{auctionItem.minBidAmount}}</strong>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" ng-if="userIsOwner">
                                    <label class="control-label">Min Price Difference Between Vendors:</label>
                                    <br>
                                    <strong>{{auctionItem.minVendorComparision}}</strong>
                                </div>
                            </div>

                            <!--<div class="col-md-4 ">
                                <div class="form-group">
                                    <label class="control-label">Transaction Type:</label>
                                    <br>
                                    <strong ng-if="auctionItem.isDiscountQuotation == 0">PRICE</strong>
                                    <strong ng-if="auctionItem.isDiscountQuotation == 1">DISCOUNT</strong>
                                    <strong ng-if="auctionItem.isDiscountQuotation == 2">MARGIN</strong>
                                </div>
                            </div>-->

                        </div>
                    </div>
                </div>
                <div class="white-box" ng-show="auctionItem.requirementID">
                    <div class="row">
                        Posted On:<strong> {{auctionItem.postedOn}} </strong> By:<strong> {{auctionItem.custFirstName}} {{auctionItem.custLastName}}</strong>
                    </div>
                </div>

                <div class="white-box" ng-show="!auctionItem.requirementID">
                    <div class="card-body card-padding">
                        <h3>Loading Data, please wait...</h3>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>