@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900);
/*Theme Colors*/
/*bootstrap Color*/
/*Normal Color*/
/*Border radius*/
/*Preloader*/
.preloader {
  width: 100%;
  height: 100%;
  top: 0px;
  position: fixed;
  z-index: 99999;
  background: #fff;
}
.preloader .cssload-speeding-wheel {
  position: absolute;
  top: calc(50% - 3.5px);
  left: calc(50% - 3.5px);
}
/*Just change your choise color here its theme Colors*/
/*body {
  background: #fff;
}*/
/*Top Header Part*/
.logo i {
  color: #ffffff;
}
.navbar-header {
    background: #51aa51;
}
.navbar-top-links > li > a {
  color: #ffffff;
}
.sidebar .sidebar-head {
  background: #115980;
}
.sidebar .sidebar-head h3 {
  color: #fff;
}
/*Right panel*/
.right-sidebar .rpanel-title {
  background: #f44336;
}
/*Bread Crumb*/
.bg-title .breadcrumb .active {
  color: #f44336;
}
/*Sidebar*/
.sidebar {
  background: #115980;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}
.sidebar .label-custom {
  background: #01c0c8;
}
#side-menu li a {
  color: #fff;
}
#side-menu li a {
  color: #fff;
  border-left: 0px solid #fff;
}
#side-menu > li > a:hover,
#side-menu > li > a:focus {
  background: rgba(0, 0, 0, 0.07);
}
#side-menu > li > a.active {
  background: #377ba0;
  color: #ffffff;
  
}
#side-menu ul > li > a:hover {
  color: #377ba0;
}
#side-menu ul > li > a.active {
  color: #377ba0;
}
.user-profile .user-pro-body .u-dropdown {
  color: #54667a;
}
/*themecolor*/
.bg-theme {
  background-color: #707cd2 !important;
}
.bg-theme-dark {
  background-color: #f44336 !important;
}
/*Button*/
.btn-custom {
  background: #f44336;
  border: 1px solid #f44336;
  color: #ffffff;
}
.btn-custom:hover {
  background: #f44336;
  opacity: 0.8;
  color: #ffffff;
  border: 1px solid #f44336;
}
/*Custom tab*/
.customtab li.active a,
.customtab li.active a:hover,
.customtab li.active a:focus {
  border-bottom: 2px solid #f44336;
  color: #f44336;
}
.tabs-vertical li.active a,
.tabs-vertical li.active a:hover,
.tabs-vertical li.active a:focus {
  background: #f44336;
  border-right: 2px solid #f44336;
}
/*Nav-pills*/
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  background: #f44336;
  color: #ffffff;
}
/*Extra css*/
.bg-theme {
  background-color: #1e88e5 !important;
}
.panel-themecolor,
.panel-theme {
  border-color: #f44336;
}
.panel-themecolor .panel-heading,
.panel-theme .panel-heading {
  border-color: #f44336;
  color: white;
  background-color: #f44336;
}
.panel-themecolor .panel-heading a,
.panel-theme .panel-heading a {
  color: #ffffff;
}
.panel-themecolor .panel-heading a:hover,
.panel-theme .panel-heading a:hover {
  color: rgba(255, 255, 255, 0.5);
}
.panel-themecolor a,
.panel-theme a {
  color: #f44336;
}
.panel-themecolor a:hover,
.panel-theme a:hover {
  color: #d2190b;
}
