﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebartoggle.left === true }"></aside>
        <link href="js/resources/css/catalogMgmt.css" rel="stylesheet" />

        <div id="page-wrapper">
            <div class="col-md-12" ng-controller="productViewCtrl">
                <div class="row">
                    <ul style="padding-left:30px" class="tab-nav " data-ng-include="'template/catalogProfile-menu.html'"></ul>
                </div>
                <div class="white-box">
                    
                        <div class="pmb-block">
                            <div class="container-fluid" style="padding-left:20px">
                                <div class="clearfix">
                                    
                                        <div class="col-md-12">
                                            <ul class="breadcrumb" style="background-color:inherit">
                                                <li><a href="#/products">Home</a></li>
                                                <li><a href="#/products">Products</a></li>
                                                <li class="active">
                                                    <a href="#">{{productDetails.prodName}}</a>
                                                </li>
                                            </ul>
                                            <div class="pull-right">
                                                <div class="btn-group" ng-hide="productId>0">
                                                    <button class="btn btn-secondary btn-sm btn-o dropdown-toggle" data-toggle="dropdown">
                                                        <i class="fa fa-lg fa-ellipsis-h"></i>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="" role="button" ng-click="editProduct(productDetails.prodId)" aria-hidden="true"><i class="fa fa-edit" style="color:#057cb5"></i> Edit</a></li>
                                                        <li><a class="" role="button" ng-click="InactiveProduct(productDetails)" aria-hidden="true"><i class="fas fa-ban" style="color:#808080"></i> Inactive</a></li>
                                                        <li><a class="" role="button" ng-click="deleteProduct(productDetails)" aria-hidden="true"><i class="fa fa-trash" style="color:#057cb5"></i> Delete</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="row entity">
                                                <div class="col-sm-2">
                                                    <img id="product-thumbnail" class="img-thumbnail center-block" src="https://static.plytix.com/template/2.0.4/img/no_image.png">
                                                </div>
                                                <div class="col-sm-10">
                                                    <h3>
                                                        <i class="info fa fa-info-circle" id="entity_info" data-original-title="" title=""></i>
                                                        {{productDetails.prodName}}
                                                    </h3>
                                                    <p>
                                                        No: <strong> {{productDetails.prodNo}}</strong>
                                                    </p>
                                                    <p>
                                                        HSN Code: <strong> {{productDetails.prodHSNCode}}</strong>
                                                    </p>
                                                    <p>
                                                        Last modified: <strong> {{productDetails.dateModified}}</strong>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row" style="height:10px;"></div>

                                            <div class="row">
                                                <ul class="nav nav-tabs">
                                                    <li class="active">
                                                        <a href="#ProductGeneraltab" data-toggle="tab" target="_self"><input type="submit" class="btn btn-info btn-wide" value="General"></a>
                                                    </li>
                                                    <li>
                                                        <a href="#ProductCategoriestab" data-toggle="tab" target="_self"><input type="submit" class="btn btn-info btn-wide" value="GL Codes"></a>
                                                    </li>
                                                    <li>
                                                        <a ng-click="productAlalysis(productId)"><input type="submit" class="btn btn-info btn-wide" value="Product Analysis"></a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div id="ProductGeneraltab" class="tab-pane active white-box">
                                                     
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <div class="col-xs-4">
                                                                        <div class="form-group">
                                                                            <label> Product Name</label>
                                                                            <div>
                                                                                <input placeholder="Product Name" type="text" xss-sanitizer class="form-control" ng-model="prodEditDetails.prodName" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-4">
                                                                        <div class="form-group">
                                                                            <label>Product Code</label>
                                                                            <div>
                                                                                <input placeholder="Product Code" type="text" xss-sanitizer class="form-control" ng-model="prodEditDetails.prodCode" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-4">
                                                                        <div class="form-group">
                                                                            <label> Product HSN Code</label>
                                                                            <div>
                                                                                <input placeholder="Product HSN Code" type="text" xss-sanitizer class="form-control" ng-model="prodEditDetails.prodHSNCode" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <div class="col-xs-4">
                                                                    <div class="form-group">
                                                                        <label>Quantity Units</label>
                                                                        <div>
                                                                            <select style="margin-left:-5px;" name="productQuantityIn" class="form-control" ng-model="prodEditDetails.prodQty" ng-options="opt.configValue as opt.configValue for opt in companyItemUnits" class="form-control"></select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-4">
                                                                    <div class="form-group">
                                                                        <label>Alternative Quantity Units</label>
                                                                        <div>
                                                                            <select style="margin-left:-5px;" name="productQuantityIn" class="form-control" ng-model="prodEditDetails.prodAlternateUnits" ng-options="opt.configValue as opt.configValue for opt in companyItemUnits" class="form-control"></select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-4" ng-hide="true">
                                                                    <div class="form-group">
                                                                        <label>Conversion of Units</label>
                                                                        <div>
                                                                            <input placeholder="Conversion of Units" type="text" xss-sanitizer class="form-control" ng-model="prodEditDetails.unitConversion" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-4">
                                                                    <div class="form-group">
                                                                        <label>Product No</label>
                                                                        <div>
                                                                            <input placeholder="edit Product No" type="text" xss-sanitizer class="form-control" ng-model="prodEditDetails.prodNo" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <div class="col-xs-4" ng-hide="true">
                                                                    <div class="form-group">
                                                                        <label>Product No</label>
                                                                        <div>
                                                                            <input placeholder="Product No" type="text" xss-sanitizer class="form-control" ng-model="prodEditDetails.prodNo" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-4">
                                                                    <div class="form-group">
                                                                        <label>Warranty Period & Shelf-life period</label>
                                                                        <div>
                                                                            <input placeholder="Warranty Period" type="text" xss-sanitizer class="form-control" ng-model="prodEditDetails.shelfLife" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-4" ng-hide="true">
                                                                    <div class="form-group">
                                                                        <label>Weight, Volume etc.,</label>
                                                                        <div>
                                                                            <input placeholder="Weight, Volume etc." type="text" xss-sanitizer class="form-control" ng-model="prodEditDetails.productVolume" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-4">
                                                                    <div class="form-group">
                                                                        <label>Product Description</label>
                                                                        <div>
                                                                            <textarea placeholder="edit Product Description" type="text" xss-sanitizer class="form-control" ng-model="prodEditDetails.prodDesc" />
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>

                                                        <div class="row" style="height:400px;max-height: 400px;overflow-y:auto;">
                                                            <div class="col-md-12" ng-if="vendorsList && vendorsList.length > 0">
                                                                <div class="row" ng-init="limit = 100">
                                                                    <div ng-repeat="vendor in vendorsList | limitTo: limit as results" class="col-md-4">
                                                                        <input type="checkbox" class="js-switch text-danger" data-color="#4ad965" data-secondary-color="#057cb5"
                                                                               ng-model="vendor.isAssignedToProduct" />
                                                                        <a target="_blank" href="prm360.html#/viewprofile/{{vendor.userID}}">
                                                                            {{vendor.companyName}}
                                                                        </a>
                                                                    </div>
                                                                    <div role="button" ng-show="results.length < vendorsList.length" ng-click="limit = limit + 100;" title="Show more 100.">
                                                                        <a><strong>Show more...({{results.length}} out of {{vendorsList.length}})</strong></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12" ng-if="!vendorsList || vendorsList.length == 0">
                                                                <label class="text-danger">
                                                                    Loading...
                                                                </label>
                                                            </div>
                                                        </div>



                                                    </div>
                                                    <div id="ProductAttributestab" class="tab-pane white-box">
                                                        <div class="row">
                                                            <div class="col-md-12 col-xs-12">
                                                                <div class="row">
                                                                    <div class="form-group col-md-8 col-xs-8">
                                                                        <ul class="list-unstyled" ng-model="Properties">
                                                                            <li ng-repeat="prop in Properties">
                                                                                <div class="row">

                                                                                    <div class="col-md-1">
                                                                                        <label>
                                                                                            <input type="checkbox" ng-model="prop.propChecked" ng-click="propCheckChanged(prop)" />
                                                                                        </label>
                                                                                    </div>
                                                                                    <div class="col-xs-6" ng-if="prop.propDataType == 'text'">
                                                                                        <label>{{prop.propName}}</label>
                                                                                        <div ng-show="prop.propChecked">
                                                                                            <input class="form-control" xss-sanitizer ng-model="prop.propValue" ng-change="propModified(prop)" type="text" value="">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-xs-6" ng-if="prop.propDataType == 'multiline'">
                                                                                        <label>{{prop.propName}}</label>
                                                                                        <div ng-show="prop.propChecked">
                                                                                            <textarea class="form-control" xss-sanitizer ng-model="prop.propValue" ng-change="propModified(prop)" rows="3"></textarea>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-xs-6" ng-if="prop.propDataType == 'drop'">
                                                                                        <label>{{prop.propName}}</label>
                                                                                        <div ng-show="prop.propChecked">
                                                                                            <select class="form-control" ng-change="propModified(prop)" ng-model="prop.propValue" ng-options="opt for opt in prop.propOptions.split('^^') "></select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-xs-6" ng-if="prop.propDataType == 'multi'">
                                                                                        <label>{{prop.propName}}</label>
                                                                                        <div ng-show="prop.propChecked">
                                                                                            <select multiple class="form-control" ng-change="propModified(prop)" ng-model="prop.propValue" ng-options="opt for opt in prop.propOptions.split('^^') "></select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-xs-6" ng-if="prop.propDataType == 'int'">
                                                                                        <label>{{prop.propName}}</label>
                                                                                        <div ng-show="prop.propChecked">
                                                                                            <input class="form-control" xss-sanitizer ng-change="propModified(prop)" ng-model="prop.propValue" type="text" value="">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-xs-6" ng-if="prop.propDataType == 'decimal'">
                                                                                        <label>{{prop.propName}}</label>
                                                                                        <div ng-show="prop.propChecked">
                                                                                            <input class="form-control" xss-sanitizer ng-model="prop.propValue" ng-change="propModified(prop)" type="text" value="">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-xs-6" ng-if="prop.propDataType == 'boolean'">
                                                                                        <label>{{prop.propName}}</label>
                                                                                        <div ng-show="prop.propChecked">
                                                                                            <select class="form-control" ng-model="prop.propValue" ng-change="propModified(prop)">
                                                                                                <option value="True">True</option>
                                                                                                <option value="False">False</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-xs-6" ng-if="prop.propDataType == 'date'">
                                                                                        <label>{{prop.propName}}</label>
                                                                                        <div ng-show="prop.propChecked">
                                                                                            <div class="col-md-12" moment-picker="prop.propValue" format="YYYY-MM-DD">
                                                                                                <input class="form-control" ng-change="propModified(prop)" placeholder="select a date (YYYY-MM-DD)" ng-model="prop.propValue" ng-model-options="{ updateOn: 'blur' }">
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>


                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="ProductCategoriestab" class="tab-pane">
                                                        <div class="row white-box">
                                                            <div class="col-xs-6">
                                                                <script type="text/ng-template" id="nodes_category_products.html">
                                                                    <div data-nodrag>
                                                                        <label style="width:12px">
                                                                            <span data-nodrag ng-if="node.subCatCount && node.subCatCount > 0" ng-click="toggle(this);node.isExpand = !node.isExpand" class="glyphicon"
                                                                                  ng-class="collapsed? 'glyphicon-chevron-right' : 'glyphicon-chevron-down'"></span>
                                                                        </label>
                                                                        <label><input type="checkbox" ng-model="node.nodeChecked" ng-click="checkChanged(node, this);productsLimit = 100;" /> &nbsp;&nbsp;{{node.catName}}</label>
                                                                        <label ng-if="node.subCatCount && node.subCatCount > 0" class="font-bold"><!--({{node.subCatCount}})--></label>
                                                                        be
                                                                    </div>
                                                                    <div ng-init="limit = 100">
                                                                        <ul ng-model="node.nodes" ng-if="node.isExpand == true">
                                                                            <li ng-repeat="node in node.nodes | limitTo: limit as results" ng-include="'nodes_category_products.html'" collapsed="true"></li>
                                                                            <li role="button" ng-show="results.length < node.nodes.length" ng-click="limit = limit + 100;" title="Show more 100.">
                                                                                <a>Show more...({{results.length}} out of {{node.nodes.length}})</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </script>
                                                                <div ui-tree id="tree-root">
                                                                    <ul ui-tree-nodes ng-model="nodes">
                                                                        <li ng-repeat="node in nodes" ui-tree-node ng-include="'nodes_category_products.html'" ng-class="collapse" collapsed="true"></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <div class="vl  row">

                                                                    <div class="col-md-6" ng-if="selectedCategories && selectedCategories.length > 0">
                                                                        <p><strong>Selected GL Codes:</strong></p>
                                                                        <script type="text/ng-template" id="selected_nodes.html">
                                                                            <div data-nodrag>
                                                                                <label>&nbsp;&nbsp;{{node.catName}}</label>
                                                                            </div>
                                                                            <!--<ul ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
                                                <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'selected_nodes.html'" collapsed="false">
                                                </li>
                                            </ul>-->
                                                                            <div ng-init="limit = 100">
                                                                                <ul ng-model="node.nodes">
                                                                                    <!--ng-if="node.isExpand == true"-->
                                                                                    <li ng-repeat="node in node.nodes | limitTo: limit as results" ng-include="'selected_nodes.html'" collapsed="true"></li>
                                                                                    <li role="button" ng-show="results.length < node.nodes.length" ng-click="limit = limit + 100;" title="Show more 100.">
                                                                                        <a>Show more...({{results.length}} out of {{node.nodes.length}})</a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </script>
                                                                        <div ui-tree id="tree-root-selected">
                                                                            <ul ui-tree-nodes ng-model="selectedCategories">
                                                                                <li ng-repeat="node in selectedCategories" ui-tree-node ng-include="'selected_nodes.html'" ng-class="collapse" collapsed="false"></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <!--<div class="col-md-6">
                                        <input type="button" class="btn btn-info btn-wide" value="Save Categories" ng-click="SaveProductCategories()">
                                    </div>-->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    
                                </div>
                            </div>
                        </div>
                    

                </div>




            </div>
        </div>
    </div>
</div>
