
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebartoggle.left === true }"></aside>


        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="catalogMgmtCtrl">
                <div class="row">
                    <div class="row">
                        <div class="col-md-12">

                            <ul class="nav nav-tabs">
                                <li>
                                    <a data-target="#Generaltab" data-toggle="tab">General</a>
                                </li>
                                <li>
                                    <a data-target="#Attributetab" data-toggle="tab">Attribute</a>
                                </li>
                                <li class="active">
                                    <a data-target="#Categorytab" data-toggle="tab">category</a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                <div id="Generaltab" class="tab-pane">
                                    <h3> general page</h3>
                                    <p> general page content</p>
                                </div>
                                <div id="Attributetab" class="tab-pane">

                                    <!--<div class="">
                                        <div class="row">

                                            <h4 class="modal-title" id="createAttributeLabel">Product attribute</h4>
                                        </div>
                                        <div class="white-box">



                                                <div class="form-group">
                                                    <label for="name">
                                                        Name
                                                    </label>
                                                    <div>
                                                        <input class="form-control" id="name" name="name" type="text" value="">

                                                    </div>
                                                    <script>
                                                             $(document).ready(function() {
                                                            $('.info').popover({html: true});
                                                               });
                                                    </script>
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        <i class="info fa fa-question-circle" data-toggle="popover" data-placement="bottom" data-original-title="" data-title="Internal name" data-content="'The Label is used for import purposes and will be automatically generated when saving the Product Attribute"></i>
                                                        Label
                                                    </label>
                                                    <input class="form-control" disabled="disabled" id="label" name="label" type="text" value="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="">
                                                        Assign to group
                                                    </label>
                                                    <div>
                                                        <div class="select2-container form-control" id="s2id_group"><a class="select2-choice" tabindex="-1">   <span class="select2-chosen" id="select2-chosen-2">-</span><abbr class="select2-search-choice-close"></abbr>   <span class="select2-arrow" role="presentation"><b role="presentation"></b></span></a><label for="s2id_autogen2" class="select2-offscreen"></label><input class="select2-focusser select2-offscreen" type="text" aria-haspopup="true" role="button" aria-labelledby="select2-chosen-2" id="s2id_autogen2"></div><select name="group" id="group" class="form-control" tabindex="-1" title="" style="display: none;">
                                                            <option value="">-</option>
                                                            <option value="5af2a00d0e19070484e8b858">grouping</option>
                                                            <option value="5af2c0da0e19070fbfa96847">New Group</option>
                                                            <option value="5af2cd620e19070485bdd93f">gn</option>
                                                        </select>

                                                    </div>
                                                    <script>
                                                                 $(document).ready(function() {
                                                                  $('.info').popover({html: true});
                                                                    });
                                                    </script>
                                                </div>


                                                <div class="form-group">
                                                    <label for="">
                                                        Type
                                                    </label>
                                                    <div>
                                                        <select name="type" id="type" class="form-control">
                                                            <option selected="" value="text">Short Text</option>
                                                            <option value="multiline">Paragraph</option>
                                                            <option value="drop">Dropdown</option>
                                                            <option value="multi">Multiselect</option>
                                                            <option value="date">Date</option>
                                                            <option value="int">Integer Number</option>
                                                            <option value="decimal">Decimal Number</option>
                                                            <option value="url">URL</option>
                                                            <option value="boolean">True/False (Boolean)</option>
                                                            <option value="html">Rich Text</option>
                                                            <option value="media">Media (Single)</option>
                                                            <option value="media_gallery">Media Gallery</option>
                                                            <option value="completeness">Completeness</option>
                                                        </select>

                                                    </div>
                                                    <script>
                                                            $(document).ready(function() {
                                                             $('.info').popover({html: true});
                                                                });
                                                    </script>
                                                </div>






                                                <div id="related-attributes-wrapper" style="display: none;">
                                                    <div class="form-group">
                                                        <label for="attributes">
                                                            Attributes
                                                        </label>
                                                        <div>
                                                            <div class="select2-container select2-container-multi form-control" id="s2id_attributes">
                                                                <ul class="select2-choices">
                                                                    <li class="select2-search-field">
                                                                        <label for="s2id_autogen1" class="select2-offscreen">
                                                                            Attributes
                                                                        </label>    <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input" id="s2id_autogen1" placeholder="" style="width: 34px;">
                                                                    </li>
                                                                </ul><div class="select2-drop select2-drop-multi select2-display-none">   <ul class="select2-results">   <li class="select2-no-results">No matches found</li></ul></div>
                                                            </div><select multiple="multiple" id="attributes" name="attributes" class="form-control" tabindex="-1" style="display: none;">
                                                                <option value="size">size</option>
                                                                <option value="color1">color1</option>
                                                                <option value="certificate">Certificate</option>
                                                                <option value="dimension">dimension</option>
                                                                <option value="color">color</option>
                                                                <option value="measurements">Measurements</option>
                                                                <option value="sku">SKU</option>
                                                                <option value="label">Label</option>
                                                                <option value="categories">Categories</option>
                                                                <option value="thumbnail">Images</option>
                                                                <option value="modified">Last modification</option>
                                                            </select>

                                                        </div>
                                                        <script type="text/javascript">
                                                                 $(document).ready(function () {
                                                                 $("#attributes").select2({
                                                                   allowClear: true
                                                                      });
                                                                  })
                                                        </script>
                                                        <script>
                                                            $(document).ready(function() {
                                                                $('.info').popover({html: true});
                                                                  });
                                                        </script>
                                                    </div>

                                                </div>

                                            <div class="">
                                                <div class="row">
                                                    <div class="col-xs-2 text-left">
                                                        <a class="cancel" >cancel</a>
                                                    </div>
                                                    <div class="col-xs-10">
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="create-another">
                                                            <span>Create another</span>
                                                        </label>
                                                        <button type="button" class="btn btn-primary  btn-wide" id="save-product-attribute">Save</button>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="white-box">
                                            <div class="table table-responsive">
                                                <table class="table table-hover table-responsive z-depth-1 clear-both">
                                                    <thead>
                                                        <tr style="font-weight: bold">
                                                            <td style="width:5%"></td>
                                                            <td style="width:15%">Name</td>
                                                            <td style="width:10%">Label</td>
                                                            <td style="width:10%">Type</td>
                                                            <td style="width:8%">Action</td>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="storeitem in companyStoreItemsTemp">
                                                            <td style="width:5%">
                                                                <input type="checkbox">
                                                            </td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>


                                                            <td data-title="'Actions'" sortable="'Actions'">

                                                                <a ><i class="fa fa-edit"></i></a>

                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>-->





                                </div>


                                <div id="Categorytab" class="tab-pane active">
                                    <div class="row">

                                        <div class="col-md-12">
                                            <div class="categories-controls ng-scope">
                                                <!-- ngIf: ctrl.resetenabled -->
                                                <a class="link" ng-click="expandAll()"><i class="glyphicon glyphicon-resize-full "></i>Expand</a> &nbsp;

                                                <a class="link" ng-click="collapseAll()"><i class="glyphicon glyphicon-resize-small"></i>Collapse</a>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-12">

                                        <script type="text/ng-template" id="nodes_renderer.html">
                                            <div ui-tree-handle class="tree-node tree-node-content" data-nodrag>
                                                <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)">
                                                    <span class="glyphicon"
                                                          ng-class="{
                                                 'glyphicon-chevron-right': collapsed,
                                                  'glyphicon-chevron-down': !collapsed
                                                 }"></span>
                                                </a>
                                                <input type="checkbox">


                                                <label>  <strong ng-click="getsub(this)">>>>></strong> {{node.title}} | {{node.id}} | {{node.parentID}}</label>
                                                <!--<input ng-show="node.editNodeEnabled" type="text" style="width:60%" ng-model="node.title">-->


                                                <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </a>

                                                <a ng-if="!addNewNodeEnabled" class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="addItem(this);addCategory()">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </a>


                                                <!--<a ng-show="!node.editNodeEnabled" class="pull-right btn btn-info btn-xs" data-nodrag ng-click="edit(this, true);updatecategory(this,true)">
                                                    <span class="glyphicon glyphicon-edit"></span>
                                                </a>
                                                <a ng-show="node.editNodeEnabled" class="pull-right btn btn-info btn-xs" data-nodrag ng-click="edit(this, false);updatecategory(this,false)">
                                                    <span class="fa fa-check"></span>
                                                </a>-->
                                                <a class="pull-right btn btn-info btn-xs" data-nodrag ng-click="edit(this);updatecategory(this)">
                                                    <span class="glyphicon glyphicon-edit"></span>
                                                </a>




                                            </div>
                                            <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
                                                <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
                                                </li>
                                            </ol>
                                        </script>








                                        <!--====== Product Category Start ======= -->
                                        <h3>Product GL Codes</h3>
                                        <div class="white-box">

                                            <div class="row">

                                                <div class="col-md-12">

                                                    <div class="col-sm-6">

                                                        <div ui-tree id="tree-root">
                                                            <ol ui-tree-nodes ng-model="data">
                                                                <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                                                            </ol>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6 pull-right">
                                                        <div class="col-md-12">

                                                            <!--<div class="col-md-6 pull-right">-->


                                                            <div class="col-md-12" ng-if="addNewNodeEnabled == true">
                                                                <div class="col-md-6 text-right">
                                                                    <span _ngcontent-c3="" class="display_inline_block">
                                                                        <h4 _ngcontent-c3="">{{parentNode}}|{{cid}}|{{pid}}</h4>
                                                                    </span>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div _ngcontent-c3="" class="col-md-12 editable-controls form-group">
                                                                        <div class="col-md-12">
                                                                            <!--<div class="fg-line" ng-class="{'fg-toggled': (editenablevalue)}">-->
                                                                            <input _ngcontent-c3="" ng-model="mytitle" class="editable-input form-control input-sm ng-pristine ng-valid ng-touched" type="text" placeholder="New GL Code">
                                                                            <!--</div>-->
                                                                            <br />
                                                                            <input _ngcontent-c3="" ng-model="catdesc" class="editable-input form-control input-sm ng-pristine ng-valid ng-touched" type="text" placeholder="GL Name">
                                                                        </div>
                                                                        <br />
                                                                        <div class="col-md-12">

                                                                            <div class="col-md-6 text-left">
                                                                                <a _ngcontent-c3="" ng-click="saveItem(mytitle,catdesc)" class="btn btn-o btn-xs btn-primary">
                                                                                    <i _ngcontent-c3="" class="fa fa-check"></i>
                                                                                </a>
                                                                            </div>

                                                                            <div class="col-md-6">
                                                                                <a class="btn btn-danger btn-xs" ng-click="removeNewNode()">
                                                                                    <span class="glyphicon glyphicon-remove"></span>
                                                                                </a>
                                                                            </div>

                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-12">
                                                                <div>
                                                                    <div class="white-box">
                                                                        <hr>
                                                                        <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#myModal">Create Attribute</button>
                                                                        <h2>Attributes</h2>
                                                                        <span class="clearfix"></span>
                                                                        <hr />


                                                                        <table class="table">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th style="width:5%"></th>
                                                                                    <th>ProductCode</th>
                                                                                    <th>ProductName</th>
                                                                                    <th>ProductDesc</th>
                                                                                    <!--<th>ProductPath</th>-->
                                                                                    <th>Actions</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr ng-repeat="productItem in reqProduct">
                                                                                    <td style="width:5%">
                                                                                        <input type="checkbox">
                                                                                    </td>
                                                                                    <td>{{productItem.prodCode}}</td>
                                                                                    <td>{{productItem.prodName}}</td>
                                                                                    <td>{{productItem.prodDesc}}</td>
                                                                                    <!--<td>{{productItem.prodPath}}</td>-->
                                                                                    <td><a title="Edit Attribute" role="button" ng-click="selectAttribute(reqProduct)" data-toggle="modal" data-target="#myModalEdit" class="fa fa-edit" style="width:30px; height:30px"></a></td>
                                                                                </tr>

                                                                            </tbody>
                                                                        </table>

                                                                    </div>
                                                                    <div class="modal fade" id="myModal" role="dialog">
                                                                        <div class="modal-dialog">

                                                                            <!-- Modal content-->
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                                    <h4 class="modal-title">Product Attribute</h4>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <form class="form-horizontal" action="/action_page.php">

                                                                                        <div class="form-group">
                                                                                            <!--<div class="fg-line" ng-class="{'fg-toggled': (attribut.Name)}">-->
                                                                                            <label class="fg-line">ProductCode</label>
                                                                                            <div class="col-sm-12">
                                                                                                <input type="text" ng-model="reqProduct.prodCode" name="reqProduct" class="form-control" />
                                                                                            </div>
                                                                                            <!--</div>-->
                                                                                        </div>

                                                                                        <div class="form-group">


                                                                                            <label class="fg-line">ProductName</label>
                                                                                            <div class="col-sm-12">
                                                                                                <input class="form-control" ng-model="reqProduct.prodName" name="reqProduct" type="text" value="">
                                                                                            </div>

                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <label class="fg-line">ProductDesc</label>
                                                                                            <div class="col-sm-12">
                                                                                                <input class="form-control" ng-model="reqProduct.prodDesc" name="reqProduct" type="text" value="">
                                                                                            </div>
                                                                                        </div>
                                                                                        <!--<div class="form-group">
                                                                                            <label class="fg-line">ProductPath</label>
                                                                                            <div class="col-sm-12">
                                                                                                <input class="form-control" ng-model="reqProduct.prodPath" name="reqProduct" type="text" value="">
                                                                                            </div>
                                                                                        </div>-->

                                                                                    </form>
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="button" class="btn btn-default" ng-click="addproduct();" data-dismiss="modal">Save</button>
                                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                    <div class="modal fade" id="myModalEdit" role="dialog">
                                                                        <div class="modal-dialog">

                                                                            <!-- Modal content-->
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                                    <h4 class="modal-title">Edit Product Attribute</h4>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <form class="form-horizontal" action="/action_page.php">

                                                                                        <div class="form-group">
                                                                                            <!--<div class="fg-line" ng-class="{'fg-toggled': (attribut.Name)}">-->
                                                                                            <label class="fg-line">ProductCode</label>
                                                                                            <div class="col-sm-12">
                                                                                                <input type="text" ng-model="clickedAttribute.ProductCode" name="attribute" class="form-control" />
                                                                                            </div>
                                                                                            <!--</div>-->
                                                                                        </div>

                                                                                        <div class="form-group">
                                                                                            <label class="fg-line">ProductType</label>
                                                                                            <div class="col-sm-12">
                                                                                                <input type="text" ng-model="clickedAttribute.ProductType" name="attribute" class="form-control" />
                                                                                            </div>



                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <label class="fg-line">ProductDesc</label>
                                                                                            <div class="col-sm-12">
                                                                                                <input type="text" ng-model="clickedAttribute.ProductDesc" name="attribute" class="form-control" />
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <label class="fg-line">ProductPath</label>
                                                                                            <div class="col-sm-12">
                                                                                                <input type="text" ng-model="clickedAttribute.ProductPath" name="attribute" class="form-control" />
                                                                                            </div>




                                                                                        </div>


                                                                                    </form>
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="button" class="btn btn-default" ng-click="updateAttribute()" data-dismiss="modal">Save</button>
                                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!--</div>-->

                                                        </div>

                                                        <!--<div class="col-md-6" ng-show="editReqNodeEnable == true">
                                                            <div class="col-md-12">

                                                                <input _ngcontent-c3=""  ng-model="node.title" class="editable-input form-control input-sm ng-pristine ng-valid ng-touched" type="text" placeholder="Edit New Category">
                                                                <br />
                                                                <input _ngcontent-c3="" ng-model="catdesc" class="editable-input form-control input-sm ng-pristine ng-valid ng-touched" type="text" placeholder="Edit New Description">
                                                            </div>
                                                             <div class="col-md-12">

                                                               <div class="col-md-6 text-left">
                                                                  <a _ngcontent-c3="" ng-click="editItem(this,false)" ng-if="mytitle != ''" class="btn btn-o btn-xs btn-primary">
                                                                      <i _ngcontent-c3="" class="fa fa-check"></i>
                                                                  </a>
                                                               </div>
                                                               <div class="col-md-6">
                                                                   <a class="btn btn-danger btn-xs" ng-click="removeEditNode()">
                                                                      <span class="glyphicon glyphicon-remove"></span>
                                                                    </a>
                                                                </div>

                                                             </div>



                                                        </div>-->


                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>






                                </div>
                            </div>
                        </div>

                    </div>

                </div>





            </div>
        </div>

    </div>
</div>