﻿<style>
        .prodImage {
            height: 170px;
            margin-right: -25px;
            margin-left: -25px;
            margin-top: -25px;
            /*        margin-bottom: 10px;
    */ padding: 5px;
            border-radius: 5px;
        }

        .editButtons {
            display: none;
            /*  position: absolute;
            z-index: 1;
            bottom: 80px;
            left: 0px;*/
        }

        .imageBox:hover .editButtons {
            display: block;
        }
</style>

<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <link href="js/resources/css/catalogMgmt.css" rel="stylesheet" />

        <!--<link href="../../js/resources/css/catalogMgmt.css" rel="stylesheet" />-->
        <div id="page-wrapper">
            <div class="container-fluid" data-ng-controller="catalogProductsCtrl" style="height:700px;">
                <div class="row">
                    <ul style="padding-left:30px" class="tab-nav " data-ng-include="'template/catalogProfile-menu.html'"></ul>
                </div>
                <div class="col-md-12 white-box">
                    <div class="row col-sm-12">
                        <div class="row">
                            <div class="col-md-2">
                                <h2 style="margin-top:-8px;">Products ({{products.length}}/{{totalProducts}})</h2>
                            </div>
                            <div class="dropdown btn-group fg-float col-md-2 m-b-30" style="margin-top:-3px;">
                                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" ng-if="isUserEntitled(591171) || showIsSuperUser()" style="margin:5px;color:white;">
                                    <i class="fa fa-plus-square"></i> Add Products
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li style="cursor:pointer;"><a class="" role="button" ng-click="goToProductAdd()" aria-hidden="true"><i class="fa fa-plus-square"></i>&nbsp;&nbsp; Add New Product</a></li>
                                    <li style="cursor:pointer;"><a class="" role="button" ng-click="exportTemplateToExcel()" aria-hidden="true"><i class="fa fa-download"></i>&nbsp;&nbsp; Download Template</a></li>


                                    <li style="cursor:pointer;">

                                        <div class="fileinput fileinput-new col-md-12" data-provides="fileinput" style="margin-left:6px;margin-top:8px;">
                                            <span class=" btn-file" style="background-color:white;margin-right:35px;">

                                                <span class="fileinput-filename">
                                                    <i class="fa fa-upload" style="color:black;"></i>&nbsp;&nbsp;&nbsp;Upload Product
                                                </span>

                                                <input type="file" accept=".xlsx" id="excelquotationproducts" itemid="excelquotationproducts" ng-file-select="onFileSelect($files)" />

                                            </span>


                                        </div>

                                    </li>

                                </ul>

                            </div>

                            <!--<div class="col-md-3">-->
                                <!--<input class="form-control white attribute-filter ng-pristine ng-valid ng-touched"
                                       ng-change="searchBasedOnRegion(searchRegion)" ng-model="searchRegion" type="text" placeholder="Product Region">-->
                                <!--<select class="form-control" ng-model="searchRegion"
                                        ng-options="type.name as type.name for type in regionArray"
                                        ng-change="searchBasedOnRegion(searchRegion)"></select>
                            </div>-->

                            <div class="col-md-3">
                                <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-model-options="{debounce:500}"   ng-change="searchTable(searchKeyword);" xss-sanitizer ng-model="searchKeyword" type="text" placeholder="Product Name">

                            </div>
                            <div class="col-md-2">
                                <div _ngcontent-c3="" class="add-filter">
                                    <a _ngcontent-c3="" data-toggle="modal" data-target="#myModal" style="cursor:pointer;color:#057cb5" ng-click="addfilter()">
                                        <i _ngcontent-c3="" class="fa fa-plus"></i> Add Filter
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <span class="glyphicon glyphicon-th-list" title="List View" ng-click="listView()" style="font-size:1.3em;padding-top:5px;cursor:pointer;color:{{listColor}}"></span> &nbsp; &nbsp;
                                <span class="glyphicon glyphicon-th" title="Grid View" ng-click="gridView()" onclick="w3_close()" style="font-size:1.3em;padding-top:5px;cursor:pointer;color:{{gridColor}}"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive" style="height:550px;max-height: 550px;overflow-y: auto" when-scrolled="getProducts(1,searchingProducts)" ng-if="listViewDisplay">
                                    <table class="table-striped table table-fixed">
                                        <thead>
                                            <tr>
                                                <th scope="col">Product Name</th>
                                                <th scope="col">Product No</th>
                                                <!--<th scope="col">Product Code</th>-->
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="product in products">
                                                <td scope="row"><a> <label style="cursor:pointer;color:#057cb5" ng-click="isUserEntitled(591173) || showIsSuperUser() ? goToProductView(product.prodId): ''">{{product.prodName}}</label></a></td>
                                                <td scope="row"> <label>{{product.prodNo}}</label></td>
                                                <!--<td scope="row"> <label>{{product.prodCode}}</label></td>-->
                                                <td scope="row">
                                                    <a><label style="cursor:pointer" ng-click="isUserEntitled(591172) || showIsSuperUser() ? goToProductEdit(product.prodId) : ''"><i class="far fa-edit" style="color:#057cb5"></i></label></a>
                                                    <a ng-if="showIsSuperUser()"><label style="cursor:pointer" ng-if="product.isValid==1" ng-click="InactiveProduct(product,'Inactive')"><i class="fas fa-ban" aria-hidden="true" style="color:#808080"></i></label></a>
                                                    <a ng-if="showIsSuperUser()"><label style="cursor:pointer" ng-if="product.isValid==2" ng-click="InactiveProduct(product,'active')"><i class="fas fa-check-circle" title="Active" style="color:#057cb5"></i></label></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-12" ng-if="gridViewDisplay">
                                    <div class="row" style="height:550px;max-height: 550px;overflow-y: auto" when-scrolled="getProducts(1,searchingProducts)">

                                        <div class="col-md-2 " style="cursor:pointer" ng-repeat="product in products">
                                            <div class="col-md-12 white-box imageBox">
                                                <div class="prodImage" ng-click="isUserEntitled(591173) || showIsSuperUser() ? goToProductView(product.prodId) : ''" title="{{product.categoryName}}">
                                                    <img ng-if="product.productImage" style="width:100%;height:170px;" src="{{product.productImage}}" />
                                                    <img ng-if="product.productImage == ''" id="product-thumbnail" class="img-thumbnail center-block" src="https://static.plytix.com/template/2.0.4/img/no_image.png">

                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4" style="padding:0px;">
                                                        <a class="btn btn-light btn-block" ng-if="isUserEntitled(591173) || showIsSuperUser()" ng-click="goToProductView(product.prodId)"><i class="fa fa-eye" title="View" style="color:#057cb5"></i></a>
                                                    </div>
                                                    <div class="col-md-4" style="padding:0px;">
                                                        <a class="btn btn-light btn-block" ng-if="isUserEntitled(591172) || showIsSuperUser()" ng-click="goToProductEdit(product.prodId)"><i class="far fa-edit" title="Edit" style="color:#057cb5"></i></a>
                                                    </div>
                                                    <div class="col-md-4" style="padding:0px;" ng-if="showIsSuperUser()">
                                                        <a class="btn btn-light btn-block" ng-if="product.isValid==1" ng-click="InactiveProduct(product,'Inactive')"><i class="fa fa-ban" title="Inactive" style="color:#057cb5"></i></a>
                                                    </div>
                                                    <div class="col-md-4" style="padding:0px;" ng-if="showIsSuperUser()">
                                                        <a class="btn btn-light btn-block" ng-if="product.isValid==2" ng-click="InactiveProduct(product,'active')"><i class="fas fa-check-circle" title="Active" style="color:#057cb5"></i></a>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin-bottom:5px;margin-top:20px;">
                                                        <span title="{{product.prodName}}"><strong>Name : </strong>{{product.prodName}}</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                                        <span><strong>Number : </strong>{{product.prodNo}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <form name="addnewfilterform">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Add Filters</h4>
                                </div>
                                <div class="row modal-body">
                                    <!--<p>Attribute</p>-->

                                    <div class="col-md-12">
                                        <div>
                                            <select class="form-control" ng-model="selectedProperty" ng-change="selectedPropertyCond = ''"
                                                    ng-options="property.propName +' ('+property.propDataType +')' for property in Properties" required></select>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="padding-top: 20px;" ng-show="selectedProperty">
                                        <div>
                                            <select class="form-control" ng-model="selectedPropertyCond" ng-change="selectedPropertyval = ''">
                                                <option value="is defined" ng-if="selectedProperty.propType =='attr'">is defined</option>
                                                <option value="is not defined" ng-if="selectedProperty.propType =='attr'">is not defined</option>
                                                <!--<option value="True" ng-if="selectedProperty.propType =='attr' && selectedProperty.propDataType == 'boolean'">True</option>
                                                <option value="False" ng-if="selectedProperty.propType =='attr' && selectedProperty.propDataType == 'boolean'">False</option>-->
                                                <option value="is equals to" ng-if="['text','multiline','drop', 'date', 'boolean'].indexOf(selectedProperty.propDataType) !== -1">is equals to</option>
                                                <option value="is not equals to" ng-if="['text','multiline','drop', 'date'].indexOf(selectedProperty.propDataType) !== -1">is not equals to</option>
                                                <option value="contains" ng-if="['text','multiline'].indexOf(selectedProperty.propDataType) !== -1">contains</option>
                                                <!-- <option value="contains any of" ng-if="selectedProperty.propDataType == 'multi'">contains any of</option> -->
                                                <option value="is greater than" ng-if="selectedProperty.propDataType == 'date'">is greater than</option>
                                                <option value="is greater or equal to" ng-if="selectedProperty.propDataType == 'date'">is greater or equal to</option>
                                                <option value="is less than" ng-if="selectedProperty.propDataType == 'date'">is less than</option>
                                                <option value="is less or equal to" ng-if="selectedProperty.propDataType == 'date'">is less or equal to</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="padding-top: 20px;" ng-show="selectedPropertyCond">
                                        <div ng-hide="selectedPropertyCond == 'is defined' || selectedPropertyCond == 'is not defined'">
                                            <div ng-show="selectedProperty.propDataType == 'text' || selectedProperty.propDataType == 'multiline'">
                                                <input class="form-control" ng-model="selectedPropertyval1" ng-change="valueChanged(selectedPropertyval1)" type="text" />
                                            </div>
                                            <div ng-show="selectedProperty.propDataType == 'drop'">
                                                <select class="form-control" ng-model="selectedPropertyval2" ng-change="valueChanged(selectedPropertyval2)" ng-options="opt for opt in selectedProperty.propOptions.split('^^')"></select>
                                            </div>
                                            <div ng-show="selectedProperty.propDataType == 'multi'">
                                                <select multiple class="form-control" ng-model="selectedPropertyval3" ng-change="valueChanged(selectedPropertyval3)" ng-options="opt for opt in selectedProperty.propOptions.split('^^')"></select>
                                            </div>
                                            <div ng-show="selectedProperty.propDataType == 'boolean'">
                                                <select class="form-control" ng-model="selectedPropertyval5" ng-change="valueChanged(selectedPropertyval5)">
                                                    <option value="True">True</option>
                                                    <option value="False">False</option>
                                                </select>
                                            </div>
                                            <div ng-show="selectedProperty.propDataType == 'date'">
                                                <div moment-picker="selectedPropertyval4" format="YYYY-MM-DD">
                                                    <input class="form-control" placeholder="Select a date" ng-model="selectedPropertyval4" ng-blur="valueChanged(selectedPropertyval4)" ng-model-options="{ updateOn: 'blur' }">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-info" data-dismiss="modal" ng-click="clearSelections()">Close</button>
                                    </div>
                                    <div class="col-md-2" ng-show="selectedPropertyCond == 'is defined' || selectedPropertyCond == 'is not defined'">
                                        <button type="button" class="btn btn-info" ng-click="savefilters()" ng-disabled="selectedPropertyCond === undefined " data-dismiss="modal">Apply Filter</button>
                                    </div>
                                    <div class="col-md-2" ng-show="selectedPropertyCond !== 'is defined' && selectedPropertyCond !== 'is not defined'">
                                        <button type="button" class="btn btn-info" ng-click="savefilters()" ng-disabled="selectedPropertyCond === undefined|| selectedPropertyval=== undefined" data-dismiss="modal">Apply Filter</button>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
