﻿<div class="white-box">
    <div class="row">

        <div  ng-controller="RealTimePriceSettingsController as _realSettingCtrl" ng-init="_realSettingCtrl.getByPage()">


            <div ng-init="_realSettingCtrl.getfilterData()" class="pmb-block" st-table="_realSettingCtrl.gridOpitions.data">
                <div class="pmbb-header">
                    <div class="row" style="margin-bottom:10px">
                        <div class="col-md-4">
                            <h2 style="display:inline-block;margin:0">
                                <i class="zmdi zmdi-view-list"></i> Real time price configuration
                            </h2>

                        </div>
                        <div class="col-md-8 text-right">


                            <div style="display:inline-block;margin-right:10px">
                                <button class="btn btn-info" ng-click="_realSettingCtrl.saveSetting()">
                                    Save
                                </button>
                            </div>



                        </div>
                    </div>

                    <div class="row" style="margin-bottom:20px">
                        <div class="col-md-4">

                           Allow notification price reached threshold price
                        </div>
                        <div class="col-md-8">

                            <input type="checkbox" ng-model="_realSettingCtrl.RealTimeSettings.AllowThresholdNotification" />
                        </div>
                    </div>


                    <div class="row" style="margin-bottom:20px">
                        <div class="col-md-4">

                            Allow notification on price drop
                        </div>
                        <div class="col-md-8">

                            <input type="checkbox" ng-model="_realSettingCtrl.RealTimeSettings.AllowPriceDipNotification" />
                        </div>
                    </div>


                    <div class="table-responsive z-depth-2">
                        <table class="table table-striped table-vmiddle" show-filter="false">
                            <thead>
                                <tr>
                                    <th class="header">Product</th>
                                    <th  class="header">Active</th>
                                    <th class="Market">Threshold</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in _realSettingCtrl.gridOpitions.data">
                                    <td>
                                        {{row.Product | date}}
                                    </td>
                                    <td>
                                      <input type="checkbox" ng-model="row.Active"/>
                                    </td>
                                    <td>
                                        <input style="width:100px;" type="number" class="form-control" ng-model="row.ThresholdValue"  ng-disabled="!row.Active"/>

                                    </td>

                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>