﻿<header id="header" data-ng-include="'template/header.html'"></header>
<div id="wrapper">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>
    <div id="page-wrapper">
        <div class="container-fluid" ng-controller="storegrnCtrl">
            <div class="row ">
            </div>
            <div class="white-box">
                <div class="box-title col-md-12">
                    <div class="col-md-3 pull-left">
                        <h3>Create GRN</h3>
                    </div>
                    <div class="col-md-9 pull-right">
                        <div class="col-md-1 top-buffer pull-right" ng-if="grnObject.ginCodeLink != ''">
                            <a href="" title="">{{grnObject.ginCodeLink}}</a>
                        </div>
                        <div class="col-md-1 top-buffer pull-right">
                            <button class="btn btn-info btn-new-look" ng-click="cancelClick()">Back</button>
                        </div>
                        <div class="col-md-2 top-buffer pull-right">
                            <button class="btn btn-info btn-new-look" ng-click="generateGrn()">Generate</button>
                        </div>
                    </div>
                </div>

                <!--<div class="card-body card-padding">-->
                <div class="row">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group fg-float col-md-4 m-b-30 top-half-buffer">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || grnObject.indentNo)}">
                                    <input type="text" ng-model="grnObject.indentNo" name="IndentNo" id="IndentNo" class="form-control fg-input" />
                                    <label class="fg-label">Purchase Indent No.</label>
                                </div>
                            </div>
                            <div class="form-group fg-float col-md-4 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || grnObject.grnCode)}">
                                    <input type="text" ng-model="grnObject.grnCode" name="grnCode" id="grnCode" class="form-control fg-input" readonly />
                                    <label class="fg-label">GRN No.</label>
                                </div>
                            </div>

                            <div class="form-group fg-float col-md-4 m-b-30 top-half-buffer">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || grnObject.receivedBy)}">
                                    <input type="text" ng-model="grnObject.receivedBy" name="receivedBy" id="receivedBy" class="form-control fg-input" />
                                    <label class="fg-label">Received By</label>
                                </div>
                            </div>
                            </div>
                        <div class="col-md-12">
                            <div class="form-group fg-float col-md-4 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || grnObject.receiveDate)}">
                                    <div moment-picker="receiveDateVal" format="DD-MM-YYYY HH:mm">
                                        <input type="text" ng-model="receiveDateVal" name="receiveDate" id="receiveDate"  date-only class="form-control fg-input" />
                                        <label class="fg-label">Indenter Date *</label>
                                    </div>
                                    </div>
                                <div ng-show="receiveDateError">
                                    <div class="help-block error logininput">Please enter Valid Date</div>
                                </div>
                            </div>

                            <div class="form-group fg-float col-md-4 m-b-30 top-half-buffer">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || grnObject.checkedBy)}">
                                    <input type="text" ng-model="grnObject.checkedBy" name="checkedBy" id="checkedBy" class="form-control fg-input" />
                                    <label class="fg-label">Checked By</label>
                                </div>
                            </div>

                            <div class="form-group fg-float col-md-4 m-b-30">
                                <div class="fg-line input-field" ng-class="{'fg-toggled': (isEdit===true || grnObject.supplierName)}">
                                    <input type="text" ng-model="grnObject.supplierName" name="supplierName" id="supplierName" class="form-control fg-input" />
                                    <label class="fg-label">Manufacturer Name</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group fg-float col-md-4 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || grnObject.poNo)}">
                                    <input type="text" ng-model="grnObject.poNo" name="poNo" id="poNo" class="form-control fg-input" />
                                    <label class="fg-label">PO No.</label>
                                </div>
                            </div>

                            <div class="form-group fg-float col-md-4 m-b-30">
                                <!--<div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || grnObject.receiveLocation)}">
                                    <input type="text" ng-model="grnObject.deliveryLocation" name="receiveLocation" id="receiveLocation" class="form-control fg-input" />
                                    <label class="fg-label">Receive Location</label>
                                </div>-->
                                <div configkey="GRN_RCV_LOCATION" prm-config-select ng-model="grnObject.deliveryLocation"></div>
                                <label class="fg-label">Receive Location</label>
                            </div>

                            <div class="form-group fg-float col-md-4 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || grnObject.costCenter)}">
                                    <input type="text" ng-model="grnObject.costCenter" name="costCenter" id="costCenter" class="form-control fg-input" />
                                    <label class="fg-label">Credit Period</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group fg-float col-md-4 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || grnObject.poAmount)}">
                                    <input type="text" ng-model="grnObject.poAmount" name="poAmount" id="poAmount" class="form-control fg-input" />
                                    <label class="fg-label">PO Amount</label>
                                </div>
                            </div>
                            <div class="form-group fg-float col-md-4 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || grnObject.paidAmount)}">
                                    <input type="text" ng-model="grnObject.paidAmount" name="paidAmount" id="paidAmount" class="form-control fg-input" />
                                    <label class="fg-label">Advance Paid</label>
                                </div>
                            </div>
                            <div class="form-group fg-float col-md-4 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || grnObject.paymentMode)}">
                                    <div configkey="GRN_PAYMENT_MODE" prm-config-select ng-model="grnObject.paymentMode"></div>
                                    <label class="fg-label">Payment Mode</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group fg-float col-md-4 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || grnObject.indenterName)}">
                                    <input type="text" ng-model="grnObject.indenterName" name="indenterName" id="indenterName" class="form-control fg-input" />
                                    <label class="fg-label">Indenter Name*</label>
                                </div>
                            </div>
                            <div class="form-group fg-float col-md-4 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || grnObject.comments)}">
                                    <textarea ng-model="grnObject.comments" name="comments" id="comments" rows="2" style="resize: vertical;" class="form-control fg-input"></textarea>
                                    <label class="fg-label">Comments</label>
                                </div>
                            </div>
                            <div class="form-group fg-float col-md-4 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || grnObject.itemCondition)}">
                                    <textarea ng-model="grnObject.itemCondition" name="itemCondition" id="itemCondition" rows="2" style="resize: vertical;" class="form-control fg-input"></textarea>
                                    <label class="fg-label">Items Condition</label>
                                </div>
                            </div>
                        </div>
                        </div>
                    <div class="table table-responsive">
                        <table class="table table-hover  z-depth-1 clear-both" style="background-color:#f5f5f5">
                            <thead>
                                <tr style="font-weight: bold">
                                    <td style="width:15%">Item Code (HSN)</td>
                                    <td style="width:20%">Sub Code</td>
                                    <td style="width:5%">Units</td>
                                    <td style="width:10%">Price</td>
                                    <td style="width:10%">Order Qty</td>
                                    <td style="width:10%">Received Qty</td>
                                    <td style="width:10%"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="storeitem in companyStoreItems">
                                    <td>{{storeitem.itemCode}}</td>
                                    <td>{{storeitem.itemName}}</td>
                                    <td>{{storeitem.itemUnits}}</td>
                                    <td>{{storeitem.itemPrice}}</td>
                                    <td>
                                        <input min="0" max="10000000" number-input-val type="number" ng-model="storeitem.orderQty" name="orderQty" id="orderQty" class="form-control fg-input" />
                                    </td>
                                    <td>
                                        <input min="0" max="10000000" number-input-val type="number" ng-model="storeitem.receivedQty" name="receivedQty" id="receivedQty" class="form-control fg-input" />
                                    </td>
                                    <td>
                                        <button class="btn btn-info btn-file btn-new-look" data-target="#storeItemDetails" data-toggle="modal" ng-click="selectSerialNo(storeitem)">Select</button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <span class="pull-right">
                <div class="modal" id="storeItemDetails" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Details</h4>
                            </div>
                            <div class="modal-body" style="max-height:400px;overflow-y:auto;">
                                <div class="pmbb-view" style="overflow-wrap: break-word;">
                                    <table class="table table-hover table-responsive z-depth-1 clear-both" style="background-color:#f5f5f5">
                                        <thead>
                                            <tr style="font-weight: bold">
                                                <td style="width:25%">Serial No.</td>
                                                <td style="width:20%">Warranty</td>
                                                <td style="width:20%">Warranty Date</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="itemDetails in storeItemSerialNos[currentStoreItemID]">
                                                <td>
                                                    <input ng-model="itemDetails.serialNo" name="serialNo" id="serialNo" class="form-control fg-input" />
                                                </td>
                                                <td>
                                                    <input ng-model="itemDetails.warrantyNo" name="warrantyNo" id="warrantyNo" class="form-control fg-input" />
                                                </td>
                                                <td>
                                                    <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || itemDetails.warrantyDate)}">
                                                        <input type="text" ng-model="itemDetails.warrantyDate" name="warrantyDate" id="warrantyDate" datetime-picker date-format="dd-MM-yyyy" date-only class="form-control fg-input" />
                                                    </div>
                                                    <!--<input ng-model="itemDetails.warrantyDate" name="warrantyDate" id="warrantyDate" class="form-control fg-input" />-->
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn btn-info">Done</button>
                            </div>
                        </div>
                    </div>
                </div>
            </span>


        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>






<!--ng-if="showStoreItemObj.StoreItem"-->