
/*Header css*/
#header{
  background: url(../img/images/top-bg.png) center no-repeat;
  background-size:100% 100%;
}

.ha-menu > ul > li.active > *:not(ul) {
    color: #fff;
    box-shadow: inset 0px -3px 0 0px #e93163;
}


.prmredcolor{
    color:#e62739
}

.prmellipsis{
    text-overflow: ellipsis;
}


/*Dashboard css*/

.dashboardContent, #content.page-view, .negotiation_details{
	background: #3b5998;
	/*background: linear-gradient(180deg, #fff 162px, #b2beb5 119px);*/
	/*background:url('../img/background.jpg');*/
    /*background-image:url('../img/background.jpg');*/
    background-repeat:no-repeat;
    background-size:100% 100%;
}

.postrequirement_back{
	margin-bottom: 30px;
    /*padding: 15px;*/
}



p.postrequirement_content{
	font-size: 15px;
	color: #fff;
	text-align: center;
}

.plusicon_color{
	color: #e93163;
    font-size: 24px;
    position: absolute;
    margin-top: -2px;
    margin-left: -17px;
}

.postnow_btn {
	color: #2196f3;
	width: 145px;
	font-size: 16px;
	background:#fff !important;
}

.postnow_btn:hover{
	background:#fff !important;
}

.view_more_btn{
	margin-left: -38px;
    margin-top: -17px;
    background:#fff;
}

.btn-float:not(.bgm-white):not(.bgm-gray).view_more_btn > i
{
	color: #000 !important;
}

.sectiontitle h2{
	font-size: 20px !important;
	color: #000;
}
.sectiontitle h2.postrequirement_h{
	font-size: 20px !important;
	color: #fff;
}
.view_more_text{
	margin-right: 35px;
}

p.detail{
	color: #2196f3;
	font-weight: bolder;
	font-size: 28px;
}

.mini-charts main h4{
	font-size: 18px;
	color: #000;
}

/*Each item*/
.item_title_class{
	font-size: 16px;
	color: #000;	
}

.start_end_time_c{
	font-size: 14px;
	color: #b2beb5;	
}

.item_rank_c{
	font-size: 14px;
	color: #000;	
	white-space: nowrap;
}

/*negotiation_details*/
.negotiation_details{
	/*background: #b2beb5;	*/
	/*background: #b2beb5;	*/
}

.negotiation_outside_card{
	padding: 0px;
}

.outsidefields h4{
	color: #fff;
	font-size: 16px;
	line-height: 28px;
}

.outsidefields h4 b{
	color: #000;
}

button.editRequirement_btn{
	background: #e93163 !important;
	color: #fff !important;
	margin-right: 25px;
}

.btn.btn-new-look{
	background:#e93163 !important;
	color: #fff !important;
}

/*table realted css*/
.quotes_table tbody tr{
    border-bottom: 1px solid #c5c5c5;
    border-top: 1px solid #c5c5c5;
}

.quotes_table tbody tr:nth-child(1){
	background: rgb(62,120,166) !important;  
	color: #fff !important;
}

table > thead > tr{
    border-bottom: 1px solid #c5c5c5 !important;
    border-top: 1px solid #c5c5c5 !important;
}

table > thead > tr:nth-child(1){
	background: rgb(62,120,166) !important;  
	color: #fff !important;	
    white-space: nowrap;
}
table > thead > tr > th{
	background: rgb(62,120,166) !important;  
	color: #fff !important;
}
/*end table related css*/




/*Text Feilds*/
input:focus {
    background-color: 	#dfe3ee;
}

textarea:focus{
    background-color: 	#dfe3ee;
}

/*End Text Feilds*/




/*newrequirement_c*/
.newrequirement_c{
	color: #000;
}

/*#content.page-view{
	background: #b2beb5;
}
*/
.block-header > h2{
	color: #fff;
	font-size: 20px;	
}


/*login screens css*/
.login-content:before {
    background: linear-gradient(90deg, #3b5998 68%, #fff 61% );
    /*background:url('../img/background.jpg');*/
    height: 100%;
}

.white_background{
	background: #fff;
	min-height: 666px;
    padding-bottom: 45px;
}

.login_background{
	/*background:url('../img/background.jpg');*/
	 background-image: url('../img/background.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 666px; 
}

.lc-block{
	width: 325px;
	box-shadow: none;
}/*
.lc-block:not(.lcb-alt){
	margin-left: 65%;
}*/

.btn.login-btn{
	margin-top: 10px;
	width: 100px;
}
.forgotcolor{
	margin-top: 15px;
}
.registerations{
	color: #b2beb5;
}

.lc-block.vendor-registration{
	margin-top: 0px;
}
form.loginForm, form.registerForm, form.vendorregisterForm, form.forgotForm {
    width: 316px;
}

.create-account-btn, .reset-pass-btn{
	margin-top: 10px;
	width: 100%;	
}

.reset-pass-btn{
	margin-top: 25px;
}

.reg-login-button-div{
	font-size:10px;
	margin-bottom: 20px;
}

.forgot-top-content{
	font-size: 10px;
	text-align: justify;
}
.reg-login-button{
	color: #e93163;
}
.registrationDiv{
	width: 316px;
}
#l-register_vendor.lc-block{
	margin-top:0;
	margin-bottom: 0;
}

#l-forget-password.lc-block,#l-login.lc-block{
	padding: 8px;
	margin-top: 35%;
}

.openingpage-content{
	font-size: 30px;
	padding: 100px 100px 20px 100px;
	color: #fff;
	text-align: center;
}

.assurance{
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: left;
	color: #fff;
	padding-left: 90px;
}


.assurance1{
	font-size: 20px;
	padding: 20px 100px 30px 100px;
	color: #fff;
	text-align: center;
}
i.zmdi-css{
	font-size: 45px;
}

#header > ul > li.hidden-xs > a > img{
	height: 62px;
}

.add-new-btn{
	margin-right: 46px;
    margin-top: 15px;
    z-index: 89999;
}

#profile-main .pmb-block {
    padding: 25px 42px 0;
}

/*steps design */

/*.bs-wizard {margin-top: 40px;}*/
/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #fff; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #fff; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/
/*stesps design*/

.home_points{
	list-style-type: lower-alpha;
	color: #fff;
	margin-left:100px;
}

.home_points li {
  transition: all 0.4s ease-out;
  /*opacity: 0.5;*/
  height: 2em;
}
.home_points li.show {
  opacity: 1;
}
.block-header {
    margin-bottom: 15px;
}
.p-t-0{
	padding-top: 0px;
}
.p-b-0{
	padding-bottom: 0px;
}
.p-r-0{
	padding-right: 0px;
}
.p-l-0{
	padding-left: 0px;
}
.p-t-20{
	padding-top: 20px;
}

.vendorsLi .checkbox-inline{
    margin-top: 8px;
}
.multiSelect .checkboxLayer{
	width: 100% !important;
}
.multiSelect > button{
	    width: 100% !important; 
    text-align: left !important;
     border-bottom: 1px solid #c6c6c6 !important;  
     border-right: 0px solid #c6c6c6 !important;  
     border-left: 0px solid #c6c6c6 !important;  
     border-top: 0px solid #c6c6c6 !important;  
     padding: 0px !important;
     background-image: none !important;
}

.m-b-10{
	margin-bottom: 10px;
}
.m-b-20{
	margin-bottom: 20px;
}
.m-t-15{
	margin-top: 15px;
}

.homepage_content{
	color: #fff;
	text-align: center;
}

.m-l-neq-30{
	margin-left: -30px;
}

/*overwrite ngdialog*/
.ngdialog.ngdialog-theme-default {
    padding-bottom: 160px;
    padding-top: 80px;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
    animation: 0.5s ease 0s normal none 1 running ngdialog-flyin;
    background: #f0f0f0 none repeat scroll 0 0 !important;
    border-radius: 5px;
    color: #444;
    font-family: "Helvetica",sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 100%;
    padding: 1em;
    position: relative;
    width: 450px;
}